@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@font-face {
    font-family: 'SDSamliphopangche_Basic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.wrapper-1 {
    max-width: 960px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.wrapper {
    display: block;
    width: 50%;
    margin-left: 25%;
}

.wrapper-product {
    display: block;
    width: 640px;
    margin-left: 160px;
}

.title-wrapper{
    display: flex;
    padding-left: 24px;
    flex-direction: column
}

.title-category{
    display: flex;
    align-items: center;
    color: rgb(162, 162, 162);
}

.title-category-detail{
    border-radius: 24px;
    background-color: rgb(248, 248, 248);
    padding: 6px 10px;
    color: rgb(202, 202, 202);
    display:table;
}

.title-category-detail a{
    font-size: 11px;
    display:table-cell;
    vertical-align:middle;
}

/* .title-divide{
    transform: rotate(13deg);
    margin: 0px 6px;
    width: 1px;
    height: 20px;
    background-color: rgb(202, 202, 202);
} */

/***************************************************************************/
.title-divide{
    position: relative;
    float:left;
    width:10px;
    height:10px;
    margin-right:5px;
}
.title-divide::after {
        position: absolute;
        left: 1px; 
        top: 2px; 
        content: '';
        width: 5px; /* 사이즈 */
        height: 5px; /* 사이즈 */
        border-top: 1px solid rgb(202, 202, 202); /* 선 두께 */
        border-right: 1px solid rgb(202, 202, 202); /* 선 두께 */
        transform: rotate(45deg); /* 각도 */
}
/***************************************************************************/


.title-wrapper h3{
    font-size: 1.25rem;
    font-weight: 700;
}

.divide {
    height: 8px;
    width: 100%;
    background: #f8f8f9;
}

.product-bill-wrapper{
    display: flex;
    padding: 24px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}

.product-bill-wrapper h4{
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.bill-way-title{
    display: flex;
    flex-direction: column;
}

.bill-wrapper-left{
    color: rgb(162, 162, 162);
    margin: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
}

.bill-wrapper-right{
    color: rgb(162, 162, 162);
    margin: 0px;
    font-size: 0.875rem;
    font-weight: 400;
}

.bill-way-wrapper{
    display: flex;
    justify-content: space-between;
}

.bill-divide{
    background-color: rgb(229, 229, 229);
    width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#product-detail-total{
    font-weight: 700;
    color: black;
}

.product-buyer-wrapper{
    display: flex;
    padding: 24px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}

.product-buyer-wrapper h4{
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.product-buyer-wrapper .bill-way-wrapper{
    margin-bottom: 12px;
}

.title-category a{
    text-decoration: none;
    color: rgb(202, 202, 202);
}

/* .font-check{
    font-family: 'SDSamliphopangche_Basic';
} */

#go_to_new_product{
    border: #ffd587;
    background-color: #ffd587;
    height: 48px;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    display:table;
}

#go_to_new_product a{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    display:table-cell;
    vertical-align:middle;
    text-decoration: none;
    color:black;
}

