/* 몸통 */
.hqbodystyle {
    font-size: 16px;
    line-height: 1.6;
    color: #565867;
    font-weight: 400;
    background: #f3f5f7;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    min-height: 100%;
}

.hqcontainer {
    padding-left: 40px;
    padding-right: 40px;
    flex: 1 0 auto;
}

/* 해더 */


.hqheader {
    color: white;
    padding: 35px 0;
    margin-bottom: 7px;
    flex: none;
    position: relative;
    z-index: 10;
    background-size: cover;
    box-shadow: 0 1px 4px 0 rgb(0, 0, 0);
    background-position: 50%;
    background-color: #010d0b;
}

.hqcontent {
    max-width: 100%;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.hmo {
    display: flex;
    align-items: center;
}

.hmo_body {
    flex: 1;
    min-width: 0;
    position: relative;
}

.hheader__logo {
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    z-index: 2;
}

.hlogo-wrap {
    font-family: 'Openas';
    display: block;
    width: auto;
    FONT-WEIGHT: 600;
    font-size: 25px;
    margin-top: 5px;
    color: white;
}

.hheadline {
    font-size: 28px;
    font-weight: 300;
    margin: 0 0 27px;
    color: inherit;
}

.hqsearch {
    position: relative;
}


/* 컨텐츠 */

.hpsection {
    padding-top: 26px;
}


.hpaper {
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
    z-index: 3;
    text-decoration: none;
    overflow: hidden;
    width: 100%;
    display: block;
    outline: none;
    box-shadow: 0 3px 8px 0 rgb(0 0 0 / 3%);
    transition: border .15s linear, transform .15s linear, background-color .15s linear, box-shadow .15s linear, opacity .15s linear;
}

.hcollection {
    position: relative;
    padding-left: 150px;
    margin-block-end: 37px;
}

.hcollection__photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
    height: 100%;
    transition: all .3s linear;
    border-color: #d0d7df;
}
.hcolphoto{
    position: relative;
    width: 48px;
    height: 48px;
    transition: stroke .1s linear;
    top: 50%;
    left: 50%;
    margin: -24px 0 0 -24px;
   stroke: #818a97;
}
.hphotosize{
    width: 64px;
    height: 115px;
    margin-left: 39px;

}
.hpaper__preview {
    margin: 5px 0 11px;
    text-decoration: none;
    display: block;
    max-width: 630px;
    line-height: 1.4;
}

.hprimary {
    transition: -webkit-filter .15s;
    font-size: large;
    color: black;
}

.hpaperpreview {
    margin: 5px 0 11px;
    text-decoration: none;
    display: block;
    max-width: 630px;
    line-height: 1.4;
    color: black;
}

.havatar {
    font-size: 13px;
    color: #8f919d;
    margin-top: 4px;
}

.havatarinfo,
.havatarphoto {
    line-height: 1.4;
}

/* 푸터 */
.hqfooter {
    margin-top: 35px;
    padding: 40px 0;
    text-align: left;
    font-size: 14px;
    flex-shrink: 0;
    background: #ffffff;
    color: #a3abb5;
}

.hfooter__logo {
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    z-index: 2;
}
.hfooter__links {
    margin-top: 14px;
    margin-bottom: 28px;
}
.hfooter__link-list {
    padding: 0;
    text-align: center;
}
.hfooter__link {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: none;
}
.hatage{
    text-decoration: none;
     color: #909aa5;
}