@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}


body {
    margin: 0;
    line-height: 1;
    overflow-wrap: anywhere;
}

.main {
    position: relative;
    z-index: 0;
}

.cpTitleFrame {
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    z-index: 10;
}

.cpTitleForm {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 14px 24px;
}

.logoImg {
    margin-right: 10px;
    width: 40px;
    height: 30px;
}

.cpTitle {
    font-family: 'Noto Sans KR', sans-serif;
    margin-right: 16px;
    font-size: 14px;
    font-weight: normal;
    color: rgb(26, 26, 26);
    line-height: 24px;
    letter-spacing: -0.3px;
    margin: 0px;
}

.cpTitlepercent {
    color: rgb(255, 61, 0);
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.15px;
    margin-left: 16px;
    font-family: 'Noto Sans KR', sans-serif;
}

.cpTitleBtnFrame {
    margin-left: auto;
}

.cpExitBtnForm {
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
    margin-right: 8px;
    width: auto;
    display: inline-flex;
    vertical-align: middle;
    border-radius: 3px;
    color: rgb(26, 26, 26);
    background-color: rgb(248, 248, 248);
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.2px;
    padding: 0px 16px;
    height: 36px;
    transition: background-color 0.1s ease 0s;
    text-decoration-line: none;
    border: 0px;
    outline: none;
    margin: 0px;
    flex: initial;
    box-sizing: border-box;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}

.cpExitBtn {
    flex: 0 0 auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.cpTitleBoundary {
    display: flex;
    overflow: hidden;
    -webkit-box-flex: 1;
    flex-grow: 1;
    border-radius: 2px;
    background-color: rgb(248, 248, 248);
    height: 2px;
}

.cpProcessBar {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: rgb(255, 86, 0);
    transition: transform 0.3s ease-in-out 0s;
}

.cpBodyFrame {
    display: flex;
    background-color: rgb(255, 255, 255);
    min-height: calc(100vh - 60px);
}

.cpSidebarBoundary {
    border-right: 1px solid rgb(248, 248, 248);
    width: 252px;
    z-index: 2;
}

.cpSidebarFrame {
    position: fixed;
    left: 0px;
    width: 220px;
    padding: 24px 16px;
}

.cpSidebarForm {
    display: flex;
    flex-direction: column;
}

.sidebarStepFrame {
    cursor: pointer;
    -webkit-box-pack: start;
    justify-content: start;
    margin-bottom: 12px !important;
    height: 40px;
    padding: 0px;
    width: auto;
    display: inline-flex;
    vertical-align: middle;
    border-radius: 3px;
    color: rgb(58, 58, 58);
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.2px;
    transition: background-color 0.1s ease 0s;
    text-decoration-line: none;
    margin: 0px;
    flex: initial;
    box-sizing: border-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.sidebarStep1Frame, .sidebarStep2Frame, .sidebarStep3Frame, .sidebarStep4Frame, .sidebarStep5Frame {
    cursor: pointer;
    -webkit-box-pack: start;
    justify-content: start;
    margin-bottom: 12px !important;
    height: 40px;
    padding: 0px;
    width: auto;
    display: inline-flex;
    vertical-align: middle;
    border-radius: 3px;
    color: rgb(26, 26, 26);
    background-color: rgb(248, 248, 248);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.2px;
    transition: background-color 0.1s ease 0s;
    text-decoration-line: none;
    margin: 0px;
    flex: initial;
    box-sizing: border-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.sidebarStepForm {
    display: flex;
    -webkit-box-pack: start;
    justify-content: start;
    padding: 12px;
    color: rgb(58, 58, 58);
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
    flex-direction: row;
}

.sidebarStepBox {
    flex: 0 0 auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.sidebarCheckedBox {
    background-color: rgb(255, 61, 0);
    border-radius: 6px;
    margin-right: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 11px;
    font-weight: normal;
    color: rgb(26, 26, 26);
    line-height: 16px;
    letter-spacing: normal;
    margin: 0px;
}

.sidebarCheckBox {
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    margin-right: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 11px;
    font-weight: normal;
    color: rgb(26, 26, 26);
    line-height: 16px;
    letter-spacing: normal;
    margin: 0px;
}

.sidebarStepTitle {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: rgb(162, 162, 162);
    line-height: 24px;
    letter-spacing: -0.3px;
    margin-left: 12px;
}

.sidebarStepTitle1, .sidebarStepTitle2, .sidebarStepTitle3, .sidebarStepTitle4, .sidebarStepTitle5 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: rgb(26, 26, 26);
    line-height: 24px;
    letter-spacing: -0.3px;
    margin-left: 12px;
}

.bold {
    color:black;
    font-weight: 700;
}

.cpContentFrame {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin:0 120px;
    width: 100%;
}

.cpContentForm {
    width: 100%;
}

.cpContentContainer {
    width: 100%;
    padding: 6px 32px 60px;
}

.basicInfoContainer {
    display: flex;
    width: 100%;
}

.basicInfoBox {
    width: 100%;
}

.basicInfoText {
    font-family: 'Noto Sans KR', sans-serif;
    white-space: pre-wrap;
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(26, 26, 26);
    line-height: 34px;
    letter-spacing: -0.4px;
}

.basicInfoSubText {
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 32px;
    font-size: 12px;
    font-weight: normal;
    color: rgb(162, 162, 162);
    line-height: 20px;
    letter-spacing: -0.15px;
}

.formTerrain, .formCourse {
    margin-bottom: 32px;
    margin: 0px 0px 16px;
}

.formTerrainLabel, .formCourseLabel, .startTimeLabel, .endTimeLabel{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px 0px 4px;
    color: rgb(26, 26, 26);
}

.formTerrainSelect, .formCourseSelect, .startTime, .endTime{
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 1px;
    background-color: white;
    height: 40px;
    flex: 1 1 auto;
    width: 61.5%;
    padding: 0px 48px 0px 16px;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 18px;
    color: rgb(26, 26, 26);
}

option {
    font-family: 'Noto Sans KR', sans-serif;
}

.addressBox{
    display: flex;
    flex-direction: column;
}

.addressBoxEnd {
    display: none;

}

.show {
    display: flex;
    flex-direction: column;
}

.addressForm {
    display:flex;
    justify-content: space-between;    left: 0;
    top: 200px;
    margin-bottom: 8px;
    width: 62%;
}
.find_address, .end_address{
    background: white;
    border-top: 1px solid #e0dbdb;
    border-right: 1px solid #e0dbdb;
    border-bottom: 1px solid #e0dbdb;
    border-left: none;
}
.find_address:hover,
.end_address:hover{
    background-color: rgba(196, 196, 196, 0.226);
}

#start_address, #end_address{
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 1px;
    background-color: white;
    height: 40px;
    flex: 1 1 auto;
    width: 71%;
    padding: 0px 48px 0px 16px;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 18px;
    color: rgb(26, 26, 26);
}

#start_addressDetail, #end_addressDetail {
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 1px;
    background-color: white;
    height: 40px;
    flex: 1 1 auto;
    width: calc(100% - 20px);
    padding-left: 16px;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 18px;
    color: rgb(26, 26, 26);
    margin-bottom: 8px;
}

.formCourseSelect {
    margin-bottom: 8px;
}

.nextBtnFrame {
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 1200px;
    padding: 18px 32px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(248, 248, 248);
    height: 48px;
    z-index: 1;
    justify-content: flex-end;
}

.savePage {
    color: rgb(239, 239, 239);
    background-color: rgb(248, 248, 248);
    cursor: not-allowed;
    display: inherit;
    margin-left: auto;
    width: auto;
    vertical-align: middle;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.2px;
    padding: 0px 16px;
    height: 40px;
    transition: background-color 0.1s ease 0s;
    text-decoration-line: none;
    border: 0px;
    outline: none;
    flex: initial;
    box-sizing: border-box;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}

.savePageBtn, .nextPageBtn, .submitPageBtn{
    flex: 0 0 auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
}

.nextPage, .submitPage {
    cursor: pointer;
    margin-left: 8px;
    display: inherit;
    width: auto;
    vertical-align: middle;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #1F89FF;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.2px;
    padding: 0px 16px;
    height: 40px;
    transition: background-color 0.1s ease 0s;
    text-decoration-line: none;
    border: 0px;
    outline: none;
    flex: initial;
    box-sizing: border-box;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}

.subImgFrame {
    display: flex;
    margin-bottom: 32px;
}

.subImgForm {
    max-width: 260px;
    flex: 0.5 1 0%;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 16px;
}

.subImgLabel, .subImgTitle {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px 0px 4px;
    color: rgb(26, 26, 26);
}

.subImgContainer {
    overflow: hidden;
    border-radius: 3px;
}

.subImgBox {
    width: 100%;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.subImgInput {
    display:none;
}

.photoImgFrame {
    position: relative;
    padding-bottom: calc(75% - 2px);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(229, 229, 229);
    border-radius: 3px;
    background-size: 100% 100%;
}

.photoImgForm {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.plusImg {
    flex: 0 0 auto;
    width: 72px;
    height: 72px;
}

.photoAddText {
    flex: 0 0 auto;
    white-space: pre-wrap;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: rgb(202, 202, 202);
    margin: 8px 0px;
    font-weight: normal;
}

.photoFieldDescription {
    flex: 0 0 auto;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: normal;
    color: rgb(202, 202, 202);
    margin: 0px;
}

.subImgBoundary {
    margin-right: 40px;
}

.subImgTitleInfo {
    max-width: 540px;
    flex: 1 1 0%;
    margin: 0px 0px 16px;
}

.subImgTitleFrame {
    display: block;
    margin-top: 4px;
}

.subTitleInput {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.15px;
    margin-bottom: 15px;
    border: 1px solid rgb(242, 242, 242);
    background-color: white;
    height: 42px;
    flex: 1 1 auto;
    width: 100%;
    color: rgb(26, 26, 26);
    box-sizing: border-box;
    padding: 0px 16px;
    border-radius: 3px;
}

.subImgInfoFrame {
    flex: 0.94 1 0%;
    height: 40%;
    margin-top: 20px;
    padding: 16px;
    border-radius: 3px;
    background-color: rgb(248, 248, 248);
    font-size: 14px;
    font-weight: normal;
    color: rgb(26, 26, 26);
    line-height: 20px;
    letter-spacing: -0.15px;
}

.subImgInfoQ {
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(26, 26, 26);
    line-height: 20px;
    letter-spacing: -0.15px;
}

.subimgInoText {
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: normal;
    color: rgb(26, 26, 26);
    line-height: 20px;
    letter-spacing: -0.15px;
}

.subImgExamFrame {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    margin-top: 12px;
}

.subImgExamBox {
    position: relative;
}

.subImgExamForm {
    overflow: hidden;
    border-radius: 3px
}

.subImgExamContainer {
    display: block;
    position: relative;
    overflow: hidden;
    font-size: 0px;
    padding-top: 75%;
    background: rgb(238, 238, 238);
}

.subImgExamItem {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.coverImg {
    transition: opacity 0.1s linear 0s;
    object-fit: cover;
    opacity: 1;
    width: 100%;
    height: 100%;
}

.examItem1 {
    width: 90%;
    height: 12px;
    border-radius: 3px;
    background-color: rgb(239, 239, 239);
    margin-top: 8px;
}

.examItem2 {
    width: 50%;
    height: 18px;
    border-radius: 3px;
    background-color: rgb(239, 239, 239);
    margin-top: 8px;
}

.cpIntroduceFrame {
    flex: 1 1 0%;
    overflow: auto;
}

.cpIntroduceTitle {
    font-family: 'Noto Sans KR', sans-serif;
    white-space: pre-wrap;
    margin-bottom: 12px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(26, 26, 26);
    line-height: 34px;
    letter-spacing: -0.4px;
}

.cpIntroduceTitleInfo {
    white-space: pre-wrap;
    margin-bottom: 32px;
    font-size: 12px;
    font-weight: normal;
    color: rgb(162, 162, 162);
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px;
    font-family: 'Noto Sans KR', sans-serif;
}

.cpThumbNailFrame {
    margin-top:32px;
    margin-right: 32px;
}

.cpThumbNailForm {
    box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px, rgb(0 0 0 / 3%) 0px 3px 6px, rgb(0 0 0 / 5%) 0px 8px 12px, rgb(0 0 0 / 6%) 0px 12px 18px;
    position: sticky;
    top: 108px;
    width: 325px;
    height: 490px;
    border-radius: 12px;
    overflow: hidden;
}

.cpThumbNailContainer {
    position: relative;
    height: 100%;
}

.cpThumbNailBox {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.cpThumbNailInsertForm {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    background-color: rgb(58, 58, 58);
    font-size: 14px;
    font-weight: normal;
    color: rgb(26, 26, 26);
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px;
}

.defaultImg {
    width: 100px;
}

.cpThumbNailInfoForm {
    left: 24px;
    bottom: 24px;
    position: absolute;
    z-index: 10;
    width: calc(100% - 48px);
    overflow-wrap: break-word;
}

.cpThumbNailInfoBox {
    height: 28px;
    margin-right: 4px;
    margin-top: 8px;
    padding: 6px 8px;
    font-weight: normal;
    backdrop-filter: blur(32px);
    min-width: 24px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.56);
    flex: 0 0 auto;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
}

.cpThumbNailInfoName, .cpThumbNailInfoTerrain, .cpThumbNailInfoCourse {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: normal;
    margin: 0px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.cpThumbNailInfoText {
    margin-top: 8px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    line-height: 34px;
    letter-spacing: -0.4px;
}

.cpThumbNailBlur {
    width: 100%;
    height: 280px;
    background: linear-gradient(rgba(27, 28, 29, 0) 0%, rgb(27, 28, 29) 100%);
    position: absolute;
    bottom: 0px;
}

.cpThumbNailProgressBox {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    left: 24px;
    right: 24px;
    top: 12px;
    position: absolute;
    z-index: 10;
}

.cpThumbNailProgressComplete {
    height: 2px;
    flex: 1 1 0%;
    margin-right: 2px;
    background-color: rgb(255, 255, 255);
    opacity: 1;
}

.cpThumbNailProgress {
    height: 2px;
    flex: 1 1 0%;
    margin-right: 2px;
    background-color: rgb(255, 255, 255);
    opacity: 0.3;
}

.cpThumbNailProgressLast {
    height: 2px;
    flex: 1 1 0%;
    margin-right: 0px;
    background-color: rgb(255, 255, 255);
    opacity: 0.3;
}

.cpThumbNailPrevBox {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    left: 24px;
    right: 24px;
    top: 12px;
    position: absolute;
    z-index: 10;
}

.imgInsertFrame {
    display: grid;
    margin-top: 18px;
}

.imgInsertForm {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    column-gap: 24px;
    margin-bottom: 26px;
    width: 100%;
}

.imgInsertContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 332px;
}

.imgInsertWindow {
    display: inline-block;
    cursor: pointer;
}

.attach1, .attach2, .attach3{
    margin:0;
}

.introImgContainer {
    position: relative;
    padding-bottom: 177.778%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(229, 229, 229);
    border-radius: 3px;
    overflow: hidden;
    background-size: 100% 100%;
    cursor: pointer;
}

.introImgBox1, .introImgBox2, .introImgBox3 {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.label[for='attach'] div.introImgContainer{
    width: 185px;
    height: 332px;
    background-size: 100% 100%;
    cursor: pointer;
}

.introImgPlus {
    flex: 0 0 auto;
    width: 72px;
    height: 72px;
}

.introImgText {
    flex: 0 0 auto;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: rgb(202, 202, 202);
    margin: 8px 0px;
    font-weight: normal;
    font-family: 'Noto Sans KR', sans-serif;
}

.imgFieldDefault {
    flex: 0 0 auto;
    text-align: center;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: normal;
    color: rgb(202, 202, 202);
    margin: 0px;
}

.introImgDetailFrame {
    display: block;
}

.prevPage {
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
    width: auto;
    display: inline-flex;
    vertical-align: middle;
    border-radius: 3px;
    color: rgb(26, 26, 26);
    background-color: rgb(248, 248, 248);
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.2px;
    padding: 0px 16px;
    height: 40px;
    transition: background-color 0.1s ease 0s;
    text-decoration-line: none;
    border: 0px;
    outline: none;
    margin: 0px;
    flex: initial;
    box-sizing: border-box;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}

.prevPageBtn {
    flex: 0 0 auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.cpGroupIntroFrame {
    flex: 1 1 0%;
    overflow: auto;
    margin-top: 20px;
}

.cpGroupIntroTitle {
    font-family: 'Noto Sans KR', sans-serif;
    white-space: pre-wrap;
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(26, 26, 26);
    line-height: 34px;
    letter-spacing: -0.4px;
}

.groupIntroProfileFrame {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 16px;
}

.groupIntroProfileTitle {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px 0px 4px;
    color: rgb(26, 26, 26);
}

.groupIntroProfileInsertFrame {
    display: inline-block;
    cursor: pointer;
}

.groupProfile {
    display: none;
    margin: 0;
}

.groupIntroProfileForm {
    border: 1px silver solid;
    position: relative;
    width: 76px;
    height: 76px;
    background-size: 100% 100%;
    border-radius: 40px;
}

.groupIntroProfileBox {
    position: relative;
    width: 76px;
    height: 76px;
}

.showGroupProfile {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 100%;
    line-height: 0;
    display: block;
    position: relative;
    overflow: hidden;
    font-size: 0px;
    background: rgb(238, 238, 238);
}

.showGroupImg {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: relative;
}

.insertImgIcon {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.introGroupNameFrame, .introGroupTelFrame, .introGroupPhoneFrame, .introGroupTextFrame{
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 16px;
}

.groupIntroName, .groupIntroTel, .groupIntroPhone, .groupIntroText {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px 0px 4px;
    color: rgb(26, 26, 26);
}

.groupNameInputForm, .groupTelInputForm, .groupPhoneInputForm, .groupIntroTextForm {
    display: block;
}

.groupNameInput, .groupTelInput, .groupPhoneInput {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px;
    border: 1px solid rgb(239, 239, 239);
    background-color: white;
    height: 48px;
    flex: 1 1 auto;
    width: 100%;
    color: rgb(26, 26, 26);
    box-sizing: border-box;
    padding: 0px 16px;
    border-radius: 3px;
}

.groupTextInput {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px;
    color: rgb(26, 26, 26);
    border-radius: 1px;
    background-color: white;
    border: 1px solid rgb(229, 229, 229);
    width: 100%;
    height: 271px;
    padding: 12px 16px;
    box-sizing: border-box;
    resize: none;
}

.introGroupGuideFrame {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: rgb(26, 26, 26);
    line-height: 20px;
    letter-spacing: -0.15px;
    padding: 16px;
    border-radius: 3px;
    background-color: rgb(248, 248, 248);
    margin-top: 8px;
}

.thunmbPrevBtn {
    cursor: pointer;
    left: 2px;
    top: 50%;
    position: absolute;
    z-index: 10;
    display: inline-flex;
    flex: 0 0 auto;
    vertical-align: middle;
    padding: 0px;
    border-radius: 3px;
    color: rgb(26, 26, 26);
    background-color: transparent;
    width: 32px;
    height: 32px;
    transition: background-color 0.1s ease 0s;
    border: 0px;
    outline: none;
    margin: 0px;
    box-sizing: border-box;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}

.thumbPrevForm {
    flex: 0 0 auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.cpThumbNailNextBox {
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease 0s;
    right: 0px;
}

.thumbNextBtn {
    cursor: pointer;
    right: 2px;
    top: 50%;
    position: absolute;
    z-index: 10;
    display: inline-flex;
    flex: 0 0 auto;
    vertical-align: middle;
    padding: 0px;
    border-radius: 3px;
    color: rgb(26, 26, 26);
    background-color: transparent;
    width: 32px;
    height: 32px;
    transition: background-color 0.1s ease 0s;
    border: 0px;
    outline: none;
    margin: 0px;
    box-sizing: border-box;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}

.cpCheckFrame {
    flex: 1 1 0%;
    overflow: auto;
}

.cpCheckTitle {
    white-space: pre-wrap;
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(26, 26, 26);
    line-height: 34px;
    letter-spacing: -0.4px;
    font-family: 'Noto Sans KR', sans-serif;
}

.cpCheckInfo {
    white-space: pre-wrap;
    margin-bottom: 32px;
    font-size: 12px;
    font-weight: normal;
    color: rgb(162, 162, 162);
    line-height: 20px;
    letter-spacing: -0.15px;
    font-family: 'Noto Sans KR', sans-serif;
}

.cpCheckContent1, .cpCheckContent2, .cpCheckContent3 {
    padding: 20px 24px;
    margin-bottom: 24px;
    border-radius: 8px;
    background-color: rgb(248, 248, 248);
    font-size: 12px;
    font-weight: normal;
    color: rgb(26, 26, 26);
    line-height: 20px;
    letter-spacing: -0.15px;
}

.cpCheckContent1Title, .cpCheckContent2Title, .cpCheckContent3Title {
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(26, 26, 26);
    line-height: 24px;
    letter-spacing: -0.3px;
}

.cpCheckContent1Text, .cpCheckContent2Text, .cpCheckContent3Text {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: rgb(26, 26, 26);
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px;
}

.cpCheckBoundaryBox {
    margin: 14px 0px;
}

.cpCheckBoundary {
    box-shadow: rgb(248 248 248) 0px -1px 0px inset;
    border: none;
    height: 1px;
    margin: 0px !important;
}

.cpCheckBoxForm {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.cpCheckBoxContainer {
    display: flex;
    flex: 0 0 auto;
}

.cpCheckBox1, .cpCheckBox2, .cpCheckBox3 {
    width:24px;
    height: 24px;
    margin: 0;
}

.cpCheckBoxInfo1, .cpCheckBoxInfo2, .cpCheckBoxInfo3 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: rgb(26, 26, 26);
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px 0px 0px 8px;
}

.cpCheckContent2Move {
    cursor: pointer;
    margin-top: 8px;
    display: inline-flex;
    vertical-align: middle;
    background: none;
    color: rgb(255, 86, 0);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.2px;
    transition: color 0.1s ease 0s;
    padding: 0px;
    flex: initial;
    box-sizing: border-box;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.cpCheckContent2MovePage {
    color: rgb(255, 86, 0);
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
    flex-direction: row;
}

.cpCheckBox2Move {
    flex: 0 0 auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    color: rgb(255, 86, 0);
}

.submitBtnFrame {
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 1200px;
    padding: 18px 32px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(248, 248, 248);
    height: 28px;
    z-index: 1;
    justify-content: space-between;
}


/***************/
.cpThumbNailFrame{
    display:flex;
    align-items: center;
}

label {
    display: block;
}

.endTime, .startTime{
    width: 52%;
    margin-bottom: 7px;
}

.hidden{
    display: none;
}

#mapBox{
    width: 400px;
    height: 400px;
    position: relative;
    right:175px;
    top: 200px;
}

.group {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}