@font-face {
    font-family: 'Openas';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/Openas.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

@font-face {
    font-family: 'SDSamliphopangche_Basic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.header-wrap{
    position: sticky;
    top: 0;
    z-index: 10;
}

.header{
    border-radius: 0;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    border-color: #E5E5E5;
    z-index: 101;
    top: 0;
    left: 0;
    position: sticky;
    display: block;
}

.header1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header2{
    display: flex;
    max-width: 1176px;
    width: calc(100% - 40px);
    padding-left: 20px;
    padding-right: 20px;
    align-items: stretch;
    flex-direction: column;
}

@media screen and (min-width: 1024px) {
    .header3 {
        height: 78px;
    }
}

.header3{
    height: 78px;
    display: flex;
    width: 100%;
    flex-direction: row;
    position: relative;
}
.header3 > a {
    color: black;
    text-decoration-line: none;
}

@media screen and (min-width: 640px) {
    .logo-wrap {
        display: block;
    }
}


.logo-wrap{
    display: block;
    align-items: stretch;
    flex-direction: column;
}

@media screen and (min-width: 1024px){
.logo-wrap1{
    height: 24px;
}
}


.logo-wrap1{
    font-family:'Openas';
    display: block;
    width: auto;
    height: 24px;
    FONT-WEIGHT: 600;
    font-size: 25px;
    padding-top: 33%;
}
.logo-font{
    font-family:'Openas';
    display: block;
    width: auto;
    height: 24px;
    FONT-WEIGHT: 600;
    font-size: 25px;
    padding-top: 33%;
}


@media screen and (min-width: 640px) {
    .Medialogo {
        display: none;
    }
}

.Medialogo{
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}

.header-spacing1{
    width:36px;
    display: flex;
    height:0;
}


@media screen and (min-width: 1024px) {
    .menu-search-wrap {
        margin-right: 32px;
    }
}


@media screen and (min-width: 640px) {
    .menu-search-wrap {
        margin-right: 0;
    }
}



.menu-search-wrap{
    margin-right: 32px;
    display: flex;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    align-items: stretch;
    flex-direction: row;
}

@media screen and (min-width: 1024px) {
    .menu-wrap {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.menu-wrap{
    display: flex;
    align-items: center;
    flex-direction: row;
}

@media (max-width:1024px){
    .menu-wrap{
        display:none;
    }
}

.menu-plogging{
    font-family: 'SDSamliphopangche_Basic';
    border-width: 0;
    color: #1F89FF;
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.625rem;
    white-space: nowrap;
    text-decoration-line: none;
}
a{
    text-decoration: none;
}
.menu-space{
    width: 16px;
    height: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.menu-store{
    font-family: 'SDSamliphopangche_Basic';
    border-width: 0;
    color: #1A1A1A;
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.625rem;
    white-space: nowrap;
    text-decoration-line: none;
}
.menu-wrap > a > h4> .menu-store{
    text-decoration: none;
}


@media screen and (min-width: 1024px) {
    .menu-space3 {
        width: 36px;
        height: 0;
    }
}

@media screen and (min-width: 640px) {
    .menu-space3 {
        width: 0;
        height: 0;
    }
}


.menu-space3{
    width:36px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}



.search-box{
    max-width: 380px;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
}
.search-box1{
    display: flex;
    width: 100%;
    align-items: stretch;
    flex-direction: column;
}
.search-box2{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.search-box3{
    display: flex;
    margin-top: -9px;
    margin-bottom: -9px;
    margin-left: -4px;
    margin-right: -4px;
    width: 100%;
    align-items: stretch;
    flex-direction: row;
    cursor: unset;
}

.search-box4{
    border-radius: 0;
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
    border-color: #E5E5E5;
}

@media screen and (min-width: 1312px) {
    header-search-text1 {
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1024px) {
    header-search-text1 {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
}

.header-search-text1{
    display: flex;
    height: 38px;
    padding-left: 16px;
    padding-right: 10px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.search-text{
    font-family: 'Noto Sans KR', sans-serif;
    border-width: 0;
    color: #A2A2A2;
    margin: 0;
    width:100%;
    padding: 0;
    outline: none;
    background-color:rgb(248, 248, 248);
    font-size: 0.675rem;
    font-weight: 400;
    line-height: 1.125rem;
    overflow: hidden;
}

.header-search-icon1{
    display: block;
    width: 100%;
    height: 100%;
    fill: #1A1A1A;
}


.search-text-icon{
    display: flex;
    height: 38px;
    padding-left: 16px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.svg-wapper1{
    display: block;
    width: 12px;
    height: 12px;
}
.search-icon111{
    background-color: #F8F8F8;
    width:270px;
    font-family: 'Noto Sans KR', sans-serif;
    border-width: 0;
    color: #A2A2A2;
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.searching-svg-icon{
    display: block;
    width: 20px;
    height: 20px;
}

.header-right-menu-wrap{
    display: flex;
    margin-left: auto;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: row;
}

@media screen and (min-width: 640px) {
    .header-right-menu-wrap1 {
        display: flex;
    }
}

.header-right-menu-wrap1{
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

@media screen and (min-width: 640px) {
    .header-right-menu-wrap2 {
        display: flex;
    }
}
.header-right-menu-wrap2{
    display: flex;
    flex: 0 0 auto;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}

@media screen and (min-width: 1024px) {
    .header-right-menu1 {
        display: flex;
    }
}

@media screen and (min-width: 640px) {
    .header-right-menu1 {
        display: none;
    }
}

.header-right-menu1{
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}


.myplogging{
    font-family: 'Noto Sans KR', sans-serif;
    border-width: 0px;
    color: #1A1A1A;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.125rem;
    text-decoration-line: none;
}



right-menu-wrapper2{
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: row;

}
.coupon-wrap1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.coupon-icon{
    right: -9px;
    top: -6px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
}
.coupon-icon1{
    width: 16px;
    height: 16px;
    background-color: rgb(243, 33, 59);
    border-radius: 8px;
}

.coupon-icon2{
    border-width: 0px;
    color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
    font-size: 0.625rem;
    font-weight: 700;
    line-height: 0.75rem;
    text-align: center;
    z-index: 1;
    position: absolute;
}
.css-l67hwq {
    display: block;
    width: 20px;
    height: 20px;
}

.css-uxrfz2 {
    display: block;
    width: 100%;
    height: 100%;
    fill: #000000;
}

.right-empty-space1{
    width: 20px;
    height: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.loginWrapper1{
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
    position: relative;
}

.loginWrapper1-left{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.loginWrapper1-left1{
    width: 34px;
    height: 34px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.loginWrapper1-left2{
    background-color: rgb(248, 248, 248);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
}
.loginWrapper1-left2-wrapper{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}


.nav-container{
    border-radius: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-color: #E5E5E5;
}

.nav-wrapper1{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.nav-wrapper2{
    display: flex;
    width: 100%;
    max-width: 1216px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: stretch;
    flex-direction: column;
    position: relative;
}
@media screen and (min-width: 1024px) {
    .nav-contents-wrapper {
        display: flex;
    }
}

@media screen and (min-width: 640px) {
    .nav-contents-wrapper {
        display: none;
    }
}

.nav-contents-wrapper{
    display: flex;
    height: fit-content;
    align-items: flex-end;
    flex-direction: row;
}

.nav-category-wrapper{
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}

.nav-category-icon{
    display: flex;
    width: 140px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: row;
}

.nav-category-text-wrap{
    display: flex;
    padding-bottom: 12px;
    cursor: pointer;
    -webkit-box-align: baseline;
    align-items: baseline;
    flex-direction: row;
    cursor: pointer;
}

.nav-category-text-wrap1{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.nav-category-text-style{
    border-width: 0;
    color: #101010;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25rem;
    white-space: nowrap;
}

.nav-empty-space1{
    width: 2px;
    height: 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.nav-category-icon1{
    display: block;
    width: 16px;
    height: 16px;
}

.nav-rest-contents-wrapper{
    display: flex;
    padding-top: 12px;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}

.nav-rest-content1-wrapper1{
    display: flex;
    padding-bottom: 12px;
    cursor: pointer;
    -webkit-box-align: baseline;
    align-items: baseline;
    flex-direction: row;
    cursor: pointer;
}
.nav-rest-content1-wrapper2{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.nav-rest-content1-text1{
    border-width: 0;
    color: #101010;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25rem;
    white-space: nowrap;

}

.nav-dot-space{
    width: 4px;
    height: 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.nav-dot1{
    width: 4px;
    height: 4px;
    overflow: hidden;
    background-color: #FF5B14;
    border-radius: 50%;
}


.nav-empty-space11{
    width: 28px;
    height: 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}


.loginWrapperspace{
    width: 4px;
    height: 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.profile{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    position: relative;
}
.profile-img-wrap{
    width: 34px;
    height: 34px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.profile-img{
    background-color: rgb(248, 248, 248);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.profile-img1{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}