@font-face {
  font-family: 'Openas';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/Openas.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

강조하는 부분 산돌 삼립호빵체
@font-face {
  font-family: 'SDSamliphopangche_Basic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

본문체 noto sans kr
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: 'Noto Sans KR', sans-serif;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

/* 보여줄 구간의 높이와 넓이 설정 */
#slideShow {
  width: 550px;
  height: 400px;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
  margin-left: 140px;
}

@media (max-width:1024px){
  #slideShow{
    width: 100%;
  }
}

.adjust{
  width:300px;
  height:300px;
}
#slideShow .slides li{
  width: 550px;
  height: 350px;
}


#slideShow .slides li img{
  width:100%;
  height:100%;
}

@media (max-width:1024px){
  #slideShow . slides li img{
    width: 100%;
    height: auto;
  }
}

.img-adjust{
  width:100%;
  height:100%;
}
.slides {
  /*이미지들이 담겨있는 슬라이드 컨테이너*/

  margin-top: 60px;
  position: absolute;
  left: 0;
  top: 0;
  width: 11200px; /* 슬라이드할 사진과 마진 총 넓이 */
  left: -1500px;
  transition: 0.5s ease-out; /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
} /* 첫 번째 슬라이드 가운데에 정렬하기위해 첫번째 슬라이드만 margin-left조정 */

.slides li:first-child {

} /* 슬라이드들 옆으로 정렬 */

.slides li:not(:last-child) {
  float: left;
  margin-right: 100px;
}
.controller span {
  background-color: transparent;
  color: white;
  text-align: center;
  border-radius: 50%;
  top: 50%;
  font-size: 1.3em;
  cursor: pointer;
} /* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
.controller span:hover {
  background-color: rgba(128, 128, 128, 0.11);
}
.prev {
  left: 10px;
} /* 이전 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
.prev:hover {
  transform: translateX(-10px);
}
.next {
  right: 10px;
} /* 다음 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
.next:hover {
  transform: translateX(10px);
}

.controller{
  margin-top: -13px;
  margin-left: 100%;
}

#myProgress {
  width: 300px;
  margin-left: 750px;
  margin-top: -395px;
}

#myBar {
  width: 1%;
  height: 2px;
  background-color: white;
  margin-top:43%;
}

.space-before-main{
  max-width: 1176px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.space-before-main1{
  margin-top: 72px;
}

.filter-btn{
  height:40px;
  width:80px;
  border-radius:5px;
  font-family: 'SDSamliphopangche_Basic';
  cursor:pointer;
  border:none;
}
.plogging-wrapper{
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.plogging-margin{
  margin-top: 72px;
}
.hot-plogging-text{
  margin-bottom: 16px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 18px;

}
.hot-plogging-text1{
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  font-weight:700;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.hot-plogging-text2{
  font-size: 24px;
  font-weight: bold;
  color: rgb(26, 26, 26);
  line-height: 34px;
  letter-spacing: -0.4px;
  margin-left: 10px;
}

.plogging-project-container{
  position: relative;
  width: 100%;
}

.plogging-project-container1{
  overflow: hidden;
  border-radius: 3px;
  margin-bottom: 8px;
}
.plogging-project-img-border{
  position: relative;
  border-radius: 3px;
  display: block;
  overflow: hidden;
  font-size: 0px;
  padding-top: 75%;
  background: rgb(238, 238, 238);
}

.plogging-img-wrap{
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  font-size: 0px;
  padding-top: 75%;
  background: rgb(238, 238, 238);
}

.plogging-img{
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}





/*두번째 이미지 슬라이드 */
/* 보여줄 구간의 높이와 넓이 설정 */
#slideShow1 {
  /*전체 컨테이너*/
  width: 1200px;
  height: 350px;
  position: relative;
  margin: 50px auto;
  overflow: hidden; /*리스트 형식으로 이미지를 일렬로 정렬할 것이기 때문에, 500px 밖으로 튀어 나간 이미지들은 hidden으로 숨겨줘야됨*/
}
@media (min-width:1024px){
  .slides1{
    width:100%;

  }
}
.slides1 {
  /*이미지들이 담겨있는 슬라이드 컨테이너*/
  position: absolute;
  left: 0;
  top: 0;
  width: 2500px; /* 슬라이드할 사진과 마진 총 넓이 */
  transition: 0.5s ease-out; /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
} /* 첫 번째 슬라이드 가운데에 정렬하기위해 첫번째 슬라이드만 margin-left조정 */
.slides1 li:first-child {
  margin-left: 20px;
} /* 슬라이드들 옆으로 정렬 */
.slides1 li:not(:last-child) {
  float: left;
  margin-right: 20px;
}
.controller1 span {
  position: absolute;
  background-color: transparent;
  color: black;
  text-align: center;
  border-radius: 50%;
  padding: 10px 20px;
  top: 50%;
  font-size: 1.3em;
  cursor: pointer;
} /* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
.controller1 span:hover {
  background-color: rgba(128, 128, 128, 0.11);
}
.prev1 {
  left: 10px;
  margin-left: -33px;
} /* 이전 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 왼쪽으로 이동하는 효과*/

.next1 {
  right: 10px;
  margin-right: -33px;
} /* 다음 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 오른쪽으로 이동하는 효과*/

#slideShow1 .slides1 li{
  width: 276px;
  height: 350px
}

#slideShow1 .slides1 li img{
  width:100%;
  height:100%;
}


.material-symbols-outlined{
  color:white;
  margin-left:5px;
  margin-top:1px;
  font-size: 14px;

}


/* 세번째 슬라이드 */
/* 보여줄 구간의 높이와 넓이 설정 */
#slideShow2 {
  /*전체 컨테이너*/
  width: 1200px;
  height: 350px;
  position: relative;
  margin: 50px auto;
  overflow: hidden; /*리스트 형식으로 이미지를 일렬로 정렬할 것이기 때문에, 500px 밖으로 튀어 나간 이미지들은 hidden으로 숨겨줘야됨*/
}
@media (min-width:1024px){
  .slides2{
    width:100%;

  }
}
.slides2 {
  /*이미지들이 담겨있는 슬라이드 컨테이너*/
  position: absolute;
  left: 0;
  top: 0;
  width: 2500px; /* 슬라이드할 사진과 마진 총 넓이 */
  transition: 0.5s ease-out; /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
} /* 첫 번째 슬라이드 가운데에 정렬하기위해 첫번째 슬라이드만 margin-left조정 */
.slides2 li:first-child {
  margin-left: 20px;
} /* 슬라이드들 옆으로 정렬 */
.slides2 li:not(:last-child) {
  float: left;
  margin-right: 20px;
}
.controller2 span {
  position: absolute;
  background-color: transparent;
  color: black;
  text-align: center;
  border-radius: 50%;
  padding: 10px 20px;
  top: 50%;
  font-size: 1.3em;
  cursor: pointer;
} /* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
.controller2 span:hover {
  background-color: rgba(128, 128, 128, 0.11);
}
.prev2 {
  left: 10px;
  margin-left: -33px;
} /* 이전 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 왼쪽으로 이동하는 효과*/

.next2 {
  right: 10px;
  margin-right: -33px;
} /* 다음 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 오른쪽으로 이동하는 효과*/

#slideShow2 .slides2 li{
  width: 276px;
  height: 350px
}

#slideShow2 .slides2 li img{
  width:100%;
  height:100%;
}



/* 세번째 슬라이드 */
/* 보여줄 구간의 높이와 넓이 설정 */
#slideShow3 {
  /*전체 컨테이너*/
  width: 1200px;
  height: 350px;
  position: relative;
  margin: 50px auto;
  overflow: hidden; /*리스트 형식으로 이미지를 일렬로 정렬할 것이기 때문에, 500px 밖으로 튀어 나간 이미지들은 hidden으로 숨겨줘야됨*/
}

.slides3 {
  /*이미지들이 담겨있는 슬라이드 컨테이너*/
  position: absolute;
  left: 0;
  top: 0;
  width: 2500px; /* 슬라이드할 사진과 마진 총 넓이 */
  transition: 0.5s ease-out; /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
} /* 첫 번째 슬라이드 가운데에 정렬하기위해 첫번째 슬라이드만 margin-left조정 */

@media (min-width:1024px){
  .slides3{
    width:100%;

  }
}
.slides3 li:first-child {
  margin-left: 20px;
} /* 슬라이드들 옆으로 정렬 */
.slides3 li:not(:last-child) {
  float: left;
  margin-right: 20px;
}
.controller3 span {
  position: absolute;
  background-color: transparent;
  color: black;
  text-align: center;
  border-radius: 50%;
  padding: 10px 20px;
  top: 50%;
  font-size: 1.3em;
  cursor: pointer;
} /* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
.controller3 span:hover {
  background-color: rgba(128, 128, 128, 0.11);
}
.prev3 {
  left: 10px;
  margin-left: -33px;
} /* 이전 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 왼쪽으로 이동하는 효과*/

.next3 {
  right: 10px;
  margin-right: -33px;
} /* 다음 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 오른쪽으로 이동하는 효과*/


#slideShow3 .slides3 li{
  width: 276px;
  height: 350px
}

#slideShow3 .slides3 li img{
  width:100%;
  height:100%;
}

.hot-plogging-text > a{
  text-decoration:none
}

.plogging-thumbnail-wrap{
  height:207px;
  /*width: 290px;*/
  /*height: 200px;*/
}
.plogging-thumbnail-wrap2{
  height:207px;
  width: 290px;
  /*height: 200px;*/
}
.focus{
  margin-top: -170px;
  padding-top: 170px;
}



.plogging-thumbnail-wrap > img {
  width: 100%;
  height: 100%;
}
.slides3 > li > .plogging-thumbnail-wrap > img{
  border-radius: 5px;
}

.slides2 > li > .plogging-thumbnail-wrap > img{
  border-radius: 5px;
}

.slides1 > li > .plogging-thumbnail-wrap > img{
  border-radius: 5px;
}

.deadline{
  width:100%;
  background-color:#1F89FF;
  border-radius: 5px;
  margin-top:10px;
}
.deadline-text{
  position: absolute;
  margin-top: 4px;
  display:inline;
  color:white;
  font-family:'SDSamliphopangche_Basic';
  margin-left: 5px;
}

.plogging-location-text{
  font-family:'SDSamliphopangche_Basic';
  padding-top: 5%;

}

.plogging-msg-text{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  margin-top: 5%;
}

.deadline > img{
  margin-top:5px;
  margin-left:7px;
  margin-right:7px;
}

.d-day{
  font-family: 'SDSamliphopangche_Basic';
  color:white;
  display:inline;
  float:right;
  margin-right:8px;
  margin-top: 4px;
}
.jjims-and-likes{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 4px
  px
;
}
.last-wrap{
  display: flex;
  align-items: center;
}
.heart-icon{
  font-family:'SDSamliphopangche_Basic';
  font-size: 11px;
  line-height: 16px;
  letter-spacing: normal;
  margin: 0px 8px 0px 0px;
  display: flex;
  align-items: center;
  color: rgb(162, 162, 162);
  margin-top: 5px;
}

.heasrt-svg{
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  height: 12px;
  margin-right: 2px;
}

.hearts{
  margin-top: 2px;
}
.likes-wrap{
  font-family:'SDSamliphopangche_Basic';
  font-size: 11px;
  line-height: 16px;
  letter-spacing: normal;
  margin: 0px 8px 0px 0px;
  display: flex;
  align-items: center;
  color: rgb(162, 162, 162);
  margin-top: 5px;
}
.likes{
  margin-bottom: 4px;
}

.likes-svg{
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  height: 12px;
  margin-right: 2px;
}

.banner-background{
  width:100%;
  height:450px;
  background-color:#ff0000;
}

.banners-container-total{
  margin-bottom: 32px;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-align: stretch;
  align-items: stretch;
  flex-direction: column;
}

.banner-container-inside1{
  display: block;
  position: relative;
  width: 100%;
  overflow: visible;
}

.banner-container-rightside{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: calc(100% - 32px);
  background-color:#ff0000;
}

.banner-container-inside2{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%;
  height: calc(100% - 32px);
  background-color: rgb(254, 80, 0);
}

.banner-container-inside-back-img{
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0px;
  left: 0px;
  /*filter: blur(28px);*/
  backface-visibility: hidden;
  perspective: 1000px;
  transform: translateZ(0px);
  /*background: linear-gradient(270.44deg, rgb(196, 48, 43) 0.21%, rgba(196, 48, 43, 0.4) 99.18%) 0% 0% / 100%;*/

}

.banner-contanier-inside3{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: calc(100% - 32px);
  transition: background-color 0.4s ease 0s;
  background-color: rgb(10, 10, 10);
  opacity: 0.5;
}

.banner-container-inside4{
  position: relative;
  z-index: 1;
  flex-direction: column;
}

.banner-clear-img-container{
  display: flex;
  width: 100%;
  max-width: 1176px;
  margin: 0px auto;
  overflow-x: hidden;
}

.banner-clear-wrapper{
  position: relative;
  width: 660px;
  padding-top: 8px;
  border-radius: 3px;
  overflow: hidden;
  z-index: 900;
}

.banner-clear-wrapper-inside{
  display: block;
  width: calc(100% + 16px);
  height: 100%;
}

.banner-inside-component1{
  display: none;
  position: absolute;
  width: 32px;
  height: calc(100% - 40px);
  top: 20px;
  left: 0px;
  z-index: 2001;
}
.banner-inside-component2{
  left: initial;
  right: 0px;
  display: none;
  position: absolute;
  width: 32px;
  height: calc(100% - 40px);
  top: 20px;
  z-index: 2001;
}

.swiper-imgscontainer{
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  margin-left: 0px;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0px;
  z-index: 1;
}

.swiper-imgWrapper1{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform, -webkit-transform;
  box-sizing: content-box;
}

.swiper-slide-sc{
  width: 676px;
  padding-right: 16px;
  position: relative;
  top: 32px;
  padding-top: 61.5%;
  flex-shrink: 0;
  height: 100%;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-sc1{
  position: absolute;
  width: calc(100% - 16px);
  height: 100%;
  top: 0px;
  z-index: 50;
}

.swiper-slide-sc2{
  padding-top: 0px;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  overflow: hidden;
  background-color: rgb(196, 48, 43);
}

.swiper-slide-sc-a{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.advertising-container{
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  min-width: 450px;
  padding-left: 48px;
  padding-bottom: 32px;
  z-index: 1;
}

.advertising-container-link{
  display: block;
  max-width: 412px;
  flex: 1 1 0%;
  padding-top: 56px;
  word-break: keep-all;
}

.advertising-text{
  display: flex;
  white-space: pre-line;
  -webkit-box-align: center;
  align-items: center;
  max-width: 380px;
  color: rgb(255, 255, 255);
  font-size: 34px;
  line-height: 44px;
  font-weight: bold;
  letter-spacing: -0.02rem;
  word-break: keep-all;
  animation-duration: 600ms;
  animation-fill-mode: both;
  transition-timing-function: cubic-bezier(0, 0.63, 0.35, 1.01);
  animation-name: none;
}

.progressbar-container{
  margin-bottom: 30px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.advertisement-count-wrapper{
  display: flex;
  width: 50px;
  font-size: 12px;
  color: rgb(255, 255, 255);
  cursor: default;
  margin-right: 8px;
}
.advertise-current-index{
  height: 10px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-weight: bold;
  padding-right: 8px;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.advertise-current-index1{
  font-weight: normal;
  padding: 0px 0px 0px 8px;
  border: none;
  height: 10px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-weight: bold;
}

.progress-bar-loading{
  overflow: hidden;
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  height: 1px;
}

.progress-bar-loading2{
  width: 1%;
  height: 100%;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
}

.previous-button1{
  width: 32px;
  height: 32px;
  top: 0px;
  right: 0px;
  z-index: 2;
  margin: 0px 6px 0px 16px;
  cursor: pointer;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  color: white;
  background-color: transparent;
  border: 0px;
  outline: none;
}

.previous-button-span{
  flex: 0 0 auto;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.next-button1{
  background-color: transparent;
  width: 32px;
  height: 32px;
  top: 0px;
  right: 0px;
  z-index: 2;
  cursor: pointer;
  border: 0px;
  outline: none;
}

.next-button-span{
  flex: 0 0 auto;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border: 0px;
  outline: none;
  margin: 0px;
  box-sizing: border-box;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  display: inline-flex;
  flex: 0 0 auto;
  vertical-align: middle;
  padding: 0px;
  border-radius: 3px;
  background-color: transparent;
  transition: background-color 0.1s ease 0s;
}

.CategoryListWrapper{
  display: flex;
  width: fit-content;
  height: max-content;
  -webkit-box-align: stretch;
  align-items: stretch;
  flex-direction: row;
  z-index: 2;
  top: 42px;
  left: 0px;
  position: absolute;
}

.CategoryModal{
  overflow: auto;
  padding: 20px 12px;
  margin-left: 0px;
  border-width: 1px;
  border-style: solid;
  border-radius: 0px;
  width: fit-content;
  height: 215px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(239, 239, 239);
}

.CategoryConList{
  width: 220px;
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  flex-direction: column;
}

.CategoryTotalWrap{
  display:flex;
  align-items: stretch;
  flex-direction: column;
}

.CategoryTotalPadding{
  padding: 8px 12px;
  border-radius: 0px;
  width: 100%;
  height: 100%;

  border-color: rgb(229, 229, 229);
}
.CategoryTotalFlex{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.CategoryMMTEXT{
  border-width: 0px;
  color: var(--system-on-color);
  margin: 0px;
  padding: 0px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
}

.Modal1Whole{
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  flex-direction: column;
  z-index: 3000;
  top: 0px;
  left: 0px;
  position: fixed;
  cursor: default;
}
.Modal1Container{
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  flex-direction: column;
  z-index: 3002;
  top: 54px;
  right: 0px;
  position: absolute;
}
.Modal1Wrapper{
  border-radius: 2px;
  overflow: hidden;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  box-shadow: rgb(0 0 0 / 8%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 12px 2px;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-color: rgb(229, 229, 229);
}
.ModalPadding{
  display: flex;
  width: 200px;
  padding: 24px;
  -webkit-box-align: stretch;
  align-items: stretch;
  flex-direction: column;
}

.ModalProfile{
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  flex-direction: row;
}

.ModalProfile1{
  display: flex;
  flex: 0 0 auto;
  -webkit-box-align: stretch;
  align-items: stretch;
  flex-direction: column;
}
.ModalProfile2{
  width: 34px;
  height: 34px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.ModalProfile3{
  background-color: rgb(248, 248, 248);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
}
#101010
.ModalNameWrap{
  justify-content: space-between;
  display: flex;
  margin-left: 8px;
  align-items: flex-start;
  flex-direction: column;
}

.ModalNameText{
  border-width: 0px;
  color: #101010;
  margin: 0px;
  padding: 0px;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.125rem;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.MyPageGoGo{
  font-weight: 500;
  background-color: transparent;
  text-decoration-line: none;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-width: 0px;
  cursor: pointer;
  color: rgb(255, 86, 0);
}

.ModalMyPageText{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row-reverse;
}

.LinkBtn{
  display: block;
  width: 10px;
  height: 10px;
}

.css-bchp3n{
  display: block;
  width: 100%;
  height: 100%;
  fill: rgb(255, 86, 0);
}
.ModalSpace{
  width: 2px;
  height: 0;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.RealButtonText{
  border-width: 0px;
  color: rgb(255, 86, 0);
  margin: 0px;
  padding: 0px;
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 0.875rem;
}

.ModalBorderLine{
  flex: 0 0 auto;
  background-color: rgb(229, 229, 229);
  width: 100%;
  height: 1px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.ModalMenuWrap{
  flex: 0 0 auto;
  background-color: rgb(229, 229, 229);
  width: 100%;
  height: 1px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.ModalMenuTextStyle{
  font-family: 'Noto Sans KR', sans-serif;
  color: #101010;
}

.ModalHeight{
  width: 0px;
  height: 12px;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.ModalMenuWrap1{
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  flex-direction: column;
  cursor: pointer;
}

.ModalMenuWrap2{
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  flex-direction: column;
  cursor: pointer;
}


/* ---------------------------------수정중----------------------------------------- */

/*.join-plogging-main-image img{*/
/*  width: 98%;*/
/*}*/