
        /*로고 유토이미지*/
        @font-face {
            font-family: 'Openas';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/Openas.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        /*강조하는 부분 산돌 삼립호빵체*/
        @font-face {
            font-family: 'SDSamliphopangche_Basic';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        /*본문체 noto sans kr*/
        @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

        .notosanskr * {
            font-family: 'Noto Sans KR', sans-serif;
        }


        .hunderline{
            font-family: 'SDSamliphopangche_Basic';
            font-size: 32px;
            width: 234px;
            line-height: 44px;

        }
        .herror{
            font-size: x-small;
            color: red;
            margin-block-end: auto;
            margin-block-start: auto;
        }
        .hcorrect{
            font-size: x-small;
            color: blue;
            margin-block-end: auto;
            margin-block-start: auto;
        }

        @media (max-width: 1024px){ /*1024 이하일경우*/
 
            .hmain{
                margin-left: auto;
                margin-right: auto;
                max-width: 960px;
                max-height: border-box;
                padding: 74px 14px 349px;
                text-align: left;
                width: auto;
                height: auto;
                font-family: 'Noto Sans KR', sans-serif;

                
            }
            .hpmain{
                margin-left: auto;
                margin-right: auto;
                max-width: 960px;
                max-height: border-box;
                padding: 52px 14px 336px;
                text-align: left;
                width: auto;
                height: auto;
                font-family: 'Noto Sans KR', sans-serif;

                
            }
            .hemailEnter {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                margin-block-start: 15px;
                margin-block-end: 1em;
                width: 100.6%;
                height: 48px;
                font-size: 14px;
                background-color: #3a3a3a;
                color: #ffffff;
                border: 0;
                outline: 0;

            }
            .hpasswordEnter {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                margin-block-start: 15px;
                margin-block-end: 1em;
                width: 100.6%;
                height: 48px;
                font-size: 14px;
                background-color: #1f89ff;
                color: #ffffff;
                border: 0;
                outline: 0;

            }
            .hpstile{
                text-align: left;
                font-size: 13px;
                margin-block-start: 40px;
            }
            .hinner {
                font-family: 'Noto Sans KR', sans-serif;
                height: 113px;
                max-width: 960px;
                width: 100%;
            }
            .hinputPW::placeholder {
                color: #d7d7d7;

            }
            .hinputEMail::placeholder {
                color: #d7d7d7;
                
            }
            .hmiddle{
                margin-block-end: -1em;
                font-size: 23px;

            }
            .hinputPW {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                border: 1px solid #d7d7d7;
                width: 100%;
                height: 48px;
                font-size: 14px;
            }
            .hinputEMail {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                border: 1px solid #d7d7d7;
                width: 100%;
                height: 48px;
                font-size: 14px;
            }
        }
        @media (min-width: 1024px) {/*1024넘겼을 때*/
            .hpinner {
                font-family: 'Noto Sans KR', sans-serif;
                height: auto;
                max-width: 960px;
                width: 700px;
            }
        .hpmain{
            margin-left: auto;
            margin-right: auto;
            max-width: 960px;
            max-height: border-box;
            padding: 71px 47px 370px;
            text-align: left;
            width: auto;
            height: auto;
            font-family: 'Noto Sans KR', sans-serif;
            justify-content: space-evenly;
            display: flex;
            justify-content: flex-end;
            
        }
        .hmain{
            margin-left: auto;
            margin-right: auto;
            max-width: 960px;
            max-height: border-box;
            padding: 71px 47px 370px;
            text-align: left;
            width: auto;
            height: auto;
            font-family: 'Noto Sans KR', sans-serif;
            justify-content: space-evenly;
            display: flex;
            justify-content: flex-end;
            
        }
            .hbody {
                margin-left: auto;
                margin-right: auto;
                max-width: 960px;
                max-height: border-box;
                padding: 64px 0px 128px;
                text-align: left;
                display: flex;
                justify-content: center;
                
            }
            .hinner {
                font-family: 'Noto Sans KR', sans-serif;
                height: 113px;
                max-width: 960px;
                width: 700px;
                margin-block-start: -6px

            }
            .hemailEnter {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                margin-block-start: 15px;
                margin-block-end: 1em;
                font-size: 14px;
                line-height: 20px;
                width: 493px;
                height: 48px;
                background-color: #3a3a3a;
                color: #ffffff;
                border: 0;
                outline: 0;

            }
            .hpasswordEnter {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                margin-block-start: 15px;
                margin-block-end: 1em;
                font-size: 14px;
                line-height: 20px;
                width: 493px;
                height: 48px;
                background-color: #1f89ff;
                color: #ffffff;
                border: 0;
                outline: 0;

            }
            .hinputPW {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                border: 1px solid #d7d7d7;
                width: 488px;
                height: 48px;
                font-size: 14px;

            }
            .hpstile{
                text-align: initial;
                font-size: 13px;
                width: 488px;
            }
            .hinputEMail {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                border: 1px solid #d7d7d7;
                width: 488px;
                height: 48px;
                font-size: 14px;
            }
            .hinputPW::placeholder {
                color: #d7d7d7;
                letter-spacing: 1px;
                
            }
            .hinputEMail::placeholder {
                color: #d7d7d7;
                letter-spacing: 1px;
            }
            .hmiddle{
                margin-block-end: -1em;
                font-size: 23px;

            }

        }

        .hinnertext {
            position: relative;
            height: 30px;
            margin-block-start: 0;
            margin-block-end: -8px;
        }

        .hmiddlemain{
            margin-block-start: 74px;
            margin-block-end: 1em;

        }
        .hpmiddlemain{
            margin-block-start: 21px;
            margin-block-end: 1em;

        }
