<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/groupPage.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
<div class="main">
    <div class="groupPageFrame">
        <div class="groupPageTitleFrame">
            <div class="groupPageTitleForm">
                <div class="groupPageTitleBox">
                    <header class="groupPageHeaderFrame">
                        <div class="groupPageHeaderForm">
                            <div class="groupPageHeaderBox">
                                <!--                                <span class="material-symbols-outlined">directions_walk</span>-->
                                <input type="checkbox" value="check">
                                <a href="#" class="groupPageHeader">Pslogger Center</a>
                                <div class="htBoundary"></div>
                                <div class="groupPageProfileFrame">
                                    <div class="groupPageProfileBox">
                                        <div class="groupPageProfileForm">
                                            <div class="groupPageProfileContainer">
                                                <picture class="groupPageProfile">
                                                    <img th:src="@{/userFile/display?fileName=} + *{uploadPath} +@{/} + *{fileName}">
                                                </picture>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                </div>
                <div class="boundary"></div>
            </div>
        </div>
        <div class="groupPageBodyFrame">
            <div class="groupPageSidebarFrame">
                <div class="groupPageSidebarForm">
                    <div class="groupPageSidebarList">
                        <div class="groupPageSidebar">
                            <div class="groupPageSidebars">
                                <div class="sNoticeFrame">
                                    <div class="sNoticeForm">
                                        <div class="sNoticeBox">
                                            <span class="material-symbols-outlined" id="gfSize">notifications</span>
                                            <div class="margin"></div>
                                            <a class="sTitle" href="notice.html">공지사항</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="sGroupInfoFrame">
                                    <div class="sGroupInfoForm">
                                        <div class="sGroupInfoBox">
                                            <span class="material-symbols-outlined" id="gfSize">group</span>
                                            <div class="margin"></div>
                                            <!-- 유저 정보 -->
                                            <a class="sTitle" href="/group/modify">단체 정보</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="sProjectFrame">
                                    <div class="sProjectForm">
                                        <div class="sProjectTitleForm">
                                            <div class="sProjectTitleBox">
                                                <span class="material-symbols-outlined" id="gfSize">list</span>
                                                <div class="margin"></div>
                                                <a class="sTitle" href="main.html">프로젝트</a>
                                            </div>
                                        </div>
                                        <span id="listClose" class="material-symbols-outlined show">expand_less</span>
                                    </div>
                                </div>
                                <div class="sProjectContainer">
                                    <a class="sProjectList" href="main.html">전체 플로깅</a>
                                    <a class="sProjectQna" href="#">플로깅 문의</a>
                                </div>
                                <div class="sGuideFrame">
                                    <div class="sGuideForm">
                                        <div class="sGuideBox">
                                            <span class="material-symbols-outlined" id="gfSize">help</span>
                                            <div class="margin"></div>
                                            <a class="sTitle" href="#">플로거 가이드 센터</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sideBarBoundary"></div>
                    </div>
                </div>
            </div>
            <!-- 여기까지 사이드바 입니다. -->
            <div class="groupPageMainFrame">
                <div class="groupPageMainForm">
                    <div class="groupPageContainer">
                        <div class="bodyTitleFrame">
                            <h3 class="bodyTitle">프로젝트</h3>
                            <a href="#" class="addProjectFrame">
                                <button class="addProjectBtn">
                                <span class="addProjectForm">
                                    <span class="addProjectImg">
                                        <span class="material-symbols-outlined">add</span>
                                    </span>
                                    <div class="addBoundary"></div>
                                    <a class="addProjectText">프로젝트 만들기</a>
                                </span>
                                </button>
                            </a>
                        </div>
                        <table class="projectListFrame">
                            <div class="projectListForm" id="projectList">
                                <div class="projectListContainer">
                                    <div class="projectListBox">
                                        <!--                                        <div class="searchForm">-->
                                        <!--                                            <div class="searchBox">-->
                                        <!--                                                <div class="searchProjectBox">-->
                                        <!--                                                    <form action>-->
                                        <!--                                                        <input placeholder="프로젝트명 검색" class="searchProject" value>-->
                                        <!--                                                    </form>-->
                                        <!--                                                </div>-->
                                        <!--                                                <span class="searchImg">-->
                                        <!--                                                <span class="material-symbols-outlined">search</span>                                                                                                        -->
                                        <!--                                            </span>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                        <div class="showListFrame">
                                            <div class="showListForm">
                                                <div class="showListBox">
                                                    <div class="showListHeader">
                                                        <div class="showListHeader1">
                                                        <span class="listCheckBoxFrame">
                                                            <div class="listCheckBoxForm">
                                                                <label class="listCheckBox">
                                                                    <span class="material-symbols-outlined" id="checkBoxBtn">check_box_outline_blank</span>
                                                                    <input type="checkbox" class="allCheck">
                                                                </label>
                                                            </div>
                                                        </span>
                                                        </div>
                                                        <div class="showListHeader3">
                                                            <span class="showListhTitle">제목</span>
                                                        </div>
                                                        <div class="showListHeader4">
                                                            <span class="showListhState" >승인상태</span>
                                                        </div>
                                                        <div class="showListHeader5">
                                                            <span class="showListhTerrain">지형</span>
                                                        </div>
                                                        <div class="showListHeader6">
                                                            <span class="showListhCourse">장소 / 코스</span>
                                                        </div>
                                                        <div class="showListHeader7">
                                                            <span class="showListhPoint">포인트</span>
                                                        </div>
                                                        <div class="showListHeader8">
                                                        <span class="showListhDateFrame">
                                                            <div class="showListhDateForm">
                                                                <p class="showListhDate">생성일</p>
                                                                <span class="material-symbols-outlined" id="dropBtn">arrow_drop_up</span>
                                                            </div>
                                                        </span>
                                                        </div>
                                                        <div class="showListHeader9">
                                                            <span class="showListhMore"></span>
                                                        </div>
                                                    </div>
                                                    <div class="showListBodyFrame">
                                                        <div class="showListBodyForm">
                                                            <!-- 프로젝트 목록 -->
                                                            <div class="showListBody" th:each="project:${projectList}" >
                                                                <div class="showListBody1">
                                                                    <div class="sbCheckBoxFrame">
                                                                        <label class="sbCheckBoxForm">
                                                                            <span class="material-symbols-outlined" id="checkBoxBtn">check_box_outline_blank</span>
                                                                            <input type="checkbox" class="oneCheck" >
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="showListBody3">
                                                                    <div class="sbTitleForm">
                                                                        <p class="sbTitle" th:text="${project.title}"></p>
                                                                    </div>
                                                                </div>
                                                                <div class="showListBody4" >
                                                                    <div class="sbStateFrame">
                                                                        <div class="sbStateForm">
                                                                            <p class="sbState" id="agreeState" th:if="${project.approval.equals('5')}" th:text="|승인대기|"></p>
                                                                            <p class="sbState" id="agreeState" th:if="${project.approval.equals('0')}" th:text="|승인완료|"></p>
                                                                            <p class="sbState" id="agreeState" th:if="${project.approval.equals('2')}" th:text="|승인거절|"></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="showListBody5">
                                                                    <div class="sbTerrainForm">
                                                                        <p class="sbTerrain" th:if="${project.terrain}=='1'">산</p>
                                                                        <p class="sbTerrain" th:if="${project.terrain}=='2'">바다</p>
                                                                        <p class="sbTerrain" th:if="${project.terrain}=='3'">평지</p>
                                                                        <p class="sbTerrain" th:if="${project.terrain}=='4'">기타</p>
                                                                    </div>
                                                                </div>
                                                                <div class="showListBody6">
                                                                    <div class="sbCourseFrame">
                                                                        <p class="sbCousre"  th:if="${project.course}=='L'">장소</p>
                                                                        <p class="sbCousre"  th:if="${project.course}=='C'">코스</p>
                                                                    </div>
                                                                </div>
                                                                <div class="showListBody7">
                                                                    <div class="sbPointFrame">
                                                                        <p class="sbPoint" th:text="${project.point}"></p>
                                                                    </div>
                                                                </div>
                                                                <div class="showListBody8">
                                                                    <div class="sbDateFrame">
                                                                        <p class="sbDate" th:text="${project.registDate}"></p>
                                                                    </div>
                                                                    </span>
                                                                </div>
                                                                <div class="showListBody9">
                                                                    <div class="sbMoreFrame">
                                                                        <div class="sbMoreForm">
                                                                            <div class="seeApplier"  style="display: flex;" id="seeApplierBox">
                                                                                <button class="moreQR" id="qrCheck">
                                                                                    <span class="getStartQr" th:id="${project.startQr}">QR</span>
                                                                                    <span class="getEndQr" th:id="${project.endQr}"></span>
                                                                                </button>
                                                                                <button class="qrCheckFrame sbMoreBox" th:id="${project.num}">
                                                                                <span class="qrCheckForm">
                                                                                    <span class="qrCheck">신청목록</span>
                                                                                </span>
                                                                                </button>
                                                                            </div>

                                                                            <!--  수정 버튼 -->
                                                                            <div class="modifyForm" th:if="${project.status == '1' }">
                                                                                <button type="button" class="moveProjectModify" style="margin-left: 6px; padding: 6px;" ><span class="material-symbols-outlined">edit</span></button>
                                                                            </div>

                                                                            <div class="deleteForm">
                                                                                <button type="button" class="deleteProjectBtn"><span class="material-symbols-outlined">delete</span></button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </table>
                        <!-- table 끝 -->

                        <div class="applierListFrame">
                            <div class="applierListForm">
                                <div class="applierListContainer">
                                    <div class="applierListBox">
                                        <div class="showListFrame">
                                            <div class="showListForm">
                                                <div class="showListBox">
                                                    <div class="showListHeader apply">
                                                        <div class="showListHeader1">
                                                                <span class="listCheckBoxFrame">
                                                                    <div class="listCheckBoxForm">
                                                                        <label class="listCheckBox">
                                                                            <span class="material-symbols-outlined" id="checkBoxBtn">check_box_outline_blank</span>
                                                                            <input type="checkbox" class="allCheck">
                                                                        </label>
                                                                    </div>
                                                                </span>
                                                        </div>

                                                        <div class="showListHeader3">
                                                            <span class="showListhTitle">이름</span>
                                                        </div>
                                                        <div class="showListHeader4">
                                                            <span class="showListhState" >전화번호</span>
                                                        </div>
                                                        <div class="showListHeader5">
                                                            <span class="showListhTerrain">신청 날짜</span>
                                                        </div>
                                                        <div class="showListHeader6">
                                                            <span class="showListhCourse">출발 시각</span>
                                                        </div>
                                                        <div class="showListHeader7">
                                                            <span class="showListhCourse">도착 시각</span>
                                                        </div>
                                                        <div class="showListHeader8">
                                                            <span class="showListhCourse">완료 여부</span>
                                                        </div>
                                                        <div class="showListHeader9">
                                                            <span class="showListhCourse"></span>
                                                        </div>

                                                        <div class="showListHeade11">
                                                            <span class="material-symbols-outlined" id="closeBtn">close</span>
                                                        </div>
                                                    </div>

                                                    <div class="showListBodyFrame">
                                                        <div class="showListBodyForm" id="replyList">
                                                            <!--                                                            &lt;!&ndash; 신청자 목록 &ndash;&gt;-->
                                                            <!--                                                            <div class="showListBody" >-->
                                                            <!--                                                                <div class="showListBody1">-->
                                                            <!--                                                                    <div class="sbCheckBoxFrame">-->
                                                            <!--                                                                        <label class="sbCheckBoxForm">-->
                                                            <!--                                                                            <span class="material-symbols-outlined" id="checkBoxBtn">check_box_outline_blank</span>-->
                                                            <!--                                                                            <input type="checkbox" class="oneCheck">-->
                                                            <!--                                                                        </label>-->
                                                            <!--                                                                    </div>-->
                                                            <!--                                                                </div>-->
                                                            <!--                                                                &lt;!&ndash; 프로필 &ndash;&gt;-->
                                                            <!--                                                                <div class="showListBody2">-->
                                                            <!--                                                                    <div class="sbImageFrame">-->
                                                            <!--                                                                        <div class="sbImageForm">-->
                                                            <!--                                                                            <div class="sbImageContainer">-->
                                                            <!--                                                                                <div class="sbImageBox">-->
                                                            <!--                                                                                    <div class="sbImageWrap">-->
                                                            <!--                                                                                        <picture class="sbImageShow">-->
                                                            <!--                                                                                            <source srcset="/src/main/resources/static/images/chun.png" media="all and (min-width: 1024px)" >-->
                                                            <!--                                                                                        </picture>-->
                                                            <!--                                                                                    </div>-->
                                                            <!--                                                                                </div>-->
                                                            <!--                                                                            </div>-->
                                                            <!--                                                                        </div>-->
                                                            <!--                                                                    </div>-->
                                                            <!--                                                                </div>-->
                                                            <!--                                                                &lt;!&ndash; 닉네임 &ndash;&gt;-->
                                                            <!--                                                                <div class="showListBody3">-->
                                                            <!--                                                                    <div class="sbTitleForm">-->
                                                            <!--                                                                        <p class="sbTitle"></p>-->
                                                            <!--                                                                    </div>-->
                                                            <!--                                                                </div>-->
                                                            <!--                                                                &lt;!&ndash; 신청일자 &ndash;&gt;-->
                                                            <!--                                                                <div class="showListBody6">-->
                                                            <!--                                                                    <div class="sbCourseFrame">-->
                                                            <!--                                                                        <p class="sbCousre"></p>-->
                                                            <!--                                                                    </div>-->
                                                            <!--                                                                </div>-->
                                                            <!--                                                                &lt;!&ndash; 신청자 상태 &ndash;&gt;-->
                                                            <!--                                                                <div class="showListBody7">-->
                                                            <!--                                                                    <div class="sbPointFrame">-->
                                                            <!--                                                                        <p class="sbPoint"></p>-->
                                                            <!--                                                                    </div>-->
                                                            <!--                                                                </div>-->
                                                            <!--                                                                &lt;!&ndash; 시작 완료 &ndash;&gt;-->
                                                            <!--                                                                <div class="showListBody9">-->
                                                            <!--                                                                    <div class="sbMoreFrame">-->
                                                            <!--                                                                        <div class="sbMoreForm">-->
                                                            <!--                                                                            <div class="seeApplier" id="seeApplierBox">-->
                                                            <!--                                                                                <button class="qrCheckFrame" id="qrCheck">-->
                                                            <!--                                                                                <span class="qrCheckForm">-->
                                                            <!--                                                                                    <span class="qrCheck">완료</span>-->
                                                            <!--                                                                                </span>-->
                                                            <!--                                                                                </button>-->
                                                            <!--                                                                            </div>-->
                                                            <!--                                                                        </div>-->
                                                            <!--                                                                    </div>-->
                                                            <!--                                                                </div>-->
                                                            <!--                                                            </div>-->
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="big-width" style="text-align: center">
                            <a class="changePage" th:href="*{startPage - 1}" th:if="*{prev}"><code>&lt;</code></a>
                            <th:block th:each="num:${#numbers.sequence(pageDTO.startPage, pageDTO.endPage)}">
                                <code th:if="${num == pageDTO.criteria.pageNum}" th:text="${num}"></code>
                                <a class="changePage" th:href="${num}" th:unless="${num == pageDTO.criteria.pageNum}"><code th:text="${num}"></code></a>
                            </th:block>
                            <a class="changePage" th:href="*{endPage + 1}" th:if="*{next}"><code>&gt;</code></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>


<div id="qrModal" class="qrModal-overlay">
    <!-- Modal content -->
    <div class="modal-content">
        <div style="margin-left: 50px; display: flex;">
            <p class="close">&times;</p>
            <p id="startP" style="margin-top: 80px;"> 출발QR</p>
            <!--            <div class="qrImg" id="qrcode"></div>-->
            <p id="endP" style="margin-top: 80px;"> 도착QR</p>
            <!--            <div class="qrImg" id="qrcode2"></div>-->
        </div>
    </div>
</div>


</div>
<!-- <div class="footerBoundary"></div> -->
<footer class="groupPageFooter">
    <!-- <div class="boundaryLine"></div> -->
    <div class="footerFrame">

    </div>
</footer>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="/assets/js/qrcode.js"></script>

<script>


    // let spanText = document.getElementById("listClose").textContent;
    // let sProjectContainer = document.querySelector('.sProjectContainer');
    //
    // $("#listClose").click(function(){
    //     if(spanText == "expand_less"){
    //         document.getElementById("listClose").textContent="expand_more";
    //         spanText = document.getElementById("listClose").textContent;
    //         sProjectContainer.classList.add('hidden');
    //     } else {
    //         document.getElementById("listClose").textContent="expand_less";
    //         spanText=document.getElementById("listClose").textContent;
    //         sProjectContainer.classList.remove('hidden');
    //     }
    // });
    //
    //
    // const showMoreBox = document.getElementById("showMore");
    // const showMore = document.getElementById("showMoreBtn");
    //
    // showMore.addEventListener("click", e => {
    //     console.log("들어옴");
    //     if(!showFlag) {
    //         console.log("들어옴1");
    //         showMoreBox.style.display ="flex";
    //         showFlag = true;
    //     } else {
    //         console.log("들어옴2");
    //         showMoreBox.style.display ="none";
    //         showFlag = false;
    //     }
    // })
    // let showFlag = false;
    // $("#showMoreBtn").click(function(){
    //
    //     if(!showFlag) {
    //         console.log("들어옴1");
    //         showMoreBox.style.display ="flex";
    //         showFlag = true;
    //     } else {
    //         console.log("들어옴2");
    //         showMoreBox.style.display ="none";
    //         showFlag = false;
    //     }
    //     console.log(showFlag)
    // })
    //
    // // 승인상태에 따라 버튼을 다르게 보이게 함
    // var agreeState = $('#agreeState').text();
    // console.log(agreeState);
    // var agLength = $('.sbState').length;
    //
    //
    // var agState = new Array(agLength);
    //
    // for(var i = 0; i < agLength; i++) {
    //     agState[i] = $('.sbState').eq(i).text();
    // }
    //
    // console.log(agState);

    //
    // const seeApplier = document.getElementById('seeApplierBox');
    // const sbMoreContainer = document.getElementById('sbMoreContainer');
    //
    // for(var i = 0; i < agLength; i++) {
    //     if(agState[i] == "승인 대기"){
    //         console.log("승인 대기");
    //         seeApplier.style.display = "none";
    //         sbMoreContainer.style.display = "block";
    //     } else {
    //         console.log("승인");
    //         seeApplier.style.display = "block";
    //         sbMoreContainer.style.display = "none";
    //     }
    // }
    //
    //
    // const modal = document.getElementById("moreBoxModalFrame");
    // const btnModal = document.getElementById("showMoreBtn");
    // btnModal.addEventListener("click", e => {
    //     modal.style.display = "flex";
    // });

    // const closeBtn = modal.querySelector(".close-modal")
    // closeBtn.addEventListener("click",e => {
    //     modal.style.display = "none";
    // })

    // modal.addEventListener("click", e => {
    //     const evTarget = e.target
    //     if(evTarget.classList.contains("moreBoxModalForm")) {
    //         modal.style.display = "none";
    //     }
    // })



    $('.addProjectBtn').on("click", function () {
        location.href = "/project/createStep";

    })

    // 신청목록
    $('.qrCheckFrame').on("click", function (e) {
        let projectNum = $(this).attr("id");
        $.ajax({
            url:"/project/apply/list/" + projectNum,
            type: "get",
            success: function (applies) {
                showApplyList(applies);
            }
        });
        $('.applierListFrame').show();
        $('#projectList').hide();
        $('.showListPagingFrame').hide();

    });


    function showApplyList(applies){
        let str = "";
        $(applies).each(function (i, apply){
            str += "<div class=\"showListBodyForm\">";
            str += "<div class=\"showListBody\">";
            str += "<div class=\"showListBody1\">";
            str += "<div class=\"sbCheckBoxFrame\">";
            str += "<label class=\"sbCheckBoxForm\">";
            str += "<span class=\"material-symbols-outlined\" id=\"checkBoxBtn\">check_box_outline_blank</span>";
            str += "<input type=\"checkbox\" class=\"oneCheck\">";
            str += "</label>";
            str += "</div>";
            str += "</div>";
            str += "<div class=\"showListBody2\">";
            str += "<div class=\"sbImageFrame\">";
            str += "<div class=\"sbImageForm\">";
            str += "<div class=\"sbImageContainer\">";
            str += "<div class=\"sbImageBox\">";
            str += "<div class=\"sbImageWrap\">";
            str += "<picture class=\"sbImageShow\">";
            str += "<source srcset=\"/src/main/resources/static/images/chun.png\" media=\"all and (min-width: 1024px)\" >";
            str += "</picture>";
            str += "</div>";
            str += "</div>";
            str += "</div>";
            str += "</div>";
            str += "</div>";
            str += "</div>";
            str += "<div class=\"showListBody3\">";
            str += "<div class=\"sbTitleForm\">";
            // 유저이름
            str += "<p class=\"sbTitle\">" + apply.nickname +  "</p>";
            str += "</div>";
            str += "</div>";
            str += "<div class=\"showListBody6\">";
            str += "<div class=\"sbCourseFrame\">";
            // 전화번호
            str += "<p class=\"sbCousre\">" + apply.phone + "</p>";
            str += "</div>";
            str += "</div>";
            str += "<div class=\"showListBody7\">";
            str += "<div class=\"sbPointFrame\">";
            // 신청날짜
            str += "<p class=\"sbPoint\">" + apply.registDate + "</p>";
            str += "</div>";
            str += "</div>";
            //

            str += "<div class=\"showListBody8\">";
            str += "<div class=\"sbDateFrame\" style='display: flex;'>";
            if (apply.startTime == null){
                str += "<p class=\"sbDate\">출발 대기&nbsp</p>";
            }else {
                str += "<p class=\"sbDate\">" + apply.startTime + "</p>";
            }
            if (apply.endTime == null){
                str += "<p class=\"sbDate\">도착 대기</p>";
            }else{
                str += "<p class=\"sbDate\">" + apply.endTime + "</p>";

            }

            str += "</div>";
            str += "</div>";

            //

            //

            str += "<div class=\"showListBody9\">";
            str += "<div class=\"sbDateFrame\" style='display: flex;'>";
            if (apply.approach == '3'){
                str += "<p class=\"sbDate\">완료</p>";
            }else{
                str += "<p class=\"sbDate\">미진행</p>";
            }

            str += "</div>";
            str += "</div>"


            //


            str += "<div class=\"showListBody10\">";

            str += "<div class=\"sbMoreFrame\">";

            str += "<div class=\"sbMoreForm\">";

            str += "<div class=\"seeApplier\" id=\"seeApplierBox\">";
            str += "<button class=\"finish\" id=\"" + apply.num + "\" onclick='finishUser(this);'>";
            str += "<span class=\"qrCheckForm\">";
            str += "<span class=\"qrCheck\">완료</span>";
            str += "</span>";
            str += "</button>";
            str += "</div>";

            str += "</div>";

            str += "</div>";

            str += "</div>";

            str += "</div>";
            str += "</div>";

        });
        $('#replyList').html(str);
    }

    // 버그 수정 필요
    $('#closeBtn').on("click", function () {
        $('.applierListFrame').hide();
        $('#projectList').show();
        $('.showListPagingFrame').show();
    });

    $('.deleteProjectBtn').on("click", function(){
        if (confirm("해당 프로젝트를 삭제하시겠습니까?")) {
            $.ajax({
                url:"/project/remove/" + projectNum,
                type: "get",
                success: function (applies) {
                    alert('프로젝트가 삭제되었습니다');
                }
            });
        }
    })


    // 모집자가 완료버튼 클릭시 -> 완료처리
    function finishUser(btn){
        let num = btn.id;
        $.ajax({
            url: "/project/apply/finish/" + num,
            type: "get"
        });
    }



    function makeQr(id, qr) {
        let lo = $(id).attr('id');
        console.log(lo);
        console.log(qr);
        var qrcode = new QRCode(document.getElementById(lo), {
            text: qr,
            width: 150,  //가로
            height: 150, //세로
            colorDark: "#000000", //qr에서 어두운 색 (보통 검은색)
            colorLight: "#ffffff", //qr에서 밝은 색 (보통 하얀색) colorDark 보다 옅어야한다.
            correctLevel: QRCode.CorrectLevel.H //qr코드 오류복원능력 (L->M->Q->H)
        });


    };


    function modal(id) {
        var zIndex = 9999;
        var modal = document.getElementById(id);

        var startP = document.getElementById('startP');
        var endP = document.getElementById('endP');
        var g = document.createElement('div');
        g.setAttribute("id", "qrcode");
        g.setAttribute('class',"qrImg");
        console.log(g);
        var f = document.createElement('div');
        f.setAttribute("id", "qrcode2");
        f.setAttribute("class", "qrImg");
        startP.appendChild(g);
        endP.appendChild(f);

        // 모달 div 뒤에 희끄무레한 레이어
        var bg = document.createElement('div');
        bg.setStyle({
            position: 'fixed',
            zIndex: zIndex,
            left: '0px',
            top: '0px',
            width: '100%',
            height: '100%',
            overflow: 'auto',
            // 레이어 색갈은 여기서 바꾸면 됨
            backgroundColor: 'rgba(0,0,0,0.4)'
        });
        document.body.append(bg);

        // 닫기 버튼 처리, 시꺼먼 레이어와 모달 div 지우기
        modal.querySelector('.close').addEventListener('click', function() {
            bg.remove();
            modal.style.display = 'none';
            console.log("들어옴");
            document.getElementById("qrcode").remove();
            document.getElementById("qrcode2").remove();
        });

        modal.setStyle({
            position: 'fixed',
            display: 'block',
            display: 'flex',
            boxShadow: '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)',

            // 시꺼먼 레이어 보다 한칸 위에 보이기
            zIndex: zIndex + 1,

            // div center 정렬
            top: '50%',
            left: '50%',
            transform: 'translate(-50%, -50%)',
            msTransform: 'translate(-50%, -50%)',
            webkitTransform: 'translate(-50%, -50%)'
        });
    }

    // Element 에 style 한번에 오브젝트로 설정하는 함수 추가
    Element.prototype.setStyle = function(styles) {
        for (var k in styles) this.style[k] = styles[k];
        return this;
    };


    let count = 0;

    $('.moreQR').on("click", function(e){
        modal('qrModal');

        var start = $(this).find('span')[0];
        var end = $(this).find('span')[1];
        // console.log(start);
        // console.log(end);
        // console.log($(start).attr('id'));
        // console.log($(end).attr('id'));
        makeQr(qrcode, $(start).attr('id'));
        makeQr(qrcode2, $(end).attr('id'));


    })


</script>
</html>