<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의 내용 확인</title>
    <link rel="stylesheet" href="/assets/css/groupPage.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
<div class="main">
    <div class="groupPageFrame">
        <div class="groupPageTitleFrame">
            <div class="groupPageTitleForm">
                <div class="groupPageTitleBox">
                    <header class="groupPageHeaderFrame">
                        <div class="groupPageHeaderForm">
                            <div class="groupPageHeaderBox">
                                <span class="material-symbols-outlined">directions_walk</span>
                                <a href="#" class="groupPageHeader">Plogger Center</a>
                                <div class="htBoundary"></div>
                                <div class="groupPageProfileFrame">
                                    <div class="groupPageProfileBox">
                                        <div class="groupPageProfileForm">
                                            <div class="groupPageProfileContainer">
                                                <picture class="groupPageProfile">
                                                    <source srcset="/src/main/resources/static/images/chun2.png" media="all and (min-width: 1024px)" >
                                                    <img src="/src/main/resources/static/images/chun2.png" class="profileImage" alt="">
                                                </picture>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                </div>
                <div class="boundary"></div>
            </div>
        </div>
        <div class="groupPageBodyFrame">
            <div class="groupPageSidebarFrame">
                <div class="groupPageSidebarForm">
                    <div class="groupPageSidebarList">
                        <div class="groupPageSidebar">
                            <div class="groupPageSidebars">
                                <div class="sNoticeFrame">
                                    <div class="sNoticeForm">
                                        <div class="sNoticeBox">
                                            <span class="material-symbols-outlined" id="gfSize">notifications</span>
                                            <div class="margin"></div>
                                            <a class="sTitle" href="notice.html">공지사항</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="sGroupInfoFrame">
                                    <div class="sGroupInfoForm">
                                        <div class="sGroupInfoBox">
                                            <span class="material-symbols-outlined" id="gfSize">group</span>
                                            <div class="margin"></div>
                                            <a class="sTitle" href="#">단체 정보</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="sProjectFrame">
                                    <div class="sProjectForm">
                                        <div class="sProjectTitleForm">
                                            <div class="sProjectTitleBox">
                                                <span class="material-symbols-outlined" id="gfSize">list</span>
                                                <div class="margin"></div>
                                                <a class="sTitle" href="main.html">프로젝트</a>
                                            </div>
                                        </div>
                                        <span id="listClose" class="material-symbols-outlined show">expand_less</span>
                                    </div>
                                </div>
                                <div class="sProjectContainer">
                                    <a class="sProjectList" href="main.html">전체 플로깅</a>
                                    <a class="sProjectQna" href="#">플로깅 문의</a>
                                </div>

                                <div class="sGuideFrame">
                                    <div class="sGuideForm">
                                        <div class="sGuideBox">
                                            <span class="material-symbols-outlined" id="gfSize">help</span>
                                            <div class="margin"></div>
                                            <a class="sTitle" href="#">플로거 가이드 센터</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sideBarBoundary"></div>
                    </div>
                </div>
            </div>
            <!-- 여기까지 사이드바 입니다. -->
            <div class="groupPageMainFrame">
                <div class="groupPageMainForm">
                    <div class="groupQnaFrame">
                        <div class="groupQnaForm">
                            <section>
                                <header class="qnaHeaderFrame">
                                    <div class="qnaHeaderForm">
                                        <h1 class="qnaHeader">프로젝트 댓글 관리</h1>
                                    </div>
                                </header>
                                <div class="qnaBodyFrame">
                                    <div class="qbSelectFrame">
                                        <select class="qnaTitleSelect">
                                            <option class="opfirst" value hidden disabled>프로젝트를 선택해주세요</option>
                                            <option value="4425">다 같이 줍자!</option>
                                        </select>
                                    </div>
                                    <div class="qbContentFrame">
                                        <div class="qbInfoFrame">

                                        </div>
                                        <div class="qbProfileFrame">
                                            <div class="qbProfileForm">
                                                <section class="qbProfileContainer">
                                                    <div class="qbProfileBox">
                                                            <span class="qbProfileImgBox">
                                                                <picture class="qbProfile">
                                                                    <img src="/src/main/resources/static/images/chun2.png" class="qbProfileImage" alt="">
                                                                </picture>
                                                            </span>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
    let spanText = document.getElementById("listClose").textContent;
    let sProjectContainer = document.querySelector('.sProjectContainer');

    $("#listClose").click(function(){
        if(spanText == "expand_less"){
            document.getElementById("listClose").textContent="expand_more";
            spanText = document.getElementById("listClose").textContent;
            sProjectContainer.classList.add('hidden');
        } else {
            document.getElementById("listClose").textContent="expand_less";
            spanText=document.getElementById("listClose").textContent;
            sProjectContainer.classList.remove('hidden');
        }
    });
</script>
</html>