<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pickitup.mapper.project.projectQna.ProjectQnaCommentMapper">


    <!-- 문의 답변글 목록  -->
    <select id="getComment" resultType="projectQnaCommentVO">
        SELECT NUM, CONTENT, REGIST_DATE, UPDATE_DATE, USER_NUM, COMPANY_NUM, QNA_NUM
        FROM TBL_PROJECT_QNA_COMMENT
        WHERE QNA_NUM = #{qnaNum}
    </select>


    <!-- 문의 답변글 등록   -->
    <insert id="insert" parameterType="projectQnaCommentVO">
        INSERT INTO TBL_PROJECT_QNA_COMMENT
        (NUM, CONTENT, REGIST_DATE, UPDATE_DATE, QNA_NUM)
        VALUES(SEQ_PROJECT_QNA_COMMENT.NEXTVAL, #{content}, SYSDATE , SYSDATE , #{qnaNum})
    </insert>

    <!-- 문의 답변글 삭제   -->
    <delete id="delete" parameterType="long">
       DELETE FROM TBL_PROJECT_QNA_COMMENT
       WHERE NUM=#{num}
    </delete>

    <!-- 문의 답변글 수정   -->
    <update id="update" parameterType="projectQnaCommentVO">
        UPDATE TBL_PROJECT_QNA_COMMENT
        SET
        CONTENT = #{content}, UPDATE_DATE = SYSDATE
        WHERE NUM = #{num}
    </update>




</mapper>


















