<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pickitup.mapper.project.projectFile.ProjectMapper">

    <!--  모집자 작성한 프로젝트 목록 -->
    <select id="getUserProjectList" resultType="projectVO">
    SELECT NUM, TITLE, CONTENT, COURSE, TERRAIN, POINT, APPROVAL, STARTTIME, ENDTIME, START_ADDRESS, END_ADDRESS, DISTANCE, START_QR, END_QR, REGIST_DATE, UPDATE_DATE, STATUS, COMPANY_NUM
    FROM TBL_PROJECT
    WHERE COMPANY_NUM = #{companyNum}
    ORDER BY REGIST_DATE DESC
    </select>

    <!-- 모집자가 작성한 프로젝트 목록 총 개수   -->
    <select id="getUserProjectTotal" resultType="_int">
        SELECT COUNT(NUM)
        FROM TBL_PROJECT
        WHERE COMPANY_NUM = #{companyNum}
    </select>

    <!-- 프로젝트 상세 정보  -->
    <select id="getDetail" resultType="projectVO">
     SELECT tp.NUM, tp.TITLE, tp.CONTENT, tp.COURSE, tp.TERRAIN, tp.POINT, tp.START_ADDRESS, tp.END_ADDRESS, tp.DISTANCE, tp.START_QR, tp.REGIST_DATE, tp.UPDATE_DATE,
            tp.STATUS , tp.COMPANY_NUM , tp.JJIM_COUNT , tp.PROJECT_DATE, tp.COMPANY_COMMENT, tp.SUMMARY,
            tc.NICKNAME,tp.STARTTIME,tp.ENDTIME
            FROM TBL_PROJECT tp
            INNER JOIN TBL_COMPANY tc
            ON tp.COMPANY_NUM = tc.NUM
            WHERE tp.NUM = #{num}
    </select>


    <!-- 프로젝트 등록  -->
    <insert id="insert" parameterType="projectVO">
        INSERT INTO TBL_PROJECT
        <selectKey keyProperty="num" resultType="long" order="BEFORE">
            SELECT SEQ_PROJECT.NEXTVAL FROM DUAL
        </selectKey>
        (NUM, TITLE, CONTENT, COURSE, TERRAIN, POINT, APPROVAL, START_ADDRESS, END_ADDRESS, DISTANCE, START_QR,
        REGIST_DATE, UPDATE_DATE, STATUS, COMPANY_NUM, JJIM_COUNT, PROJECT_DATE, COMPANY_COMMENT,
        SUMMARY,START_ADDRESS_DETAIL,END_ADDRESS_DETAIL,STARTTIME,ENDTIME)
        VALUES(SEQ_PROJECT.NEXTVAL, #{title}, #{content}, #{course}, #{terrain}, #{point}, '0', #{startAddress},
        #{endAddress}, #{distance}, NULL, SYSDATE, SYSDATE, '1' , #{companyNum}, 0, NULL,
        #{companyComment},NULL,#{startAddressDetail},#{endAddressDetail},TO_DATE(#{startTime},'yyyy-mm-dd
        hh24:mi:ss'),TO_DATE(#{endTime},'yyyy-mm-dd hh24:mi:ss'))
    </insert>


    <!-- 프로젝트 수정  -->
    <update id="update" parameterType="projectVO">
        UPDATE TBL_PROJECT
        SET
        TITLE = #{title}, CONTENT = #{content}, COURSE = #{course}, TERRAIN = #{terrain}, POINT = #{point}, APPROVAL = #{approval}, STARTTIME = #{startTime} , ENDTIME = #{endTime},
        START_ADDRESS = #{startAddress}, END_ADDRESS = #{endAddress}, DISTANCE = #{distance}, START_QR = #{qr}, UPDATE_DATE = SYSDATE, STATUS = #{status}
        WHERE NUM = #{num}
    </update>

    <!-- 프로젝트 삭제 -->
    <delete id="delete" parameterType="long">
       DELETE FROM TBL_PROJECT WHERE NUM = #{num}
    </delete>

    <update id="jjimPlus">
    update TBL_PROJECT
    set JJIM_COUNT = JJIM_COUNT+1
    WHERE NUM = #{projectNum}
    </update>
    <update id="jjimMinus">
    update TBL_PROJECT
    set JJIM_COUNT = JJIM_COUNT-1
    WHERE NUM = #{projectNum}
    </update>


    <!--    관리자용 프로젝트 전체 목록 불러오기-->
    <select id="getProjectList" resultType="projectDTO">
        SELECT
        RN,NUM,TITLE,CONTENT,TERRAIN,POINT,APPROVAL,REGIST_DATE,START_QR,UPDATE_DATE,START_ADDRESS,END_ADDRESS,NICKNAME,STARTTIME,ENDTIME,COURSE,DISTANCE
        FROM
        (
        SELECT ROWNUM RN, P.NUM AS NUM,P.TITLE AS TITLE,P.CONTENT AS CONTENT,P.TERRAIN AS TERRAIN ,P.POINT AS
        POINT,P.APPROVAL AS APPROVAL ,P.REGIST_DATE AS REGIST_DATE ,P.START_QR AS START_QR,P.UPDATE_DATE AS UPDATE_DATE
        ,P.COMPANY_NUM AS C ,P.START_ADDRESS AS START_ADDRESS, P.END_ADDRESS AS END_ADDRESS, C.NICKNAME AS
        NICKNAME,P.STARTTIME AS STARTTIME ,P.ENDTIME AS ENDTIME,P.COURSE AS COURSE,P.DISTANCE AS DISTANCE
        FROM TBL_PROJECT P ,TBL_COMPANY C
        WHERE P.COMPANY_NUM = C.NUM
        <![CDATA[
        AND ROWNUM <= #{pageNum} * #{amount}
            ]]>
        )
        WHERE RN > (#{pageNum} - 1) * #{amount}
        <choose>
            <when test="type=='title'.toString()">
                AND TITLE LIKE '%'||#{keyword}||'%'
            </when>
            <when test="type=='num'.toString()">
                AND NUM LIKE '%'||#{keyword}||'%'
            </when>
            <when test="type=='startAddress'.toString()">
                AND START_ADDRESS LIKE '%'||#{keyword}||'%'
            </when>
            <when test="type=='nickname'.toString()">
                AND NICKNAME LIKE '%'||#{keyword}||'%'
            </when>
        </choose>
        <choose>
            <when test="type1=='mountain'.toString()">
                AND TERRAIN = '1'
            </when>
            <when test="type1=='coast'.toString()">
                AND TERRAIN = '2'
            </when>
            <when test="type1=='ground'.toString()">
                AND TERRAIN = '3'
            </when>
            <when test="type1=='etc'.toString()">
                AND TERRAIN = '4'
            </when>
        </choose>
        <choose>
            <when test="type2=='registDate1'.toString() and startDate != null  ">
                AND (REGIST_DATE BETWEEN #{startDate} AND #{endDate})
            </when>
            <when test="type2=='startDate1'.toString() and startDate != null">
                AND (STARTTIME BETWEEN #{startDate} AND #{endDate})
            </when>
            <when test="type2=='endDate1'.toString() and startDate != null">
                AND (ENDTIME BETWEEN #{startDate} AND #{endDate})
            </when>
            <when test="type2=='updateDate1'.toString() and startDate != null">
                AND (UPDATE_DATE BETWEEN #{startDate} AND #{endDate})
            </when>
        </choose>
        ORDER BY REGIST_DATE DESC
    </select>


    <!--    관리자용 프로젝트 전체 개수 불러오기-->
    <select id="getProjectTotal" resultType="_int">
        SELECT COUNT(NUM)
        FROM
        (
        SELECT ROWNUM RN, P.NUM AS NUM,P.TITLE AS TITLE,P.CONTENT AS CONTENT,P.TERRAIN TERRAIN ,P.POINT AS
        POINT,P.APPROVAL AS APPROVAL ,P.REGIST_DATE AS REGIST_DATE ,P.START_QR AS START_QR,P.UPDATE_DATE AS UPDATE_DATE
        ,P.COMPANY_NUM AS C ,P.START_ADDRESS AS START_ADDRESS, P.END_ADDRESS AS END_ADDRESS, C.NICKNAME AS
        NICKNAME,P.STARTTIME AS STARTTIME ,P.ENDTIME AS ENDTIME
        FROM TBL_PROJECT P ,TBL_COMPANY C
        WHERE P.COMPANY_NUM = C.NUM
        )
        <choose>
            <when test="type=='title'.toString()">
                WHERE TITLE LIKE '%'||#{keyword}||'%'
            </when>
            <when test="type=='num'.toString()">
                WHERE NUM LIKE '%'||#{keyword}||'%'
            </when>
            <when test="type=='startAddress'.toString()">
                WHERE START_ADDRESS LIKE '%'||#{keyword}||'%'
            </when>
            <when test="type=='nickname'.toString()">
                WHERE NICKNAME LIKE '%'||#{keyword}||'%'
            </when>
        </choose>
        <choose>
            <when test="type1=='mountain'.toString()">
                AND TERRAIN = '1'
            </when>
            <when test="type1=='coast'.toString()">
                AND TERRAIN = '2'
            </when>
            <when test="type1=='ground'.toString()">
                AND TERRAIN = '3'
            </when>
            <when test="type1=='etc'.toString()">
                AND TERRAIN = '4'
            </when>
        </choose>
        <choose>
            <when test="type2=='registDate1'.toString() and startDate != null">
                AND (REGIST_DATE BETWEEN #{startDate} AND #{endDate})
            </when>
            <when test="type2=='startDate1'.toString() and startDate != null">
                AND (STARTTIME BETWEEN #{startDate} AND #{endDate})
            </when>
            <when test="type2=='endDate1'.toString() and startDate != null">
                AND (ENDTIME BETWEEN #{startDate} AND #{endDate})
            </when>
            <when test="type2=='updateDate1'.toString() and startDate != null">
                AND (UPDATE_DATE BETWEEN #{startDate} AND #{endDate})
            </when>
        </choose>
    </select>


    <!-- QR 생성(관리자용)   -->
    <select id="insertQr">
        UPDATE TBL_PROJECT
        SET START_QR=#{projectLink1},END_QR=#{projectLink2}
        WHERE NUM=#{qrNum}
    </select>

    <!--  프로젝트 승인 처리(관리자용)  -->
    <update id="approveProject">
    UPDATE TBL_PROJECT
    SET APPROVAL='0'
    WHERE NUM=#{num}
</update>

    <update id="setApprovaltoContinue">
    UPDATE TBL_PROJECT
    SET APPROVAL='1'
    WHERE NUM=#{num}
</update>

    <update id="disapproveProject">
    UPDATE TBL_PROJECT
    SET APPROVAL='2'
    WHERE NUM=#{num}
</update>

    <update id="awaitProject">
    UPDATE TBL_PROJECT
    SET APPROVAL='5'
    WHERE NUM=#{num}
</update>


    <!-- 모든 프로젝트 목록(메인화면)   -->
    <select id="getList" resultType="projectVO">
        SELECT NUM, TITLE, CONTENT, COURSE, TERRAIN, POINT, APPROVAL, STARTTIME, ENDTIME, START_ADDRESS, END_ADDRESS, DISTANCE, START_QR, REGIST_DATE, UPDATE_DATE, STATUS, COMPANY_NUM,JJIM_COUNT
        FROM TBL_PROJECT
        ORDER  BY REGIST_DATE DESC
    </select>


    <select id="getListToday" resultType="projectDTO">

        SELECT P.NUM AS NUM,P.TITLE AS TITLE,P.CONTENT AS CONTENT,P.TERRAIN AS TERRAIN ,P.POINT AS POINT,P.APPROVAL AS APPROVAL ,P.REGIST_DATE AS REGIST_DATE ,P.START_QR AS START_QR,P.UPDATE_DATE AS UPDATE_DATE ,P.COMPANY_NUM AS C ,P.START_ADDRESS AS START_ADDRESS, P.END_ADDRESS AS END_ADDRESS, C.NICKNAME AS NICKNAME,P.STARTTIME AS STARTTIME ,P.ENDTIME AS ENDTIME,P.COURSE AS COURSE,P.DISTANCE AS DISTANCE
        FROM TBL_PROJECT  P ,TBL_COMPANY  C
        WHERE P.COMPANY_NUM = C.NUM
        <![CDATA[
        AND TO_CHAR(P.REGIST_DATE,'yyyy-mm-dd hh24:mi:ss') >= (#{startDate}||'00:00:00')
        AND TO_CHAR(P.REGIST_DATE,'yyyy-mm-dd hh24:mi:ss') <= (#{endDate}||'23:59:59')

        ]]>
    </select>


    <!-- 프로젝트 찜순 목록(상위 10개)   -->
    <select id="getListJJim" resultType="projectVO">
    <![CDATA[
                SELECT *
                FROM (
                    SELECT * FROM TBL_PROJECT
                    WHERE STARTTIME >= SYSDATE
                    ORDER BY JJIM_COUNT DESC
                    )
                    WHERE ROWNUM <=10

        ]]>
    </select>


    <!-- 프로젝트 포인트순 목록(상위 10개)   -->
    <select id="getListPoint" resultType="projectVO">
    <![CDATA[

                SELECT *
                FROM (
                    SELECT * FROM TBL_PROJECT
                    WHERE STARTTIME >= SYSDATE
                    ORDER BY POINT DESC
                    )
                    WHERE ROWNUM <=10

        ]]>
    </select>

    <!-- 프로젝트 참가자순 목록   -->
    <select id="getListApply" resultType="projectVO">
    <![CDATA[

            select *
            from(
            SELECT * FROM
                (SELECT PROJECT_NUM, COUNT(PROJECT_NUM) APPLYCOUNT  FROM TBL_APPLY a
                GROUP BY a.PROJECT_NUM) a JOIN TBL_PROJECT p
                ON a.PROJECT_NUM = p.NUM
                WHERE STARTTIME >= SYSDATE
                ORDER BY APPLYCOUNT DESC)
            WHERE ROWNUM <=10

        ]]>
    </select>


    <!--  메인 화면이동  -->
    <select id="getListCourse" resultType="projectVO">
    SELECT * FROM
        (SELECT * FROM TBL_PROJECT
        WHERE STARTTIME >= SYSDATE
        ORDER BY STARTTIME DESC)

    </select>

    <select id="getListTerrain" resultType="projectVO">
        SELECT * FROM
        (SELECT * FROM TBL_PROJECT
        WHERE STARTTIME >= SYSDATE
        ORDER BY STARTTIME DESC)
        WHERE TERRAIN = #{course}
    </select>


    <select id="getListAll" resultType="projectVO">
        SELECT * FROM TBL_PROJECT
    </select>

    <select id="getSearchList" resultType="projectVO">
        select * from TBL_PROJECT where TITLE
        LIKE '%'||#{searchStr}||'%' OR SUMMARY  LIKE '%'||#{searchStr}||'%' OR
        COMPANY_NUM = (SELECT NUM FROM TBL_COMPANY WHERE NICKNAME='%'||#{searchStr}||'%')
    </select>


</mapper>

