<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:fragment="FooterImport">
<footer class="footer-wrap">
    <div class="footer-wrapper">
        <div class="footer-menu-wrap">
            <div class="footer-menu1-wrap">
                <div class="footer-logo">
                    pickitup
                </div>
                <div class="footer-msg1">
                    pickitup은 모든 사람이 사랑하는 일을 하며
                    <br>
                    살 수 있도록 세상을 바꾸고자 합니다.
                </div>
                <div class="footer-language-wrap">
                    <div class="footer-language">
                        <button class="footer-language1">
                        <span class="footer-language2">
                            <p class="footer-language3">kr 한국어</p>
                        </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="footer-menu2-wrap">
                <div class="footer-menu2-text">
                    pickitup
                </div>
                <a href="#" class="footer-link1">
                    <div class="footer-link1-text1">
                        홈
                    </div>
                </a>
                <a href="#" class="footer-link1">
                    <div class="footer-link1-text1">
                        기업교육
                    </div>
                </a>
                <a href="#" class="footer-link1">
                    <div class="footer-link1-text1">
                        채용
                    </div>
                </a>
                <a href="#" class="footer-link1">
                    <div class="footer-link1-text1">
                        도움말
                    </div>
                </a>

            </div>
            <div class="footer-menu2-wrap">
                <div class="footer-menu2-text">
                    크리에이터 센터
                </div>
                <a href="#" class="footer-link1">
                    <div class="footer-link1-text1">
                        크리에이터 센터
                    </div>
                </a>
                <a href="#" class="footer-link1">
                    <div class="footer-link1-text1">
                        정규 클래스 지원하기
                    </div>
                </a>
                <a href="#" class="footer-link1">
                    <div class="footer-link1-text1">
                        도움말
                    </div>
                </a>
            </div>
            <div class="footer-menu2-wrap">
                <div class="footer-menu3-text">
                    고객센터
                </div>
                <div class="footer-media-menu3-text">
                    오전 10시 ~ 오후 6시 (주말, 공휴일 제외)
                </div>
                <div class="footer-menu3-wrap">
                    <button type="button" class="footer-center-button">
                        <span class="footer-center-text">문의하기</span>
                    </button>
                    <div>
                        <div class="footer-center-text1">
                            오전 10시 ~ 오후 6시 (주말, 공휴일 제외)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
</body>
</html>