<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:fragment="HeaderImport" style="position: sticky; top: 0px; background-color: white; z-index: 100;">
    <section class="header-wrap">
        <header class="header">
            <div class="header1">
                <div class="header2">
                    <div class="header3">
                        <a href="/main/main">
                            <div class="logo-wrap">
                        <span class="logo-wrap1">
                            pickitup
                        </span>
                            </div>
                        </a>
                        <div class="header-spacing1"></div>
                        <div class="menu-search-wrap">
                            <div class="menu-wrap">
                                <a href="/main/main">
                                    <h4 class="menu-plogging">플로깅</h4>
                                </a>
                                <div class="menu-space"></div>
                                <a href="/store/main">
                                    <h4 class="menu-store">스토어</h4>
                                </a>
                            </div>
                            <div class="menu-space3"></div>
                            <div class="search-box">
                                <div class="search-box1">
                                    <div class="search-box2">
                                        <div class="search-box3">
                                            <form action="/main/list" method="get">
                                                <div class="search-box4">
                                                    <div class="header-search-text1">
                                                        <input type="text" style="outline: none;" class="search-icon111"
                                                               name="headerSearch"
                                                               placeholder="찾으시는 플로깅이 있으신가요?"></input>
                                                        <span class="searching-svg-icon"><svg
                                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                                class="css-skwyyj">
                                                <path d="m22.925 21.16-5.605-5.605A8.453 8.453 0 0 0 19 10.5 8.5 8.5 0 0 0 10.5 2 8.5 8.5 0 0 0 2 10.5a8.5 8.5 0 0 0 8.5 8.5c1.895 0 3.64-.63 5.055-1.68l5.605 5.605c.1.1.255.1.355 0l1.415-1.415a.246.246 0 0 0-.005-.35ZM4.5 10.5c0-3.31 2.69-6 6-6s6 2.69 6 6-2.69 6-6 6-6-2.69-6-6Z"
                                                      class="header-search-icon1"></path>
                                            </svg>
                                                    </span>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header-right-menu-wrap">
                            <div class="header-right-menu-wrap1">
                                <div class="header-right-menu-wrap2">

                                    <!--  관리자면, 단체(회사)일경우 마이플로깅 -> 플로거 센터로 변경 타임리프 이용-->
                                    <div th:if="${category} == 'company'">
                                    <div class="header-right-menu1" th:if="${checkLogin}==3 or ${checkLogin}==2">
                                        <a class="creater" href="/group/main">
                                            <p class="myplogging">마이플로깅</p>
                                        </a>
                                    </div>
                                    </div>
                                    <div th:unless="${category} == 'company'">
                                    <div class="right-empty-space1"></div>
                                    <div class="header-right-menu1" th:if="${checkLogin}==3 or ${checkLogin}==2">
                                        <a href="/user/myPage">
                                            <p class="myplogging">마이페이지</p>
                                        </a>
                                    </div>
                                    </div>
                                    <!--                                <h1 th:text="${category}"></h1>-->

                                    <div class="right-menu-wrapper2" style="display:flex;">
                                        <div th:if="${checkLogin}==1" class="right-empty-space1"></div>
                                        <a href="/user/join" th:if="${checkLogin}==1" class="myplogging">일반회원가입</a>
                                        <div th:if="${checkLogin}==1" class="right-empty-space1"></div>
                                        <a href="/user/joinGroup" th:if="${checkLogin}==1" class="myplogging">기업회원가입</a>
                                        <div class="right-empty-space1"></div>
                                        <a href="/user/login" th:if="${checkLogin}==1" class="myplogging">로그인</a>
                                        <a href="/user/logout" th:if="${checkLogin}==3" class="myplogging">로그아웃</a>

                                        <a th:if="${checkLogin}==2" class="myplogging"
                                           href="https://kauth.kakao.com/oauth/logout?client_id=810e43afb4176b21144a9e5b00273aac&logout_redirect_uri=http://localhost:10010/logout">로그아웃</a>

                                    </div>
                                    <!--                                <div class="right-empty-space1"></div>-->
                                    <!--                                <a href="#" th:if="${checkLogin==true}">-->
                                    <!--                                    <span class="css-l67hwq">-->
                                    <!--                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="css-uxrfz2">-->
                                    <!--                                            <path d="M21.141 3.91A6.262 6.262 0 0 0 16.654 2c-1.621 0-3.252.635-4.488 1.91-.06.06-.11.125-.165.19-.055-.06-.105-.13-.165-.19A6.263 6.263 0 0 0 7.35 2c-1.621 0-3.252.635-4.488 1.91-2.481 2.545-2.481 6.67 0 9.21l8.935 8.79c.06.06.135.09.21.09.075 0 .15-.03.21-.09l8.935-8.79c2.467-2.54 2.467-6.665-.01-9.21Zm-1.78 7.35-7.37 7.245-7.369-7.245c-1.47-1.525-1.466-3.99.015-5.51A3.73 3.73 0 0 1 7.33 4.605c1.005 0 2.19.505 2.996 1.25.73.68 1.066 1.235 1.361 1.655.03.045.125.215.3.215s.27-.175.305-.22c.296-.425.63-.975 1.356-1.655.806-.75 1.991-1.25 2.997-1.25a3.74 3.74 0 0 1 2.696 1.145c1.486 1.525 1.491 3.99.02 5.514Z" class="css-17ivn46"></path>-->
                                    <!--                                        </svg>-->
                                    <!--                                    </span>-->
                                    <!--                                </a>-->
                                    <div class="right-empty-space1"></div>
                                    <!--                                로그아웃 상태이면 해당 영역 display:none-->
                                    <div class="loginWrapper1" th:if="${checkLogin}==3">
                                        <div class="loginWrapper1-left">
                                            <div class="loginWrapper1-left1">
                                                <div class="loginWrapper1-left2">
                                                    <img th:src="@{/userFile/display?fileName=} + ${uploadPath} +@{/} + ${fileName}" class="loginWrapper1-left2-wrapper">
                                                </div>
                                            </div>
                                            <div class="Modal1Whole"></div>
                                            <div class="Modal1Container" style="display:none">
                                                <div class="Modal1Wrapper">
                                                    <div class="ModalPadding">
                                                        <a href="#">
                                                            <div class="ModalProfile">
                                                                <div class="ModalProfile1">
                                                                    <div class="ModalProfile2">
                                                                        <div class="ModalProfile3">
                                                                            <img src="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="ModalNameWrap">
                                                                    <p class="ModalNameText">플로깅</p>
                                                                    <button class="MyPageGoGo">
                                                                        <div class=" ModalMyPageText">
                                                            <span class="LinkBtn">
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                     viewBox="0 0 24 24" class="css-jdqsvn"><path
                                                                        d="M8.825 21.93 7.41 20.515c-.1-.1-.1-.255 0-.355l8.155-8.155-8.16-8.16c-.1-.1-.1-.255 0-.355L8.82 2.075c.1-.1.255-.1.355 0l9.75 9.75c.1.1.1.255 0 .355L9.18 21.93c-.1.1-.26.1-.355 0Z"
                                                                        class="css-bchp3n"></path></svg>
                                                            </span>
                                                                            <div class="ModalSpace"></div>
                                                                            <span class="RealButtonText">마이페이지</span>
                                                                        </div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <div class="ModalBorderLine"></div>
                                                        <div class="ModalMenuWrap123">
                                                            <a href="/user/login" th:if="${checkLogin}==1"
                                                               class="myplogging">로그인</a>
                                                            <a href="/user/logout" th:if="${checkLogin}==3"
                                                               class="myplogging">로그아웃</a>
                                                        </div>
                                                        <div class="ModalHeight"></div>
                                                        <div class="ModalMenuWrap12">
                                                            <a href="#">
                                                                <p class="ModalMenuTextStyle">메뉴 수정중1</p>
                                                            </a>
                                                            <div class="ModalHeight"></div>
                                                        </div>
                                                        <div class="ModalMenuWrap2">
                                                            <a href="#">
                                                                <p class="ModalMenuTextStyle">메뉴 수정중1</p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!--    페이지에 따라 내비게이션 바가 사라지는 페이지가있음 타임리프로 조건문 걸어서 특정 페이지에서는 사라지게할 예정-->
        <nav class="nav-container">
            <div class="nav-wrapper1">
                <div class="nav-wrapper2">
                    <div class="nav-contents-wrapper">
                        <div class="nav-category-wrapper">
                            <div class="nav-category-icon">
                                <div class="nav-category-text-wrap">
                                    <div class="nav-category-text-wrap1">
                                        <h6 class="nav-category-text-style">전체 카테고리</h6>
                                    </div>
                                </div>
                                <div class="nav-empty-space1"></div>
                                <span class="nav-category-icon1">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="css-uxrfz2">
                                <path d="m16.95 9.397-4.75 7c-.1.15-.3.15-.4 0l-4.75-7c-.1-.15 0-.4.2-.4h9.5c.2 0 .3.25.2.4Z"
                                      class="css-17ivn46">
                                </path>
                            </svg>
                        </span>
                            </div>
                            <div class="CategoryListWrapper" style="display:none">
                                <div class="CategoryModal">
                                    <div class="CategoryConList">
                                        <div class="CategoryTotalWrap">
                                            <div class="CategoryTotalPadding">
                                                <a href="/main/list">
                                                    <div class="CategoryTotalFlex">
                                                        <p class="CateogryMMTEXT">전체</p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="CategoryTotalPadding">
                                                <a href="/main/list/1">
                                                    <div class="CategoryTotalFlex">
                                                        <p class="CateogryMMTEXT">산</p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="CategoryTotalPadding">
                                                <a href="/main/list/2">
                                                    <div class="CategoryTotalFlex">
                                                        <p class="CateogryMMTEXT">바다</p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="CategoryTotalPadding">
                                                <a href="/main/list/3">
                                                    <div class="CategoryTotalFlex">
                                                        <p class="CateogryMMTEXT">평지</p>
                                                    </div>
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nav-rest-contents-wrapper">
                            <a href="/main/main#focus1" id="scroll_move1">
                                <div class="nav-rest-content1-wrapper1">
                                    <div class="nav-rest-content1-wrapper2">
                                        <h6 class="nav-rest-content1-text1">핫한 플로깅</h6>
                                        <div class="nav-dot-space"></div>
                                        <div class="nav-dot"></div>
                                    </div>
                                </div>
                            </a>
                            <div class="nav-empty-space11"></div>
                            <a href="/main/main#focus2" id="scroll_move2">
                                <div class="nav-rest-content1-wrapper1">
                                    <div class="nav-rest-content1-wrapper2">
                                        <h6 class="nav-rest-content1-text1">알찬 플로깅</h6>
                                        <div class="nav-dot-space"></div>
                                        <div class="nav-dot"></div>
                                    </div>
                                </div>
                            </a>
                            <div class="nav-empty-space11"></div>
                            <a href="/main/main#focus3" id="scroll_move3">
                                <div class="nav-rest-content1-wrapper1">
                                    <div class="nav-rest-content1-wrapper2">
                                        <h6 class="nav-rest-content1-text1">인기많은 플로깅</h6>
                                        <div class="nav-dot-space"></div>
                                        <div class="nav-dot"></div>
                                    </div>
                                </div>
                            </a>
                            <div class="nav-empty-space11"></div>
                            <a href="/project/review/list">
                                <div class="nav-rest-content1-wrapper1">
                                    <div class="nav-rest-content1-wrapper2">
<!--                                        <h6 class="nav-rest-content1-text1">플로깅 후기</h6>-->
                                        <div class="nav-dot-space"></div>
                                        <div class="nav-dot"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </section>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/Header.js"></script>
</html>