<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/Header.css"/>
    <link rel="stylesheet" href="/assets/css/Main.css"/>
    <link rel="stylesheet" href="/assets/css/Footer.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</head>
<style>
    .projectjjim{
        color: #d3cdcd;
        position: absolute;
        right: 3%;
        top: 3%;
        cursor: pointer;
    }
    .plogging-thumbnail-wrap{
        position: relative;
    }
</style>
<body>

<!--여기까지가 헤더 입니다-->
<div th:replace="~{/main/Header :: HeaderImport}"></div>
<!--여기서부터 메인 컨텐츠-->

<!--베너-->
<div class="banners-container-total">
    <div class="banner-container-inside1">
        <div class="banner-container-rightside" id="banner-container-rightside"></div>
        <div class="banner-contanier-inside2" id="bannerBackGround">
        </div>
        <div class="banner-contanier-inside3"></div>
        <div class="banner-container-inside4">
            <div class="banner-clear-img-container">
                <div class="banner-clear-wrapper">
                    <div class="banner-clear-wrapper-inside">
                        <div class="banner-inside-component1"></div>
                        <div class="banner-inside-component2"></div>
                        <div class="swiper-imgscontainer">
                            <div class="swiper-imgWrapper1">
                                <div class="swiper-slide-sc">
                                    <div class="swiper-slide-sc1">
                                        <div class="swiper-slide-sc2">
                                            <img src="/images/poster1.png" class="swiper-slide-sc-a">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide-sc">
                                    <div class="swiper-slide-sc1">
                                        <div class="swiper-slide-sc2">
                                            <img src="/images/poster1.png" class="swiper-slide-sc-a">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide-sc">
                                    <div class="swiper-slide-sc1">
                                        <div class="swiper-slide-sc2">
                                            <img src="/images/poster2.jpg" class="swiper-slide-sc-a">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide-sc">
                                    <div class="swiper-slide-sc1">
                                        <div class="swiper-slide-sc2">
                                            <img src="/images/poster3.jpg" class="swiper-slide-sc-a">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide-sc">
                                    <div class="swiper-slide-sc1">
                                        <div class="swiper-slide-sc2">
                                            <img src="/images/poster5.png" class="swiper-slide-sc-a">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide-sc">
                                    <div class="swiper-slide-sc1">
                                        <div class="swiper-slide-sc2">
                                            <img src="/images/poster6.png" class="swiper-slide-sc-a">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide-sc">
                                    <div class="swiper-slide-sc1">
                                        <div class="swiper-slide-sc2">
                                            <img src="/images/chun.png" class="swiper-slide-sc-a">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="advertising-container">
                    <a href="#" class="advertising-container-link">
                        <p class="advertising-text" id="advertising-text">1번 내용 플로깅 사랑해주세요</p>
                    </a>
                    <div class="progressbar-container">
                        <span class="advertisement-count-wrapper">
                            <span class="advertise-current-index" id="CurrentBannerNumber">01</span>
                            <span class="advertise-current-index1">06</span>
                        </span>
                        <div height="1" class="progress-bar-loading">
                            <div class="progress-bar-loading2" id="progress-bar-loading2"></div>
                        </div>
                        <button type="button" class="previous-button1" color="transparent">
                            <span class="previous-button-span">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                     viewBox="0 0 24 24">
                                    <path fill="rgb(255,255,255)"
                                          d="M15.5 5.5l-6 6.5 6 6.5L14 20l-7.5-8L14 4l1.5 1.5z"></path>
                                </svg>
                            </span>
                        </button>
                        <button type="button" class="next-button1" color="transparent">
                            <span class="next-button-span">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                     viewBox="0 0 24 24">
                                    <path fill="rgb(255,255,255)"
                                          d="M8.5 18.5l6-6.5-6-6.5L10 4l7.5 8-7.5 8-1.5-1.5z"></path>
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-wrapper-hide">
    <!-- 메인 내용 -->
    <div class="plogging-wrapper">
        <div>
            <div class="plogging-margin">
                <section>
                    <div class="hot-plogging-text">
                        <a href=#>
                            <div id="focus1" class="focus">
                                <div class="hot-plogging-text1">
                                    <img src="/images/fire.png" style="width:25px">
                                    <h2 class="hot-plogging-text2">지금 가장 핫한 프로젝트</h2>
                                </div></div>
                        </a>
                    </div>
                    <div style="width:100%; height:100%;">
                        </span>
                        <div id="slideShow1">
                            <ul class="slides1">
                                <th:block th:each="JJimList:${projectListJJim}">
                                    <li th:object="${JJimList}">
                                        <div class="plogging-thumbnail-wrap">
                                            <!--                                        <img src="/images/poster1.png">-->
                                            <span class="material-symbols-outlined projectjjim" th:name="*{num}">
                                            favorite
                                            </span>
                                            <a th:href="@{/project/projectDetail}">
                                            <span class="Jjim-image" th:href="*{num}">
                                        </span></a>
                                        </div>
                                        <div class="deadline"><span class="material-symbols-outlined"
                                                                    style="font-size: 14px; margin-left: 5px;">
                            alarm
                            </span>
                                            <div class="deadline-text">프로젝트 시작까지</div>
                                            <div class="d-day" th:text="*{projectDate}">D-3</div>
                                        </div>
                                        <div class="plogging-location-text" th:if="*{terrain} == '1'"></div>
                                        <div class="plogging-msg-text" th:text="*{title}"></div>
                                        <!-- <div class="jjims-and-likes" ><div class="last-wrap"></div>12312</div> -->
                                        <div class="jjims-and-likes">
                                            <div class="last-wrap">
                                                <div class="heart-icon">
                                                    <div class="heart-svg" style="display: flex;">
                                                        <svg class="hearts" xmlns="http://www.w3.org/2000/svg"
                                                             width="12"
                                                             height="12" fill="none" viewBox="0 0 24 24">
                                                            <path fill-rule="evenodd"
                                                                  d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z"
                                                                  fill="#d7d7d7"></path>
                                                        </svg>
                                                        <div class="jjimCountCheck" th:id="*{num}" style="margin-top: 1px;margin-left: 2px;"
                                                             th:text="*{jjimCount}"></div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </th:block>

                            </ul>
                            <p class="controller1">
                                <!-- &lang: 왼쪽 방향 화살표 &rang: 오른쪽 방향 화살표 -->
                                <span class="prev1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                         fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd"
                                                                                               d="M15.5 5.5l-6 6.5 6 6.5L14 20l-7.5-8L14 4l1.5 1.5z"
                                                                                               fill="#1a1a1a"></path></svg></span>
                                <span class="next1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                         fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd"
                                                                                               d="M8.5 18.5l6-6.5-6-6.5L10 4l7.5 8-7.5 8-1.5-1.5z"
                                                                                               fill="#1a1a1a"></path></svg></span>
                            </p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="plogging-wrapper">
            <div>
                <div class="plogging-margin">
                    <section>
                        <div class="hot-plogging-text">
                            <a href=#>
                                <div id="focus2" class="focus">
                                    <div class="hot-plogging-text1">
                                        <img src="/images/coin.png" style="width:50px">
                                        <h2 class="hot-plogging-text2">지금 가장 알찬 프로젝트</h2>
                                    </div></div>
                            </a>
                        </div>
                        <div id="slideShow2">
                            <ul class="slides2">
                                <th:block th:each="PointList:${projectListPoint}">"
                                    <li th:object="${PointList}">
                                        <div class="plogging-thumbnail-wrap">
                                            <span class="material-symbols-outlined projectjjim" th:name="*{num}">
                                            favorite
                                            </span>
                                            <span class="Jjim-image" th:href="*{num}">
                                        </span>
                                        </div>
                                        <div class="deadline"><span class="material-symbols-outlined"
                                                                    style="font-size: 14px; margin-left: 5px;">
                            alarm
                            </span>
                                            <div class="deadline-text">프로젝트 시작까지</div>
                                            <div class="d-day" th:text="*{projectDate}">D-3</div>
                                        </div>
                                        <div class="plogging-location-text" th:text="*{terrain}"></div>
                                        <div class="plogging-msg-text" th:text="*{title}"></div>
                                        <!-- <div class="jjims-and-likes" ><div class="last-wrap"></div>12312</div> -->
                                        <div class="jjims-and-likes">
                                            <div class="last-wrap">
                                                <div class="heart-icon">
                                                    <div class="heart-svg">
                                                        P
                                                    </div>
                                                    <div style="margin-left: 2px;" th:text="*{point}"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </th:block>
                            </ul>
                            <p class="controller2">
                                <!-- &lang: 왼쪽 방향 화살표 &rang: 오른쪽 방향 화살표 -->
                                <span class="prev2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                         fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd"
                                                                                               d="M15.5 5.5l-6 6.5 6 6.5L14 20l-7.5-8L14 4l1.5 1.5z"
                                                                                               fill="#1a1a1a"></path></svg></span>
                                <span class="next2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                         fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd"
                                                                                               d="M8.5 18.5l6-6.5-6-6.5L10 4l7.5 8-7.5 8-1.5-1.5z"
                                                                                               fill="#1a1a1a"></path></svg></span>
                            </p>
                        </div>
                    </section>
                </div>
            </div>
            <div class="plogging-wrapper">
                <div class="plogging-margin">
                    <section>
                        <div class="hot-plogging-text">
                            <a href=#>
                                <div id="focus3" class="focus">
                                    <div class="hot-plogging-text1">
                                        <img src="/images/running.png" style="width:40px">
                                        <h2 class="hot-plogging-text2">지금 가장 참여가 많은 프로젝트</h2>
                                    </div></div>
                            </a>
                        </div>
                        <div id="slideShow3">
                            <ul class="slides3">
                                <th:block th:each="ApplyList:${projectListApply}">
                                    <li th:object="${ApplyList}">
                                        <div class="plogging-thumbnail-wrap">
                                            <span class="material-symbols-outlined projectjjim" th:name="*{num}">
                                            favorite
                                            </span>
                                            <span class="Jjim-image" th:href="*{num}">
                                        </span>
                                        </div>
                                        <div class="deadline"><span class="material-symbols-outlined"
                                                                    style="font-size: 14px; margin-left: 5px;">
                                    alarm
                                    </span>
                                            <div class="deadline-text">프로젝트 시작까지</div>
                                            <div class="d-day" th:text="*{projectDate}">D-3</div>
                                        </div>
                                        <div class="plogging-location-text" th:text="*{terrain}">강남구청</div>
                                        <div class="plogging-msg-text" th:text="*{title}">강남구청과 함께하는 대모산 클린 하이킹</div>
                                        <!-- <div class="jjims-and-likes" ><div class="last-wrap"></div>12312</div> -->
                                        <div class="jjims-and-likes">
                                            <div class="last-wrap">
                                                <div class="heart-icon">
                                                    <div class="heart-svg">
                                                        人
                                                    </div>
                                                    <div style="margin-left: 2px;"
                                                         th:text="*{applyCount}"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </th:block>
                            </ul>
                            <p class="controller3">
                                <!-- &lang: 왼쪽 방향 화살표 &rang: 오른쪽 방향 화살표 -->
                                <span class="prev3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                         fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd"
                                                                                               d="M15.5 5.5l-6 6.5 6 6.5L14 20l-7.5-8L14 4l1.5 1.5z"
                                                                                               fill="#1a1a1a">

                                                                                        </path>
                                                    </svg>
                                </span>
                                <span class="next3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                         fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd"
                                                                                               d="M8.5 18.5l6-6.5-6-6.5L10 4l7.5 8-7.5 8-1.5-1.5z"
                                                                                               fill="#1a1a1a">

                                                                                        </path>
                                                    </svg>
                                </span>
                            </p>
                        </div>
                    </section>
                </div>
            </div>
            <!--여기까지 메인 컨텐츠-->

            <!--여기부터 푸터-->
            <div th:replace="~{/main/Footer :: FooterImport}"></div>
        </div>
    </div>
</div>


</body>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/assets/js/SlideShow.js"></script>
<script src="/assets/js/Banner.js"></script>
<script src="/assets/js/Header.js"></script>
<script th:inline="javascript">
    let userNum = [[${userNum}]];

    <!--    이미지 출력-->
    let strImg = "";
    $(".Jjim-image").each(function (i, h) {
        let projectNum = $(this).attr("href");
        $.ajax({
            url: "/projectFile/list/" + projectNum,
            type: "get",
            success: function (files) {
                strImg += "<picture class='join-plogging-main-image'>";
                strImg += "<img src='/projectFile/display1?fileName=" + files[0].uploadPath + "/" + files[0].uuid + "_" + files[0].fileName + "'>";
                strImg += "</picture>";
                $(h).html(strImg);
                strImg = "";
            }
        })
    })


    let nickname = [[${nickname}]];
    let sessionnickname = [[${session.nickname}]];
    if (sessionnickname != null) {
    }
    // if (sessionnickname != null) {
    //     alert(sessionnickname + "님 어서오세요!");
    // }
    let sessioncategory = [[${session.category}]];


    //Project 찜 ajax
    $('.projectjjim').on("click", function() {
        let projectNum = $(this).attr("name");
        let data = {userNum : userNum, category: "1", projectNum : projectNum};
        if(!userNum){
            alert("로그인후 사용하실 수 있습니다")
        }else{
            if($(this).hasClass("material-symbols-outlined")){ //찜 안되어있을때, insert ajax
                $(this).removeClass("material-symbols-outlined");
                $(this).addClass("material-icons");
                $(this).css("color","red");

                $.ajax({
                    url : "/project/jjim",
                    type : "post",
                    data : JSON.stringify(data),
                    contentType: "application/json;charset=UTF-8",
                    success : function () {
                        jjimCheck();
                        jjimCount(projectNum);
                    }
                })

            }else{                                             //찜 되어있으면,   delete ajax
                $(this).addClass("material-symbols-outlined");
                $(this).removeClass("material-icons");
                $(this).css("color","#d3cdcd");

                $.ajax({
                    url : "/project/jjim",
                    type : "delete",
                    data : JSON.stringify(data),
                    contentType: "application/json;charset=UTF-8",
                    success : function () {
                        jjimCheck();
                        jjimCount(projectNum);
                    }
                })
            }
        }
    });

    // 찜 개수
    function jjimCount(projectNum){
        $.ajax({
            url: "/project/jjim/" + projectNum,
            type: "get",
            success: function(count){
                $('.jjimCountCheck#'+projectNum).html(count);
            }
        });

    }
    jjimCheck();
    function jjimCheck() {
        $.ajax({
            url : "/store/jjim",
            type : "get",
            success : function (jjims) {
                $(jjims).each(function (i, jjim) {
                    if(jjim.userNum==userNum){
                        if($(".projectjjim[name="+jjim.projectNum+"]").hasClass("material-symbols-outlined")){
                            $(".projectjjim[name="+jjim.projectNum+"]").removeClass("material-symbols-outlined");
                            $(".projectjjim[name="+jjim.projectNum+"]").addClass("material-icons");
                            $(".projectjjim[name="+jjim.projectNum+"]").css("color","red")
                        }
                    }
                })
            }
        });
    }


</script>
</html>