<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>centerFooter</title>
    <link rel="stylesheet" href="../../static/assets/css/center.css">
</head>
<body>
    <footer class="hqfooter">
        <div class="hqcontainer">
            <div class="hqcontent">
                <div>
                    <div class="hfooter__logo">
                        <a class="hlogo-wrap" href="" style="     color: #646566; text-decoration: none;display: flex;
                        justify-content: center;font-size:20px;">PickItUp</a>
                    </div>
                    
                    <div class="hfooter__links">
                        <ul class="hfooter__link-list">
                            <li class="hfooter__link">
                                <a class="hatage" href="">PickItUp Center</a>
                            </li>
                            <li class="hfooter__link">
                                <a class="hatage" href="">PickItUp Center</a>
                            </li>
                            <li class="hfooter__link">
                                <a class="hatage" href="">PickItUp Center</a>
                            </li>
                            
                        </ul>
                    </div>

                </div>

            </div>
        </div>


    </footer>
</body>
</html>