<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="hqheader">
        <div>
            <div class="hqcontainer">
                <div class="hqcontent">
                    <div class="hmo">
                        <div class="hmo_body">
                            <div class="hheader__logo">
                                <a href="" style="text-decoration: none;">
                                    <!-- href = 페이지이동 -->
                                    <p class="hlogo-wrap">PickitUp</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <h1 class="hheadline">픽잇업 헬프 센터</h1>



                </div>
            </div>
        </div>

    </header>
</body>
</html>