<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>페스워드 찾기</title>
    <link rel="stylesheet" href="/assets/css/Password.css"/>
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/password.js"></script>
</head>


<body>
<div th:replace="~{/main/Header :: HeaderImport}"></div>
<!-- Main -->

<div class="hbody" style="display: contents;">

    <div class="hmain">
        <div class="hinner">


            <!-- Table -->
            <div class="hinner">
                <!--                    <h1>PickItUp</h1>-->
                <div class="hunderline">
                    <p>새로운 비밀번호를 설정해주세요.</p>
                </div>
                <div class="hinner">
                    <p class="hpstile">계정에 연결된 이메일 주소를 입력하면 암호를 재설정할 수 있는 링크를 이메일로 보내드릴게요.</p>
                </div>

            </div>


            <div class="hmiddlemain">
                <div class="hinnertext">
                    <p class="hpstile" style="margin-block-start: 38px">이메일</p>
                </div>
                <form method="post" action="/user/findPw" id="findPWForm">
                    <div class="hinnertext">
                        <input class="hinputEMail" type="text" name="email"
                               placeholder="example@naver.com">
                        <p class="herror" id="herror" style="display: none">*이메일을 입력해주세요.</p>
                        <div class="hmiddle">
                            <button class="hemailEnter" type="submit">인증 이메일 전송하기</button>
                        </div>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>
<div th:replace="~{/main/Footer :: FooterImport}"></div>
</body>
<script th:inline="javascript">
    let msg=[[${msg}]];
    if(msg!=null){
        alert(msg);
    }
</script>

</html>