<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가이드</title>
    <link rel="stylesheet" href="/assets/css/guide.css">
</head>

<body class="hqtbody">
<div th:replace="~{/main/Header :: HeaderImport}"></div>
    <header class="hqtheader">
        <div class="hqtcontainer">
            <div class="hqtcontent">
                <div class="hqto__centered">
                    <div class="hqtmo__body">
                        <div class="hqtheader__logo">
                            <a href="" style="text-decoration: none;"></a>
                            <p class="hlogo-wrap">PickItUp</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="hqtcontainer">
        <div class="hqtcontent">
            <section class="hqtsection">
                <div class="hqtbreadcrumb">
                    <div class="hqtlink__arrow">
                        <a href="" style="text-decoration: none; color:#4f5e6b">모든 컬렉션</a>
                    </div>
                    <div class="hqtlink__arrow">
                        >
                        <a href="" style="text-decoration: none; color:#4f5e6b">픽잇업 센터 및 문의 가이드</a>
                    </div>
                    <div class="hqtlink__arrow">
                        >
                        <a>aaaaaaaaaaa</a>
                    </div>
                </div>
                <div class="hqtpaper hqtpaper__large" style="width: auto;">
                    <div class="hqtcontent hqtcontent__narrow">
                        <div class="hqtarticle">
                            <div class="hqtarticle__meta">
                                <h1 class="hqtt">야아야아야아야아야아</h1>
                                <div class="hqtarticle__desc">상담사와 직접 상담을 원하신다면 이용.</div>
                            </div>
                            <div class="hqtavatar">
                                <div class="hqtavatar__photo">
                                    <span class="hqtavatar__fallback">관</span>
                                </div>
                                <div class="hqtavatar__info">
                                    <div>
                                        <span class="hqtc__darker">작성자:</span>
                                        "관리자"
                                        <br>
                                        "몇 주전에 업데이트됨"
                                    </div>
                                </div>
                            </div>
                        </div>
                        <article class="hqt__article">
                            <h2 id="" data-post-processed="true" class="hqtarticle">
                                <b>방법1. </b>
                            </h2>
                            <p class="hqtno-margin">
                                <b>문의를 해주세요.</b>
                                에서 바로 문의하기가 가능합니다.💚
                            </p>
                            <ul>
                                <li>
                                    <p class="hqtno-margin">해당 탭은 프로젝트분들에게만 노출됩니다.</p>
                                </li>
                                <li>
                                    <p class="hqtno-margin">
                                        해당 경로를 통해 고객센터에 방문하실 경우, &lt;방법2: 크리에이터 센터 우측 하단 검정색 물음표 아이콘&gt;을 통해 문의 주신 내역까지
                                        <b>연동이 되어 이어서 안내받으실 수 있습니다.</b>
                                    </p>
                                </li>
                            </ul>
                            <p class="hqtno-margin"></p>
                            <div>
                                <img src="">
                            </div>
                            <hr>
                            <p class="hqtno-margin"></p>
                            <h2 id="" data-post-processed="true">
                                <b>방법2. 센터 내 검정색 채널톡 아이콘 이용</b>
                            </h2>
                            <p class="hqtno-margin">1.<a href="" rel="nofollow noopener noreferrer" target="_blank"
                                    class="intercom-content-link" style=" color: #010d0b;">센터</a> 에 접속합니다.
                                </p>
                                <p class="hqtno-margin">2. 센터 우측 하단 검정색 채널톡 아이콘을 클릭합니다.</p>
                                <p class="hqtno-margin"></p>
                                <div>
                                    <img src="">
                                </div>
                                <p class="hqtno-margin">3.<b> [새 문의하기] &gt; 알맞은 서포트봇을 </b>눌러, 대화를 시작합니다.</p>
                                <p class="hqtno-margin"></p>
                                <div class="intercom-container">
                                    <img src="">
                                </div>
                                <hr>
                                <p class="hqtno-margin"></p>
                                <p class="hqtno-margin"></p>
                                <h3 id="" data-post-processed="true">
                                    <b>📌 저는 이미 대화 중인 상담창이 있었는데, 못찾겠어요!</b>
                                </h3>
                                <ul>
                                    <li>
                                        <p class="hqtno-margin">풋잇업센터를 통한 상담창 접근 방법</p>
                                    </li>
                                </ul>
                                <ol>
                                    <li>
                                        <p class="hqtno-margin">
                                            위 경로를 통해 센터 접속 &gt; 우측 하단 검정색 채널톡 아이콘을 클릭합니다.
                                        </p>
                                    </li>
                                    <li>
                                        <p class="hqtno-margin">
                                            <b>[상담목록] </b>
                                            에서 대화 중이던 상담창을 찾을 수 있습니다.
                                        </p>
                                    </li>
                                    <li>
                                        <p class="hqtno-margin">
                                            만약 원하는 상담창을 못찾으셨다면
                                            <b>[새 문의하기]</b>
                                             눌러주시면 됩니다.
                                            </p>
                                        </li>
                                    </ol>
                                    <p class="hqtno-margin"></p>
                                    <div>
                                        <img src="">
                                    </div>
                                    <p class="hqtno-margin"></p>

                        </article>
                    </div>
                    <div class="hqtintercom-reaction-picker">
                        <div class="hqtintercom-reaction-promt">답변을 찾으셨나요?</div>
                    
                          <button class="hqtintercom-reaction" data-reaction-text="disappointed" tabindex="0" aria-label="Disappointed Reaction">
                            <span data-emoji="disappointed" title="Disappointed">😞</span>
                          </button>
                          <button class="hqtintercom-reaction" data-reaction-text="neutral_face" tabindex="0" aria-label="Neutral face Reaction">
                            <span data-emoji="neutral_face" title="Neutral face">😐</span>
                          </button>
                          <button class="hqtintercom-reaction" data-reaction-text="smiley" tabindex="0" aria-label="Smiley Reaction">
                            <span data-emoji="smiley" title="Smiley">😃</span>
                          </button>
                      </div>
                </div>
            </section>
        </div>
    </div>
<div th:replace="~{/main/Footer :: FooterImport}"></div>
</body>

</html>