<!-- 휴대폰 문자
restController에서 랜덤 생성 및 연결하는 부분 가져오기
CoolSmsUtil.java 파일 필요
pom.xml에서 dependency 추가
-->

<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입</title>
</head>
<link rel="stylesheet" href="/assets/css/join.css"/>
<link rel="stylesheet" href="/assets/css/Header.css"/>
<link rel="stylesheet" href="/assets/css/Footer.css"/>
<body>
<div th:replace="~{/main/Header :: HeaderImport}"></div>
<div class="root">
    <div class="wrapper-1">
        <div class="wrapper">
            <form method="post" action="/user/join" id="joinForm" >
                <div class="join-firststep">
                    <div class="wrapper-title"><h1 class="join-title">회원가입</h1><span
                            class="join-title-type">(일반회원)</span></div>
                    <div class="join-table">
                        <div class="join-table-title">이메일
                            <span class="check-text" id="emailCheck_text"> </span></div>
                        <div class="join-input-table" style="display: flex;">
                            <input name="email" class="input-data" id="email" placeholder="example@example.com" type="email" onkeydown="CheckEnter(this.form,this)"/>

                            <button id="emailCheck" type="button" class="emailCheck">중복확인</button>

                        </div>
                    </div>
                    <div class="join-table">
                        <div class="join-table-title">비밀번호<span class="check-text" id="pwCheck_text_first"/></span></div>
                        <input class="input-data" id="password" placeholder="********" type="password" />
                    </div>
                    <div class="join-table">
                        <div class="join-table-title">비밀번호 재확인<span class="check-text" id="pwCheck_text"/></span></div>
                        <input name="password" class="input-data" id="password_check" placeholder="********" type="password" />
                    </div>
                    <div class="join-table">
                        <div class="join-table-title">닉네임<span class="check-text" id="nameCheck_text"> </span></div>
                        <div class="join-input-table" style="display: flex;">
                            <input name="nickname" class="input-data" id="nickname" placeholder="홍길동" type="text" />
                            <button id="nameCheck" type="button" class="emailCheck">중복확인</button>
                        </div>
                    </div>
                    <div class="join-table">
                        <div class="join-table-title">전화번호<span class="check-text" id="phoneCheck_text"> </span></div>
                        <input name="phone" class="input-data" id="phone" placeholder="010-0000-0000" type="text" maxlength="13"/>
                    </div>
                    <div class="join-table">
                        <div class="join-table-title">주소</div>
                        <div style="display: flex; margin-top: 10px;margin-bottom: 5px;">
                            <input name="address" class="input-data" type="text" id="state" placeholder="주소" readonly>
                            <input type="button" class="btnCertify" value="검색"/>
                        </div>
                        <input name="addressDetail" class="input-data" type="text" id="state-detail" placeholder="상세주소">
                    </div>
                    <input type="button" class="submit_button" id="submit-user" value="다음"/>
                </div>

                <!--  화면 전환  -->
                <div class="join-secondstep" style=" display:none;">

                    <div class="wrapper-title"><h1 class="join-title">휴대폰 인증하기</h1></div>
                    <div class="phone-title">가입을 위해 본인의 휴대폰 번호를 인증해 주세요.<br>
                        이벤트 알림을 신청하면 추가적으로 혜택을 받으실 수 있어요.
                    </div>
                    <div class="join-table">
                        <div class="join-table-title">휴대폰 번호</div>
                        <div style="display: flex; margin: 10px 0px 10px;">
                            <input class="input-data" id="phone2" type="text" readonly/>
                            <input type="button" class="button-phone" id="sendPhone" value="전송"/>
                        </div>
                        <div style="display: flex; margin: 10px 0px 10px;">
                            <input class="input-data" id="phone-check" type="text" maxlength="6"/>
                            <input type="button" class="button-phone" id="phone-check-button" value="입력필요"/>
                        </div>
                    </div>
                    <input hidden="hidden" />
                    <input type="button" class="submit_button" id="submit-user-final" value="등록"/>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="~{/main/Footer :: FooterImport}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/join.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</html>