<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/mypage_style.css">
    <link rel="stylesheet" href="/assets/css/Header.css" />
    <link rel="stylesheet" href="/assets/css/Footer.css" />
    <script src="https://kit.fontawesome.com/3e4acc40f3.js" crossorigin="anonymous"></script>
    <title>마이페이지</title>
</head>

<body class="mypage-total">
<div th:replace="~{/main/Header :: HeaderImport}"></div>
<div id="mypage-total-inside">
    <div class="mypage-outline mypage-linepick">
        <header class="header-middle" ><a class="header-top" href="/user/infoUpdate">
            <h2 class="header-text" th:text="${getDetail.getNickname()}"><img src="https://class101.net/images/im-kakao-login.png" alt="kakao" class="header-img"></h2>
            <div class="header-bottom" th:text="${getDetail.getEmail()}"><svg xmlns="http://www.w3.org/2000/svg" width="14"
                                                                              height="14" fill="none" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M8.5 18.5l6-6.5-6-6.5L10 4l7.5 8-7.5 8-1.5-1.5z"
                      fill="#a2a2a2"></path>
            </svg></div>
        </a></header>
        <div class="mypage-wrap">
            <aside class="left-side">
                <section class="first-section-top">
                    <h4 class="first-section-top-letter">내 등급</h4><a color="#00B031" class="second-section-top"
                                                                     href="#">
                    <div class="second-section-middle">
                        <h4 class="second-section-letter">Lv. <i class="sc-6345c08d-9 second-section-icon"></i>
                        </h4><span class="second-section-right">
                                    <div class="second-section-right-letter">혜택보기</div> <svg
                            xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none"
                            viewBox="0 0 24 24">
                                        <path fill-rule="evenodd" d="M8.5 18.5l6-6.5-6-6.5L10 4l7.5 8-7.5 8-1.5-1.5z"
                                              fill="#FFF"></path>
                                    </svg>
                                </span>
                    </div>
                    <div class="second-section-line">
                        <div value="0" class="second-section-box"></div>
                    </div>
                    <div class="second-section-bottom-letter"><span class="second-letter">10,000P</span> 추가 적립시
                        다음 달 Lv. Professional</div>
                </a>
                </section>
                <section class="third-section">
                    <h4 class="third-section-top">내 정보</h4><a class="third-section-top-a" href="/user/myPw">
                    <div class="third-section-top-div">비밀번호 변경</div>

                </a><a class="third-section-middle" href="/user/myPoint">
                    <div class="third-section-middle-div">내 포인트</div>
                    <div class="third-section-middle-div2">
                        <div class="third-section-middle-div3" th:text="|${getDetail.getPoint()}P|"></div><svg xmlns="http://www.w3.org/2000/svg"
                                                                                                               width="14" height="14" fill="none" class="third-section-middle-div4"
                                                                                                               viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M8.5 18.5l6-6.5-6-6.5L10 4l7.5 8-7.5 8-1.5-1.5z"
                              fill="#cacaca"></path>
                    </svg>
                    </div>
                </a><a class="third-section-bottom-bottom" href="/user/myQnA">
                    <div class="third-section-bottom-div3">내 문의</div>
                    <div class="third-section-bottom-div-div">
                        <div class="third-section-bottom-div-div2"></div><svg xmlns="http://www.w3.org/2000/svg"
                                                                              width="14" height="14" fill="none" class="third-section-bottom-div-div2-svg"
                                                                              viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M8.5 18.5l6-6.5-6-6.5L10 4l7.5 8-7.5 8-1.5-1.5z"
                              fill="#cacaca"></path>
                    </svg>
                    </div>
                </a><a class="third-section-bottom-last" href="/user/myReview">
                    <div class="third-section-bottom-last-letter">내 후기</div>
                    <div class="third-section-bottom-last-letter-div">
                        <div class="third-section-bottom-last-div"></div><svg xmlns="http://www.w3.org/2000/svg"
                                                                              width="14" height="14" fill="none" class="third-section-bottom-last-div-svg"
                                                                              viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M8.5 18.5l6-6.5-6-6.5L10 4l7.5 8-7.5 8-1.5-1.5z"
                              fill="#cacaca"></path>
                    </svg>
                    </div>
                </a>
                </section>



                <section class="fifth-section">
                    <h4 class="fifth-section-first">메뉴</h4><a class="fifth-section-third-div-div3" href="/">
                    <div class="fifth-section-third-div-div4">로그아웃</div>
                    <div class="fifth-section-third-div-div4-letter">
                        <div class="fifth-section-third-space"></div><svg xmlns="http://www.w3.org/2000/svg"
                                                                          width="14" height="14" fill="none" class="fifth-section-third-space-svg" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M8.5 18.5l6-6.5-6-6.5L10 4l7.5 8-7.5 8-1.5-1.5z"
                              fill="#cacaca"></path>
                    </svg>
                    </div>
                </a>
                </section>
            </aside>
            <div class="mypage-right">
                <div class="mypage-right-content">
                    <form action="/user/myPassword" method="post" id="passwordChange" th:object="${getDetail}">
                        <div class="update-password">
                            <h3 class="password-title">비밀번호 변경</h3>
                            <div class="passwordBox">
                                <div>
                                    <div class="password-Input-Box">
                                        <p class="password-name">새 비밀번호</p>
                                        <input type="password" id="password" name="password">
                                    </div>
                                    <span class="pwcaseCheck"></span>
                                </div>
                                <div style="margin-bottom : 20px;">
                                    <div class="passwordCheck-Input-Box">
                                        <p class="passwordCheck-name">비밀번호 확인</p>
                                        <input type="password" id="passwordCheck" name="passwordCheck">
                                    </div>
                                    <span class="pwCheckcaseCheck"></span>
                                </div>
                            </div>
                            <button type="submit" class="pwChangeBtn">변경하기</button>
                        </div>
                        <input type="hidden" id="num" name="num" th:value="*{num}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    let $upw = $('input#password');
    let $upw2 = $('input#passwordCheck');
    let pwPass = false;

    // 비밀번호 유효성검사
    function checkPw(){
        if($("input#password").val().length < 8){
            $('.pwcaseCheck').text("8자 이상 입력해주세요").css("color", "red");
            $('.pwCheckcaseCheck').text(" ").css("color", "red");
        }else{
            $('.pwcaseCheck').text("가능한 비밀번호 형식입니다").css("color", "green");
        }
    }

    // 비밀번호 유효성 검사 적용
    $upw.blur(function () {
        checkPw();
    })

    // 비밀번호 확인검사
    $upw2.blur(function () {
        let $upwval = $upw.val();
        let $upw2val = $upw2.val();
        if (!$upwval || !$upw2val) {
            $('.pwCheckcaseCheck').text("비밀번호를 입력해주세요").css("color", "red");
            pwPass = false;
            return;
        }else if($("#password").val().length < 8){
            $('.pwcaseCheck').text("선 비밀번호 조건이 맞지 안습니다").css("color", "red");
        }else if ($upwval != $upw2val) {
            $('.pwCheckcaseCheck').text("비밀번호가 일치하지 않습니다").css("color", "red");
            pwPass = false;
            return;
        } else {
            $('.pwCheckcaseCheck').empty().text("비밀번호가 일치합니다.").css("color", "green");
            pwPass = true;
        }
    });

    $(".pwChangeBtn").on("click", function (e) {
        if(!pwPass) {
            alert("비밀번호를 다시 확인해주세요")
            return false;
        }
        let enpw=btoa($('input[name=password]').val());
        $('input[name=password]').val(enpw);
        $('#passwordChange').submit();
    })
</script>
</html>