<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link rel="stylesheet" href="/assets/css/mypage_style.css">
    <link rel="stylesheet" href="/assets/css/Header.css" />
    <link rel="stylesheet" href="/assets/css/Footer.css" />
    <title>내 포인트</title>
</head>

<body class="my-real-point-body">

<!--640px 헤더 필요-->
<div id="my-real-point-next">
    <div id="my-real-point-wrapper">
        <div class="my-real-point-top">
            <div class="my-real-point-top2">
                <div class="my-real-point-top3">
                    <div class="my-real-point-top6" style="display: flex;">
                        <div class="my-real-point-top7"><strong
                                class="my-real-point-top8"><span th:text="${user.getPoint()}"></span></strong><span
                                class="my-real-point-top9">Point</span></div><img src="https://class101.net/images/eclipse.png"
                                                                                  class="my-real-point-top10">
                    </div>
                    <div class="my-good-point"></div>
                </div>
                <div class="my-good-point1">
                    <div class="my-good-point2">
                        <div class="my-good-point3">
                            <div class="my-good-point4">
                                <p class="my-good-point5">스토어 상품을 구매하고 싶은데<br>포인트가 부족하다면?</p>
                                <div class="my-good-point6"></div>
                                <p class="my-good-point7">현재 모집중인 플로깅에 참여하세요!</p>
                            </div>
                            <div class="my-good-point8"></div>
                            <div class="my-good-point9">
                                <picture class="my-point-gold">
                                    <source type="image/webp"
                                            srcset="https://cdn.class101.net/images/ff8e2a46-501c-4f1c-a7be-76e658928397/640xauto.webp 640w,https://cdn.class101.net/images/ff8e2a46-501c-4f1c-a7be-76e658928397/750xauto.webp 750w,https://cdn.class101.net/images/ff8e2a46-501c-4f1c-a7be-76e658928397/828xauto.webp 828w,https://cdn.class101.net/images/ff8e2a46-501c-4f1c-a7be-76e658928397/1080xauto.webp 1080w,https://cdn.class101.net/images/ff8e2a46-501c-4f1c-a7be-76e658928397/1200xauto.webp 1200w,https://cdn.class101.net/images/ff8e2a46-501c-4f1c-a7be-76e658928397/1920xauto.webp 1920w,https://cdn.class101.net/images/ff8e2a46-501c-4f1c-a7be-76e658928397/2048xauto.webp 2048w,https://cdn.class101.net/images/ff8e2a46-501c-4f1c-a7be-76e658928397/3840xauto.webp 3840w"
                                            sizes="70px"><img
                                        srcset="https://cdn.class101.net/images/ff8e2a46-501c-4f1c-a7be-76e658928397/640xauto 640w,https://cdn.class101.net/images/ff8e2a46-501c-4f1c-a7be-76e658928397/750xauto 750w,https://cdn.class101.net/images/ff8e2a46-501c-4f1c-a7be-76e658928397/828xauto 828w,https://cdn.class101.net/images/ff8e2a46-501c-4f1c-a7be-76e658928397/1080xauto 1080w,https://cdn.class101.net/images/ff8e2a46-501c-4f1c-a7be-76e658928397/1200xauto 1200w,https://cdn.class101.net/images/ff8e2a46-501c-4f1c-a7be-76e658928397/1920xauto 1920w,https://cdn.class101.net/images/ff8e2a46-501c-4f1c-a7be-76e658928397/2048xauto 2048w,https://cdn.class101.net/images/ff8e2a46-501c-4f1c-a7be-76e658928397/3840xauto 3840w"
                                        src="https://cdn.class101.net/images/ff8e2a46-501c-4f1c-a7be-76e658928397"
                                        sizes="70px" class="my-point-gold1">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="my-point-gold2">
                    <div class="point-total-list-box">
                        <div class="my-point-gold3">
                            <div class="my-point-gold4">
                                <h4 font-weight="bold" class="my-point-gold5">포인트 내역</h4>
                            </div>
                            <div class="my-point-gold4-by">
                                <div font-weight="bold" class="my-point-gold5-by">포인트 내역은 최근 10건까지만 표시됩니다.</div>
                            </div>
                        </div>
                        <section class="point-pay-list" th:each="pointDTO:${changePoint}">
                            <div class="my-point-gold6" th:object="${pointDTO}">
                                <div class="my-point-gold8">
                                    <div class="my-point-gold9" th:text="*{title}"></div>
                                    <div font-weight="600" class="my-point-gold10" th:text="*{#dates.format(pointDate, 'yyyy-MM-dd')}"></div>
                                </div>
                                <div class="my-point-gold13" th:if="*{category == '0'}" th:text="|+*{point}|" style="color:black"></div>
                                <div class="my-point-gold13" th:unless="*{category == '0'}" th:text="|-*{point}|" style="color:red"></div>
                            </div>
                        </section>
                    </div>


                </section>
                <div class="my-point-notice">
                    <h2 class="my-point-notice1">유의사항</h2>
                    <ul class="my-point-notice2">
                        <li class="my-point-notice3">포인트 적립 및 사용처의 변경은 사전 고지 없이 내부 사정에 따라 변경될 수 있습니다.</li>
                        <li class="my-point-notice3">포인트의 유효기간은 포인트 지급 경로에 따라 다를 수 있습니다.</li>
                        <li class="my-point-notice3">한번 사용하신 포인트에 대해서는 철회가 불가능합니다.</li>
                        <li class="my-point-notice3">계정 정보 이전 시에 포인트 이전은 불가능합니다.</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<!--640px푸터 필요-->
</body>

</html>