<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pickitup.mapper.product.productReview.ProductReviewMapper">
    <select id="getList" resultType="productReviewVO">
    SELECT NUM, CONTENT, REGIST_DATE, UPDATE_DATE, USER_NUM, PRODUCT_NUM
    FROM TBL_PRODUCT_REVIEW
    WHERE PRODUCT_NUM=#{productNum}
    ORDER BY UPDATE_DATE DESC
    </select>
    <select id="getDetail" resultType="productReviewVO">
    SELECT NUM,CONTENT, REGIST_DATE, UPDATE_DATE, USER_NUM, PRODUCT_NUM
    FROM TBL_PRODUCT_REVIEW
    WHERE NUM=#{num}
    </select>
    <insert id="insert">
        <selectKey keyProperty="num" resultType="long" order="BEFORE">
            SELECT SEQ_PRODUCT_REVIEW.NEXTVAL FROM DUAL
        </selectKey>
    INSERT INTO TBL_PRODUCT_REVIEW
        (
            NUM, CONTENT, REGIST_DATE, UPDATE_DATE,
            USER_NUM, PRODUCT_NUM
        )
    VALUES
        (
            #{num}, #{content}, SYSDATE, SYSDATE,
            #{userNum}, #{productNum}
        )
    </insert>
    <update id="update">
    UPDATE TBL_PRODUCT_REVIEW
    SET
        CONTENT=#{content},
        UPDATE_DATE=SYSDATE
    WHERE NUM=#{num}
    </update>
    <delete id="delete">
    DELETE FROM TBL_PRODUCT_REVIEW
    WHERE NUM=#{num}
    </delete>

    <select id="count" resultType="_int">
    SELECT COUNT(NUM)
    FROM TBL_PRODUCT_REVIEW
    WHERE PRODUCT_NUM = #{productNum}
    </select>
</mapper>


















