<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로젝트 생성</title>
    <link rel="stylesheet" href="/assets/css/createProject.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>

<body>
<div class="main" th:object="${project}">
    <div class="cpTitleFrame">
        <div class="cpTitleForm">
            <span class="material-symbols-outlined">directions_walk</span>
            <div class="cpTitle">프로젝트 작성하기</div>
            <p class="cpTitlepercent">0% 완료</p>
            <div class="cpTitleBtnFrame">
                <button type="button" class="cpExitBtnForm">
                    <span class="cpExitBtn">나가기</span>
                </button>
            </div>
        </div>
        <div class="cpTitleBoundary">
            <div class="cpProcessBar" style="transform: translateX(-100%);"></div>
        </div>
    </div>
    <div class="cpBodyFrame">
        <div class="cpSidebarBoundary"></div>
        <form action="/project/createStepForm" method="post" enctype="multipart/form-data" id="projectForm">

            <div class="cpSidebarFrame" id="sidebar">
                <div class="cpSidebarForm">
                        <span class="sidebarStepFrame1">
                            <a class="sidebarStepForm" >
                                <span class="sidebarStepBox">
                                    <div class="sidebarCheckBox">
                                        <span class="material-symbols-outlined">looks_one</span>
                                    </div>
                                    <div class="sidebarStepTitle bold" id="10">기본 정보</div>
                                </span>
                            </a>
                        </span>
                    <span class="sidebarStepFrame2">
                            <a class="sidebarStepForm">
                                <span class="sidebarStepBox">
                                    <div class="sidebarCheckBox">
                                        <span class="material-symbols-outlined">looks_two</span>
                                    </div>
                                    <div class="sidebarStepTitle" id="20">제목 및 커버</div>
                                </span>
                            </a>
                        </span>
                    <span class="sidebarStepFrame3">
                            <a class="sidebarStepForm">
                                <span class="sidebarStepBox">
                                    <div class="sidebarCheckBox">
                                        <span class="material-symbols-outlined">looks_3</span>
                                    </div>
                                    <div class="sidebarStepTitle" id="30">소개</div>
                                </span>
                            </a>
                        </span>
                    <span class="sidebarStepFrame4">
                            <a class="sidebarStepForm">
                                <span class="sidebarStepBox">
                                    <div class="sidebarCheckBox">
                                        <span class="material-symbols-outlined">looks_4</span>
                                    </div>
                                    <div class="sidebarStepTitle" id="40">단체 소개</div>
                                </span>
                            </a>
                        </span>
                    <span class="sidebarStepFrame5">
                            <a class="sidebarStepForm">
                                <span class="sidebarStepBox">
                                    <div class="sidebarCheckBox">
                                        <span class="material-symbols-outlined">looks_5</span>
                                    </div>
                                    <div class="sidebarStepTitle" id="50">오픈 전 확인사항</div>
                                </span>
                            </a>
                        </span>
                </div>
            </div>
            <!--  컨테이너1  -->
            <div id="1"class="cpContentFrame">
                <div class="cpContentForm">
                    <div class="cpContentContainer">
                        <div class="basicInfoContainer">
                            <div class="basicInfoBox">
                                <h3 class="basicInfoText">프로젝트 기본정보를 입력해주세요</h3>
                                <div class="basicInfoSubText">사용자들에게 프로젝트의 기본정보를 알려주세요!<br>지형과 거리에 따라 포인트가 추가 지급
                                    됩니다.<br>( 산 : +100p, 바닷가 : +50p, 3km까지 100p 3km 초과 시 1km 마다 50p 추가 )
                                </div>

                                    <div class="formTerrain">
                                        <label class="formTerrainLabel">지형</label>
                                        <select class="formTerrainSelect" name="terrain" th:selected="*{terrain}">
                                            <option value hidden disalbed>지형을 입력해주세요.</option>
                                            <option class="mountain" value="mountain">산 ( +100p )</option>
                                            <option class="beach" value="beach">바닷가 ( + 50p )</option>
                                            <option class="ground" value="ground">평지</option>
                                        </select>
                                    </div>
                                    <label class="startTimeLabel">시작일자</label>
                                    <input type="datetime-local" class="startTime" name="startTime" th:value="*{startTime}">
                                    <label class="endTimeLabel">종료일자</label>
                                    <input type="datetime-local" class="endTime" name="endTime" th:value="*{endTime}">
                                <div class="formCourse">
                                    <label class="formCourseLabel">코스 / 장소</label>
                                    <div class="formCoureSelectBox">
                                        <select class="formCourseSelect" id="selectCourse" onchange="changeValue()"
                                                name="course" th:selected="*{course}">
                                            <option value="place">장소</option>
                                            <option value="course">코스 ( 3km까지 100p 3km 초과 시 1km 마다 50p 추가 )</option>
                                        </select>
                                        <div class="addressBox">
                                            <label class="formCourseLabel">출발지</label>
                                            <div class="addressForm">
                                                <input type="text" id="start_address" placeholder="주소" readonly
                                                       name="startAddress" th:value="*{startAddress}">
                                                <input type="button" class="find_address" id="find_start_address"
                                                       value="주소 찾기">
                                            </div>
                                            <div style="width: 100%;">
                                                <div style="width: 71%;">
                                                    <input type="text" id="start_addressDetail" placeholder="상세주소"
                                                           name="startAddressDetail" th:value="*{startAddressDetail}">
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" id="x1">
                                        <input type="hidden" id="y1">
                                        <input type="hidden" id="x2">
                                        <input type="hidden" id="y2">
                                        <div class="addressBoxEnd">
                                            <label class="formCourseLabel">도착지</label>
                                            <div class="addressForm">
                                                <input type="text" id="end_address" placeholder="주소" readonly
                                                       name="endAddress"th:value="*{endAddress}" >
                                                <input type="button" class="end_address" id="find_end_address"
                                                       value="주소 찾기">
                                            </div>
                                            <div style="width: 100%;">
                                                <div style="width: 71%;">
                                                    <input type="text" id="end_addressDetail" placeholder="상세주소"
                                                           name="endAddressDetail" th:value="*{endAddressDetail}">
                                                </div>
                                            </div>
                                        </div>

                                        <div
                                                style="width: 100%; margin-top: 10px; margin-bottom: 60px; font-size: 15px;     font-family: 'Noto Sans KR', sans-serif;">
                                            <div style="width: 71%; display: flex; justify-content: space-between;">
                                                <div>예상 지급 포인트</div>
                                                <div style="display: flex;">
                                                    <p style="margin: 0;" id="distance_point"></p>P
                                                </div>
                                                <input type="text" name="point" hidden="hidden" id="projectPoint"
                                                       value="100" th:value="*{point}">
                                                <input type="text" name="distance" value="0" hidden="hidden" th:value="*{distance}">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="map" style="width:500px;height:500px;"></div>
                <div class="nextBtnFrame">
                    <button type="button" class="nextPage step2">
                        <span class="nextPageBtn">다음</span>
                    </button>

                </div>
            </div>
            <!-- 컨테이너 2  -->
            <div id="2"class="cpContentFrame hidden" >
                <div class="cpContentForm">
                    <div class="cpContentContainer">
                        <!-- 프로젝트 생성 공용 틀 -->
                        <div class="basicInfoBox">
                            <h3 class="basicInfoText">프로젝트 특징이 잘 드러난<br>제목과 이미지를 보여주세요</h3>
                            <div class="basicInfoSubText">감성적이면서도 프로젝트를 잘 표현하는 제목과 이미지를 등록해 주세요.</div>
                            <div class="subImgFrame" th:style="'background-image:url('/projectFile/display?fileName=?/'+ ${fileList[i].uploadPath} + @{/} + ${fileName}/');'">
                            <!--                                <img th:src="@{/groupFile/display?fileName=} + ${company.profileUploadPath} + @{/} + ${company.profileFileName}" alt="" class="group">-->


                            <div class="subImgForm">
                                    <label class="subImgLabel">썸네일 이미지</label>
                                    <div class="subImgContainer">

                                        <label class="subImgBox" for="attach">
                                            <input type="file" id="attach" class="subImgInput" name="uploadFiles">

                                            <div class="photoImgFrame">
                                                <div class="photoImgForm">

                                                    <p class="photoFieldDescription"></p>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <h2 class="photoAddText" style="
                                    text-align: center;
                                ">이미지를 첨부해주세요</h2>
                                    <div class="subImgInfoFrame">
                                        <div class="subImgInfoQ">썸네일 이미지가 어디에 사용되나요?</div>
                                        <div class="subimgInoText">썸네일 이미지는 아래와 같이 홈페이지의 메인 페이지에서 보이는 이미지예요.</div>
                                        <div class="subImgExamFrame">
                                            <div class="subImgExamBox">
                                                <div class="subImgExamForm">
                                                        <span class="subImgExamContainer">
                                                            <picture class="subImgExamItem">

                                                            </picture>
                                                        </span>
                                                </div>
                                                <div class="examItem1"></div>
                                                <div class="examItem2"></div>
                                            </div>
                                            <div class="subImgExamBox">
                                                <div class="subImgExamForm">
                                                        <span class="subImgExamContainer">
                                                            <picture class="subImgExamItem">

                                                            </picture>
                                                        </span>
                                                </div>
                                                <div class="examItem1"></div>
                                                <div class="examItem2"></div>
                                            </div>
                                            <div class="subImgExamBox">
                                                <div class="subImgExamForm">
                                                        <span class="subImgExamContainer">
                                                            <picture class="subImgExamItem">

                                                            </picture>
                                                        </span>
                                                </div>
                                                <div class="examItem1"></div>
                                                <div class="examItem2"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="subImgBoundary"></div>
                                <div class="subImgTitleInfo">
                                    <label class="subImgTitle">프로젝트 제목</label>
                                    <div class="subImgTitleFrame">
                                        <input type="text" name="title" class="subTitleInput"
                                               placeholder="프로젝트의 특징이 잘 드러나는 제목을 지어주세요." th:value="*{title}">
                                    </div>
                                    <label class="subImgTitle">프로젝트 요약 </label>
                                    <div class="subImgTitleFrame">
                                        <input type="text" name="summary" class="subTitleInput"
                                               placeholder="프로젝트를 간략하게 요약해주세요." th:value="*{summary}">
                                    </div>
                                    <label class="subImgTitle">프로젝트 상세내용 </label>
                                    <div>
                                            <textarea class="groupTextInput" name="content"
                                                      placeholder="프로젝트의 상세내용을 기재해주세요" th:value="*{content}"></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="nextBtnFrame">
                    <button type="button" class="prevPage step1">
                        <span class="prevPageBtn">이전</span>
                    </button>

                    <button type="button" class="nextPage step3">
                        <span class="nextPageBtn">다음</span>
                    </button>
                </div>
            </div>
            <!--  컨테이너 3  -->
            <div id="3"class="cpContentFrame hidden" >
                <div class="cpContentForm">
                    <div class="cpContentContainer">
                        <div class="cpIntroduceFrame">
                            <h3 class="cpIntroduceTitle">어떻게 진행하실 건가요?</h3>
                            <div class="cpIntroduceTitleInfo">프로젝트 상세내용을 알려주세요.</div>
                            <div class="imgInsertBox1">
                                <div class="imgInsertForm">
                                    <div class="imgInsertContainer">
                                        <label for="attach1" class="imgInsertWindow">
                                            <div class="introImgContainer">
                                                <div class="introImgBox1">
                                                    <img src="" style="max-width: 100%; height: auto;"
                                                         id="img1">
                                                    <h2 class="introImgText">프로젝트에 대한 상세내용</h2>
                                                    <p class="imgFieldDefault"></p>
                                                </div>
                                            </div>
                                        </label>
                                        <input class="attach1" id="attach1" type="file" name="uploadFiles">
                                    </div>
                                    <div class="imgInsertContainer">
                                        <label for="attach2" class="imgInsertWindow">

                                            <div class="introImgContainer">
                                                <div class="introImgBox2">
                                                    <img src="" style="max-width: 100%; height: auto;"
                                                         id="img2">
                                                    <h2 class="introImgText">프로젝트에 대한 상세내용</h2>
                                                    <p class="imgFieldDefault"></p>
                                                </div>
                                            </div>
                                        </label>
                                        <input class="attach2" id="attach2" type="file" name="uploadFiles">
                                    </div>
                                    <div class="imgInsertContainer">
                                        <label for="attach3" class="imgInsertWindow">

                                            <div class="introImgContainer">
                                                <div class="introImgBox3">
                                                    <img src="" style="max-width: 100%; height: auto;"
                                                         id="img3">
                                                    <h2 class="introImgText">프로젝트에 대한 상세내용</h2>
                                                    <p class="imgFieldDefault"></p>
                                                </div>
                                            </div>
                                        </label>
                                        <input class="attach3" id="attach3" type="file" name="uploadFiles">
                                    </div>
                                </div>
                            </div>
                            <div class="nextBtnFrame">
                                <button type="button" class="prevPage step2" >
                                    <span class="prevPageBtn">이전</span>
                                </button>

                                <button type="button" class="nextPage step3">
                                    <span class="nextPageBtn">다음</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- 옆에 배너입니다 cpContentForm 끝나는 부분에 넣어주시면 됩니다 -->
                </div>
            </div>
            <!--  컨테이너 4  -->
            <div id="4"class="cpContentFrame hidden" >
                <div class="cpContentForm">
                    <div class="cpContentContainer">
                        <div class="cpGroupIntroFrame">
                            <h3 class="cpGroupIntroTitle">단체를 소개해 주세요</h3>
                            <div class="groupIntroProfileFrame">
                                <label class="groupIntroProfileTitle">프로필</label>
                                <!-- 프로필 사진 -->
                                <img src="/src/main/resources/static/images/chun2.png" class="profileImage" alt="">
                            </div>
                            </label>
                        </div>
                        <div class="introGroupTextFrame">
                            <label class="groupIntroText">단체 소개</label>
                            <div class="groupIntroTextForm">
                                    <textarea class="groupTextInput" name="companyComment"
                                              placeholder="어떤 단체인지 소개해 주세요." th:value="*{companyComment}"></textarea>
                            </div>
                        </div>
                        <div class="introGroupGuideFrame">사용자님 단체의 매력을 소개해주세요. 단체 소개가 플로거의 마음을 움직일 수 있을거예요!
                        </div>
                    </div>
                </div>
                <div class="nextBtnFrame">
                    <button type="button" class="prevPage step3">
                        <span class="prevPageBtn">이전</span>
                    </button>

                    <button type="button" class="nextPage step4">
                        <span class="nextPageBtn">다음</span>
                    </button>
                </div>
            </div>
            <!-- 옆에 배너입니다 cpContentForm 끝나는 부분에 넣어주시면 됩니다 -->
            <!-- 컨테이너 5 -->
            <div id="5"class="cpContentFrame hidden" >
                <div class="cpContentForm">
                    <div class="cpContentContainer">
                        <div class="cpCheckFrame">
                            <h3 class="cpCheckTitle">오픈 전 확인사항</h3>
                            <div class="cpCheckInfo">완벽한 페이지를 위해 오픈 전 마지막으로 점검을 해보아요!</div>
                            <div class="cpCheckContent1">
                                <div class="cpCheckContent1Title">진행방식을 구체적으로 알려주셨나요?</div>
                                <div class="cpCheckContent1Text">플로깅 출발지, 진행 시간, 진행 방식을 알려주셨나요?</div>
                                <div class="cpCheckBoundaryBox">
                                    <hr class="cpCheckBoundary">
                                </div>
                                <div class="cpCheckBoxFrame">
                                    <label class="cpCheckBoxForm">
                                        <div class="cpCheckBoxContainer">
                                            <input name="cpCheckBox1" type="checkbox" class="cpCheckBox1">
                                        </div>
                                        <span class="cpCheckBoxInfo1">네, 모두 잘 적었어요.</span>
                                    </label>
                                </div>
                            </div>
                            <div class="cpCheckContent2">
                                <div class="cpCheckContent2Title">맞춤법이 틀린 부분은 없었나요?</div>
                                <div class="cpCheckContent2Text">오로지 텍스트와 이미지로 나의 플로깅을 보여주는 곳이기 때문에 맞춤법은 나의 인상을
                                    결정짓는<br>중요한 부분이랍니다. 맞춤법 검사를 필수적으로 진행해 주세요.</div>
                                <span class="cpCheckContent2Move">
                                        <a class="cpCheckContent2MovePage"
                                           href="https://search.naver.com/search.naver?sm=top_sug.pre&fbm=1&acr=1&acq=%EB%84%A4%EC%9D%B4%EB%B2%84+%EB%A7%9E%EC%B6%A4&qdt=0&ie=utf8&query=%EB%84%A4%EC%9D%B4%EB%B2%84+%EB%A7%9E%EC%B6%A4%EB%B2%95+%EA%B2%80%EC%82%AC%EA%B8%B0">
                                            <span class="cpCheckBox2Move">맞춤법 검사기로 확인해보기</span>
                                        </a>
                                    </span>
                                <div class="cpCheckBoundaryBox">
                                    <hr class="cpCheckBoundary">
                                </div>
                                <div class="cpCheckBoxFrame">
                                    <label class="cpCheckBoxForm">
                                        <div class="cpCheckBoxContainer">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 fill="none" viewBox="0 0 24 24">
                                                <input name="cpCheckBox2" type="checkbox" class="cpCheckBox1">
                                            </svg>

                                        </div>
                                        <span class="cpCheckBoxInfo2">네, 모두 잘 적었어요.</span>
                                    </label>
                                </div>
                            </div>
                            <div class="cpCheckContent3">
                                <div class="cpCheckContent3Title">부적절한 콘텐츠는 검토 후 유보될 수 있습니다.</div>
                                <div class="cpCheckContent3Text">광고성 및 불법(저작권 침해 등), 유해 콘텐츠가 포함되거나 원데이 클래스, 오프라인 클래스
                                    등<br>클래스101 정책에 맞지 않는 클래스인 경우 즉시 유보처리가 됨을 안내드립니다.<br>오픈 전 이 내용을 꼭 확인하고 인지하셨다면 체크
                                    박스를 눌러주세요.</div>
                                <div class="cpCheckBoundaryBox">
                                    <hr class="cpCheckBoundary">
                                </div>
                                <div class="cpCheckBoxFrame">
                                    <label class="cpCheckBoxForm">
                                        <div class="cpCheckBoxContainer">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 fill="none" viewBox="0 0 24 24">
                                                <input name="cpCheckBox3" type="checkbox" class="cpCheckBox1">
                                            </svg>

                                        </div>
                                        <span class="cpCheckBoxInfo3">네, 모두 잘 적었어요.</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nextBtnFrame">
                    <button type="button" class="prevPage step4" >
                        <span class="prevPageBtn">이전</span>
                    </button>

                    <button type="submit" class="submitPage">
                        <span class="submitPageBtn">신청하기</span>
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
</div>
</div>
</form>
</div>


</div>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=nshb4pb9af&submodules=geocoder"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8460d42f853294e33918a26eaad645a2&libraries=services"></script>

<script th:inline="javascript">

    console.log($('.formCourseSelect').val());
    //첨부파일 input태그 가져오기
    const file0 = document.querySelector("input#attach");
    const file1 = document.querySelector("input#attach1");
    const file2 = document.querySelector("input#attach2");
    const file3 = document.querySelector("input#attach3");
    const thumbnail0 = document.querySelector(".photoImgFrame");
    const thumbnail1 = document.querySelector(".introImgBox1");
    const thumbnail2 = document.querySelector(".introImgBox2");
    const thumbnail3 = document.querySelector(".introImgBox3");




    file0.addEventListener("change", function(event){
        //특정 경로의 파일을 읽어올 때 사용.
        let reader = new FileReader();
        reader.readAsDataURL(event.target.files[0]);
        reader.onload = function(event){
            //등록된 파일의 경로에 작성된 파일의 타입검사
            if(event.target.result.includes("image")){
                console.log("이미지 파일입니다.");
                //등록된 파일의 경로로 대체
                thumbnail0.style.backgroundImage = "url(\"" + event.target.result + "\")";

            }else{
                alert("이미지 파일이 아닙니다.");
                //미리 준비해놓은 이미지 경로로 대체
                $(thumbnail0).text("");
                thumbnail0.style.backgroundImage = "url(/images/error.png)";
            }
        }
    });

    file1.addEventListener("change", function(event){
        //특정 경로의 파일을 읽어올 때 사용.
        let reader = new FileReader();
        reader.readAsDataURL(event.target.files[0]);
        reader.onload = function(event){
            //등록된 파일의 경로에 작성된 파일의 타입검사
            if(event.target.result.includes("image")){
                console.log("이미지 파일입니다.");
                $(thumbnail0).text("");

                //등록된 파일의 경로로 대체
                thumbnail1.style.backgroundImage = "url(\"" + event.target.result + "\")";
                thumbnail1.style.backgroundSize = "cover";
                thumbnail1.style.backgroundRepeat = "no-repeat";
            }else{
                alert("이미지 파일이 아닙니다.");
                //미리 준비해놓은 이미지 경로로 대체
                $(thumbnail0).text("");
                thumbnail1.style.backgroundImage = "url(/images/error.png)";
            }
        }
    });

    file2.addEventListener("change", function(event){
        //특정 경로의 파일을 읽어올 때 사용.
        let reader = new FileReader();
        reader.readAsDataURL(event.target.files[0]);
        reader.onload = function(event){
            //등록된 파일의 경로에 작성된 파일의 타입검사
            if(event.target.result.includes("image")){
                console.log("이미지 파일입니다.");
                //등록된 파일의 경로로 대체
                thumbnail2.style.backgroundImage = "url(\"" + event.target.result + "\")";
                thumbnail2.style.backgroundSize = "cover";
                thumbnail2.style.backgroundRepeat = "no-repeat";


            }else{
                alert("이미지 파일이 아닙니다.");
                //미리 준비해놓은 이미지 경로로 대체
                $(thumbnail0).text("");
                thumbnail2.style.backgroundImage = "url(/images/error.png)";
            }
        }
    });

    file3.addEventListener("change", function(event){
        //특정 경로의 파일을 읽어올 때 사용.
        let reader = new FileReader();
        reader.readAsDataURL(event.target.files[0]);
        reader.onload = function(event){
            //등록된 파일의 경로에 작성된 파일의 타입검사
            if(event.target.result.includes("image")){
                console.log("이미지 파일입니다.");
                //등록된 파일의 경로로 대체
                thumbnail3.style.backgroundImage = "url(\"" + event.target.result + "\")";
                thumbnail3.style.backgroundSize = "cover";
                thumbnail3.style.backgroundRepeat = "no-repeat";
            }else{
                alert("이미지 파일이 아닙니다.");
                //미리 준비해놓은 이미지 경로로 대체
                thumbnail3.style.backgroundImage = "url(/images/error.png)";
            }
        }
    });


    let step = "1";
    $('.prevPage').on("click", function () {
        step--;
        $('.cpContentFrame').each(function (i ,page) {
            if(step == $(page).attr('id')){
                $(page).removeClass("hidden");
                return;
            }$(page).addClass("hidden");
        });
        $('.sidebarStepTitle').each(function (i, title) {
            if(step + "0" == ($(title).attr('id'))){
                $(title).addClass("bold");
                return;
            }$(title).removeClass("bold");

        });
        if (step == "2"){
            $('.cpTitlepercent').text("25% 완료");
        }if(step == "3"){
            $('.cpTitlepercent').text("50% 완료");
        }if(step == "4"){
            $('.cpTitlepercent').text("75% 완료");
        }if(step == "5"){
            $('.cpTitlepercent').text("100% 완료");

        }if(step == "0"){
            $('.cpTitlepercent').text("0% 완료");

        }

    })

    $('.nextPage').on("click", function () {
        step++;
        $('.cpContentFrame').each(function (i ,page) {
            if(step == $(page).attr('id')){
                $(page).removeClass("hidden");
                return;
            }$(page).addClass("hidden");
        });
        $('.sidebarStepTitle').each(function (i, title) {
            if(step + "0" == ($(title).attr('id'))){
                $(title).addClass("bold");
                return;
            }$(title).removeClass("bold");
        });

        if (step == "2"){
            $('.cpTitlepercent').text("25% 완료");
        }else if(step == "3"){
            $('.cpTitlepercent').text("50% 완료");
        }else if(step == "4"){
            $('.cpTitlepercent').text("75% 완료");
        }else if(step == "5"){
            $('.cpTitlepercent').text("100% 완료");
        }else if(step == "1"){
            $('.cpTitlepercent').text("0% 완료");

        }

    })


    let endAddress = document.querySelector(".addressBoxEnd");
    function changeValue() {
        let selectCourse = document.getElementById("selectCourse");
        selectCourse = selectCourse.options[selectCourse.selectedIndex].value;
        console.log(selectCourse);
        if (selectCourse == "course") {
            endAddress.classList.add('show');
        } else {
            endAddress.classList.remove('show');
        }
    }

    window.onload = function () {
        document.getElementById("find_start_address").addEventListener("click", function () { //주소입력칸을 클릭하면
            //카카오 지도 발생
            new daum.Postcode({
                oncomplete: function (data) { //선택시 입력값 세팅
                    document.getElementById("start_address").value = data.address; // 주소 넣기
                    xy(data.address, 1);
                }
            }).open();
        });
        document.getElementById("find_end_address").addEventListener("click", function () { //주소입력칸을 클릭하면
            //카카오 지도 발생
            new daum.Postcode({
                oncomplete: function (data) { //선택시 입력값 세팅
                    document.getElementById("end_address").value = data.address; // 주소 넣기
                    xy(data.address, 2);
                }
            }).open();
        });

    }

    let 출발 = [];
    let 도착 = [];
    let default_point = 100;
    let real_point = 0;
    $('#distance_point').text(default_point);

    $('.formTerrainSelect').change(function () {
        if ($(this).val() == "mountain") {
            if (real_point != 0) {
                default_point = 100;
            } else {
                default_point = 200;
            }
            $('#distance_point').text(default_point + real_point);
            ;
            console.log($('#projectPoint'));
        }
        else if ($(this).val() == "beach") {
            if (real_point != 0) {
                default_point = 50;
            } else {
                default_point = 150;
            }
            $('#distance_point').text(default_point + real_point);
        }
        else if ($(this).val() == "ground") {
            if (real_point != 0) {
                default_point = 0;
            } else {
                default_point = 100;
            }
            $('#distance_point').text(default_point + real_point);
        }

    })

    // x,y 좌표 받아오기


    // 주소값과 번호를 받아와서  주소 값으로 좌표 생성, 번호로 어느것을 눌렀는지 확인.
    function xy(ad, i) {
        if (i == 1) { //출발지 눌렀을떄
            naver.maps.Service.geocode({
                query: ad
            }, function (status, response) {
                if (status !== naver.maps.Service.Status.OK) {
                    return alert('Something wrong!');
                }


                var result = response.v2, // 검색 결과의 컨테이너
                    items = result.addresses; // 검색 결과의 배열

                try {
                    $('#x' + i).val(items[0].x);  //주소의 x좌표값을 input에 삽입
                    $('#y' + i).val(items[0].y);  //주소의 x좌표값을 input에 삽입
                } catch (error) {
                    alert('요청하신 주소의 좌표를 찾을 수 없습니다.');
                    document.getElementById("start_address").value = "";
                    return;
                }

                if (출발.length == 0) { //처음 장소 넣을때
                    출발.push(items[0].x);
                    출발.push(items[0].y);
                    getStartMap(출발[1],출발[0]);


                } else if (출발.length == 2) { //출발지만 입력후 출발지 수정
                    출발[0] = items[0].x;      //수정함
                    출발[1] = items[0].y;      //수정함
                    console.log(출발[0]);
                    console.log(출발[1]);
                    getStartMap(출발[1],출발[0]);

                }
                if ((출발.length + 도착.length) == 4) {
                    dist();
                }
            });


        } else { //도착지 눌렀을때.
            naver.maps.Service.geocode({
                query: ad
            }, function (status, response) {
                if (status !== naver.maps.Service.Status.OK) {
                    return alert('Something wrong!');
                }

                var result = response.v2, // 검색 결과의 컨테이너
                    items = result.addresses; // 검색 결과의 배열

                try {
                    $('#x' + i).val(items[0].x);  //주소의 x좌표값을 input에 삽입
                    $('#y' + i).val(items[0].y);  //주소의 x좌표값을 input에 삽입
                } catch (error) {
                    alert('요청하신 주소의 좌표를 찾을 수 없습니다.');
                    document.getElementById("end_address").value = "";
                    return;
                }

                if (도착.length == 0) { //처음 도착지 눌렀을때
                    도착.push(items[0].x);
                    도착.push(items[0].y);

                } else if (도착.length == 2) {
                    도착[0] = (items[0].x); //수정함
                    도착[1] = (items[0].y);
                }
                if ((출발.length + 도착.length) == 4) {
                    // 지도 생성 시킬것

                    $('#map').remove();
                    $('#mapBox').append("<div id=\"map\" style=\"width:500px;height:500px;\"></div>");
                    getMap($('#y1').val(), $('#x1').val(), $('#y2').val(), $('#x2').val());
                    dist();
                }
            });
        }
    }

    // 거리계산
    function dist() {
        let distance_point = Math.sqrt(Math.pow(출발[0] - 도착[0], 2) + Math.pow(출발[1] - 도착[1], 2));
        let distance = distance_point * 111;
        let real_distance = Math.round(distance);  // km 단위
        console.log(real_distance);
        real_point = default_point + (real_distance - 3) * 50; //3 키로가 넘으면 1km 당 50p
        if (real_point < default_point) {
            real_point = default_point;
        }
        $('p#distance_point').empty().text(real_point);
    }

    // 지도
    function getMap(x1, y1, x2, y2) {
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(x1, y1), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 마커를 표시할 위치와 title 객체 배열입니다
        var positions = [
            {
                title: '출발지',
                latlng: new kakao.maps.LatLng(x1, y1)
            },
            {
                title: '도착지',
                latlng: new kakao.maps.LatLng(x2, y2)
            }
        ];

        // 마커 이미지의 이미지 주소입니다
        var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

        for (var i = 0; i < positions.length; i++) {

            // 마커 이미지의 이미지 크기 입니다
            var imageSize = new kakao.maps.Size(24, 35);

            // 마커 이미지를 생성합니다
            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: positions[i].latlng, // 마커를 표시할 위치
                title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                image: markerImage // 마커 이미지
            });
        }
    }

    function getStartMap(x1, y1) {
        console.log(x1);
        console.log(y1);
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(x1, y1), // 지도의 중심좌표
                level: 2 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 마커가 표시될 위치입니다
        var markerPosition  = new kakao.maps.LatLng(x1, y1);

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            position: markerPosition
        });

        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);

    };




    // 나가기 버튼 클릭시
    $('.cpExitBtnForm').on("click", function () {
        location.href = "/group/main";
    })




    // 사진 등록
    $('.test').on("click", function () {
        console.log('hello');
        let formData =   new FormData();
        let inputFile = $("input[name='uploadFiles']");
        for(let i=0; i<inputFile.length; i++){
            if($(inputFile[i]).val() != ""){
                formData.append("uploadFiles", inputFile[i].files[0]);
                console.log(inputFile[i].files[0]);
            }
        }
        $.ajax({
            url: "/projectFile/upload",
            type: "post",
            data: formData,
            contentType: false,
            processData: false,
            success: function (files) {
                let str = "";
                $(files).each(function (i, file) {
                    console.log(file);
                    str += "<input name='fileList[" + i + "].fileName' value='" + file.fileName + "'>"
                    str += "<input name='fileList[" + i + "].uuid' value='" + file.uuid + "'>"
                    str += "<input name='fileList[" + i + "].uploadPath' value='" + file.uploadPath + "'>"

                });
                $('.imgInsertForm').append(str);
                $('#projectForm').submit();

            }

        });
    });


    // 사진 삭제
    $(".uploadResult").on("click", "span", function () {
        let $target = $(this).data("file");
        let $li = $(this).closest("li");

        $.ajax({
            url: "/upload/delete",
            type: "post",
            data: { fileName: $target },
            success: function () {
                $li.remove();
                let temp = $target.substring($target.indexOf("_") + 1);
                temp = temp.substring(temp.indexOf("_") + 1);
                const dataTransfer = new DataTransfer();
                for (let i = 0; i < arFile.length; i++) {
                    if (arFile[i].name == temp) {
                        arFile.splice(i, 1);
                    }
                }
                arFile.forEach(file => dataTransfer.items.add(file));
                $("input[name='uploadFiles']")[0].files = dataTransfer.files;
            }
        });
    });


</script>

</html>