<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/projectDetail.css" />
    <link rel="stylesheet" href="/assets/css/Header.css"/>
    <link rel="stylesheet" href="/assets/css/Footer.css"/>
    <link rel="stylesheet" href="/assets/css/pickitupStore.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
<div th:replace="~{/main/Header :: HeaderImport}"></div>
<div class="allFrame" th:object="${project}" id="projectDetail">
    <div class="readFrame">
        <div class="readForm">
            <div class="readDetail" >
                <div class="ploggingImageForm">
                    <div class ="ploggingImage">
                        <picture class="ploggingImg">
<!--                            <img th:src="@{/projectFile/display?fileName=} + ${img[0].uploadPath} + @{/} + ${img[0].uuid} + @{_} + ${img[0].fileName}" alt="" id="img1">-->
                        </picture>
                    </div>
                </div>
                <div class="menuBarForm">
                    <div class="menuBar">
                        <div type="default" class="menus">
                            <div class="menu introduce">
                                <a class="moveIntroduce">플로깅 소개</a>
                            </div>
                            <div class="menu group">
                                <a class="moveGroup">단체</a>
                            </div>
                            <div class="menu community">
                                <a class="moveCommunity" src="/project/review/add">문의하기</a>
                            </div>
                            <div class="menu guide">
                                <a class="moveGuide">지도</a>

                            </div>
                        </div>
                    </div>
                </div>
                <section class="info">
                    <h2 class="projectInfo">플로깅 정보</h2>
                    <dl class="infoDetail">
                        <dt class="courseInfo">코스/장소</dt>
                        <dd class="course" th:if="*{course}=='course'">코스</dd>
                        <dd class="course" th:if="*{course}=='place'">장소</dd>
                        <dt class="terrainInfo">지형</dt>
                        <dd class="terrain" th:if="*{terrain}=='mountain'">산</dd>
                        <dd class="terrain" th:if="*{terrain}=='beach'">바다</dd>
                        <dd class="terrain" th:if="*{terrain}=='ground'">평지</dd>
                        <dd class="terrain" th:if="*{terrain}=='etc'">기타</dd>
                        <dt class="pointInfo">포인트</dt>
                        <dd class="point" th:text="*{point}"></dd>
                    </dl>
                </section>

                <div class="pIntroduceFrame">
                    <div class="pIntroduceTitleForm">
                        <h3 class="pIntroduceTitle">
                            플로깅을<br>소개합니다.
                        </h3>
                    </div>
                    <!-- 플로깅 소개, 이미지 -->
                    <div class="imgBox">
                        <picture class="pIntroduceContent" >
                        </picture>
                    </div>
                    <!--                       -->


                    <div th:text="*{content}"></div>
                </div>
                <div class="gIntroduceFrame">
                    <div class="gIntroduceTitleFrame">
                        <div class="gIntroduceTitleForm">
                            <h3 font-weight="normal" class="gIntroduceTitle">
                                기업
                                <br>
                                <!-- 단체명 -->
                                <strong th:text="${company.nickname}"></strong>
                                입니다.
                            </h3>
                            <div class="gIntroduceProfileFrame">
                                    <span class="gIntroduceProfileForm">
                                        <picture class="gIntroduceProfile">
<!--                                            <img th:src="@{/groupFile/display?fileName=} + ${company.profileUploadPath} + @{/} + ${company.profileFileName}" alt="">-->
                                        </picture>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <!-- 단체 소개 -->
                    <div class="gIntroduceContentFrame" th:text="*{companyComment}">
                    </div>
                </div>

                <div class="useGuideFrame">
                    <div class="useGuide">
                        <h3 class="useGuideTitle">지도</h3>
                    </div>
                    <div class="useGuideContentFrame">
                        <div class="useGuideContentForm">
                            <div id="map" style="width:99%; height:500px;">
                                <!-- 지도 넣는 부분 -->
                            </div>
                        </div>
                    </div>
                </div>

                <!--                <div id="toitem_question">-->
                <!--                    <div class="flex" style="align-items: center; justify-content: space-between;">-->
                <!--                        <p class="highlight">문의</p>-->
                <!--                        &lt;!&ndash;                                문의하기 a 태그에 num 태워서 보내기&ndash;&gt;-->
                <!--                        <div><a th:href="@{/project/qnaWrite?num={num}(num = ${project.num})}" class="btn_qnaToadmin"></div>-->
                <!--                    </div>-->
                <!--                    <div class="space"></div>-->
                <!--                    <div class="ProductQnas"></div>-->
                <!--                    <div class="QnaPaging" style="text-align: center;"></div>-->
                <!--                    <div class="space_line"></div>-->
                <!--                    &lt;!&ndash; 댓글 끝 &ndash;&gt;-->
                <!--                </div>-->

            </div>
            <div class="readApplicantBody">
                <div class="readApplicantContainer">
                    <div class="readApplicateFrame">
                        <div class="readApplicantForm">
                            <!-- 회사 이름-->
                            <div class="readGroupInfoForm" th:text="${company.nickname}">한국산업인력공단</div>
                            <!-- 프로젝트명-->
                            <h2 class="readApplicantTitle" th:text="*{title}">
                                산뜻한 봄 바람과 함께 플로깅!<br>관악산 등산하며 자연도 느끼고 보호하기
                            </h2>
                            <div class="readApplicantCategory">
                                <div class="readApplicantCourseForm">
                                    <!-- 코스/ 장소-->
                                    <div class="readApplicantCourse" th:if="*{course}=='L'">장소</div>
                                    <div class="readApplicantCourse" th:if="*{course}=='C'">코스</div>
                                </div>
                                <div class="readApplicantTerrainForm">
                                    <!-- 지형-->
                                    <div class="readApplicantTerrain" th:if="*{terrain}=='1'">산</div>
                                    <div class="readApplicantTerrain" th:if="*{terrain}=='2'">바다</div>
                                    <div class="readApplicantTerrain" th:if="*{terrain}=='3'">평지</div>
                                    <div class="readApplicantTerrain" th:if="*{terrain}=='4'">기타</div>
                                </div>
                            </div>
                            <div class="readApplicantContentFrame">
                                <div class="readApplicantContentForm">
                                    <!-- 간단한 설명 -->
                                    <p class="readApplicantContent" th:text="*{summary}"></p>
                                </div>
                            </div>
                            <div class="readApplicantAddressFrame">
                                <div class="readApplicantAddressForm">
                                    <!-- 출발지, 도착지 주소 -->
                                    <div>
                                        <p class="readApplicantAddress" th:text="|출발지: *{startAddress}|"></p>
                                        <!-- 조건문 처리 -->
                                        <p class="readApplicantAddress" th:if="${project.course.equals('C')}" th:text="|도착지: *{endAddress}|"></p>
                                        <p class="readApplicantAddress" th:if="${project.course.equals('C')}" th:text="|거리: *{distance}km|"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="readApplicantDateFrame">
                                <div class="readApplicantDataForm">
                                    <!-- 프로젝트 날짜 및 시간-->
                                    <div class="readApplicantDate" th:text="*{projectDate}"></div>
                                </div>
                            </div>
                            <div class="readApplicantPointFrame">
                                <div class="readApplicantPointForm">
                                    <div class="readApplicantPointTitleForm">
                                        <div class="readApplicantPointTitle">포인트 적립</div>
                                    </div>
                                    <div class="readApplicantPointAccumlateForm">
                                        <!-- 프로젝트 포인트 -->
                                        <h4 class="readApplicantPointAccumlate" th:text="|*{point} point|"></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="readApplicantBtnFrame">
                                <!-- 찜 -->
                                <div class="readApplicantBtnForm">
                                    <button type="button" class="readApplicantLikeBtn" th:id="*{num}">
                                        <div class="pLikeImage">
                                            <span class="material-symbols-outlined" id="heart">favorite</span>
                                        </div>
                                        <span class="pLikeCount" th:text="*{jjimCount}">356</span>
                                    </button>
                                </div>
                                <!-- 공유하기 -->
                                <div class="readApplicantBtnFormRight">
                                    <button type="button" class="readApplicantShareBtn share_btn">
                                        <div class="pShareImage">
                                            <span class="padding-t material-symbols-outlined">ios_share</span>
                                        </div>
                                    </button>
                                </div>
                            </div>
                            <div class="projectApplicantFrame">
                                <button type="button" class="projectApplicantBtn" id="applyBtn">
                                    플로깅 신청하기
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 신청하기 모달창 -->



<div id="applyModal" class="projectModal">
    <div class="project-modal-content">
        <span class="material-symbols-outlined close_btn">close</span>
        <span class="applyInfo">신청하시면 취소하실 수 없습니다!</span>
        <span>신중히 신청해주시기 바랍니다.</span>
        <div><input type="button" id="projectApplyBtn" class="projectApplyBtn" value="신청하기" ></div>
    </div>
</div>

<!-------------------------------- 공유하기 모달창---------------------------------------------------- -->
<div class="share_container" style="font-family: Noto Sans KR;">
    <div class="share">
        <div class="share_header">
            <div class="share_header_one">공유하기</div>
            <div><span class="material-symbols-outlined close" style="font-size: 32px; font-weight: 600;">close</span></div>
        </div>
        <div class="share_contents">
            <div class="share_content flex">
                <div>
                    <!-- 카카오톡 공유하기 -->
                    <a id="kakao-link-btn" href="javascript:kakaoShare()">
                        <img src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png" />
                    </a>
                </div>
                <a class="flex link-share" href="javascript:clipboardShare()">
                    <div><span class="material-symbols-outlined">
                                    link
                                    </span></div>
                    <div class="link_copy">&nbsp;링크&nbsp;복사하기</div>
                </a>
                <div class="link_inform">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-------------------------------- 공유하기 모달창------------------------------------------------------>
<div th:replace="~{/main/Footer :: FooterImport}"></div>
</body>

<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a976ec1bd79664fdd82edd1c18835ef7"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=nshb4pb9af&submodules=geocoder"></script>
<script th:inline="javascript">

    // 프로젝트 번호
    let projectNum = [[${project.num}]];
    // 유저 번호(접속)
    let userNum = [[${userNum}]];
    alert(userNum)


    let start = [[${project.startAddress}]];
    let end = [[${project.endAddress}]];


    // 현재 위치 강조
    let $currentPlace = $('.menus').find('a');
    $currentPlace.click(function(){
        $currentPlace.removeClass('active');
        if(!$(this).hasClass('active')) {
            $(this).addClass('active');
        }
    })

    // 내부 페이지 이동

    var pIntroOffset = $(".pIntroduceFrame").offset().top - 150;
    var gIntroOffset = $(".gIntroduceFrame").offset().top - 200;
    // var qnaOffset = $(".qnaFrame").offset().top - 150;
    var guideOffset = $(".useGuideFrame").offset().top;

    var currentScroll = document.documentElement.scrollTop;
    if(currentScroll < pIntroOffset) {
        if(!$currentPlace.hasClass('active')) {
            $currentPlace.addClass('active');
        }
    }


    // 지원하기 모달
    let modal = document.getElementById("applyModal");
    let btn = document.getElementById("applyBtn");
    let span = document.getElementsByClassName("close_btn")[0];


    btn.onclick = function() {
        console.log('hello');
        console.log(modal);
        modal.style.display = "block";
    }
    span.onclick = function() {
        modal.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }


    $(".moveIntroduce").click(function(){
        $("html, body").animate({scrollTop: pIntroOffset}, 0);
    });
    $(".moveGroup").click(function(){
        $("html, body").animate({scrollTop: gIntroOffset}, 0);
    });
    $(".moveCommunity").click(function(){
        $("html, body").animate({scrollTop: qnaOffset}, 0);
    });
    $(".moveGuide").click(function(){
        $("html, body").animate({scrollTop: guideOffset}, 0);
    });


    // 댓글 등록 버튼 클릭시(모집자 접속시)
    $(document).ready(function() {

        $('button.qContentAddBtn').on("click", function () {
            let $qnaNum = $(this).attr('name');
            let $content = $('#' + $qnaNum).val();

            $.ajax({
                url: "/projectQnA/add",
                type: "post",
                data: JSON.stringify({ content: $content, qnaNum: $qnaNum }),
                contentType: "application/json;charset=UTF-8",
                success: function(result){
                    // $comment.html(result.content);
                }

            });
            $('#' + $qnaNum).attr("disabled",true);
            $(this).children('span').hide();

        })
    });


    // 댓글 목록
    function commentList(qnaNum, comment) {
        $.ajax({
            url: "/projectQnA/commentList/" + qnaNum,
            type: "get",
            success: function(result){
                $(result).each(function (i, answer){
                    $(comment).html(answer.content);
                })
            }
        });
    }

    let comments = $('.admin_comment');
    comments.each(function (i, comment) {
        let qnaNum = $(comment).attr("name");
        commentList(qnaNum, comment);
    })

    let jjimCheck = 0;
    // 좋아요(프로젝트 번호, 유저 번호)
    $('.readApplicantLikeBtn').on("click", function () {
        if (jjimCheck == 0){
            $.ajax({
                url: "/project/jjim",
                type: "post",
                data: JSON.stringify({"userNum": userNum, "projectNum": projectNum, "category": "2"}),
                contentType: "application/json; charset=utf-8;",
                success: function(){
                    console.log('찜 추가');
                    $('.pLikeImage').html("<span class=\"material-icons\">favorite</span>");

                    //찜 갯수
                    jjimCount();
                }
            });
            jjimCheck++;
            return;

        }else{
            $.ajax({
                url: "/project/jjim",
                type: "delete",
                data: JSON.stringify({"userNum": userNum, "projectNum": projectNum}),
                contentType: "application/json; charset=utf-8;",
                success: function(){
                    console.log('찜 삭제');
                    $('.pLikeImage').html("<span class=\"material-symbols-outlined\" id=\"heart\">favorite</span>\n");

                    //찜 갯수
                    jjimCount();
                }
            });
            jjimCheck--;

        }

    });

    jjimCount();
    // 찜 개수
    function jjimCount(){
        $.ajax({
            url: "/project/jjim/" + projectNum,
            type: "get",
            success: function(count){
                $('.pLikeCount').html(count);

            }
        });

    }




    // 지원하기
    let apply = 0;
    $('.projectApplyBtn').on("click", function () {
        if( apply == 0){
            $.ajax({
                url: "/project/apply",
                type: "post",
                data: JSON.stringify({"userNum": userNum, "projectNum": projectNum}),
                contentType: "application/json; charset=utf-8;",
                success: function(){
                    apply = 1;
                    alert("신청되었습니다.")
                }
            });
        }else{
            alert('이미 신청완료 되었습니다');

        }
    });


    // 사진 불러오기
    $.ajax({
        url: "/projectFile/list/"+ projectNum,
        type : "get",
        success : function (files) {
            str = "";
            for (let i = 1; i < files.length; i++){
                console.log(files[i].fileName);
                console.log(files[i]);

                str += "<picture class=\"pIntroduceContent\" >";
                // str += "<img src=\"/projectFile/display?fileName="+ files[i].uploadPath + "/" + files[i].uuid + "_" + files[i].fileName + "\">";
                str += "</picture>";
            }
            $('.imgBox').append(str);
        }
    })


    //공유하기 모달창

    $('.share_btn').click(function(){
        $('.share_container').css("display","flex");
    })

    $('.close').click(function(){
        $('.share_container').css("display","none");
    })

    shareModal = document.getElementsByClassName("share_container")[0];

    window.onclick = function(event) {
        if (event.target == shareModal) {
            shareModal.style.display = "none";
        }
    }



    // 좌표 구하기
    let address = [];
    // 주소값과 번호를 받아와서  주소 값으로 좌표 생성, 번호로 어느것을 눌렀는지 확인.
    test()
    function test() {
        if(end==null) {
            xy(start);
            // console.log(address[0], address[1]);
            // getStartMap(address[0], address[1]);
            return;
        }else {
            xy(start);  //출발지 좌표 address에 push
            xy2(end);   //도착지 좌표 address에 push
            // console.log(address[1], address[0], address[3], address[2]);
        }
    }

    //출발지만 있을때 x,y좌표값 배열에 넣어주기
    function xy(ad) {
        naver.maps.Service.geocode({
            query: ad
        }, function (status, response) {
            if (status !== naver.maps.Service.Status.OK) {
                return alert('Something wrong!');
            }
            var result = response.v2, // 검색 결과의 컨테이너
                items = result.addresses; // 검색 결과의 배열


            address.push(items[0].y);
            address.push(items[0].x);
            getStartMap(address[0], address[1]);
        });
    }


    //도착지를 찍었을때  x,y 좌표 값 넣어주기
    function xy2(ad2) {
        console.log("xy들어옴")
        naver.maps.Service.geocode({
            query: ad2
        }, function (status, response) {
            if (status !== naver.maps.Service.Status.OK) {
                return alert('Something wrong!');
            }
            var result = response.v2, // 검색 결과의 컨테이너
                items = result.addresses; // 검색 결과의 배열

            address.push(items[0].y);
            address.push(items[0].x);
            getMap(address[0], address[1], address[2], address[3]);

        });
    }





    // 도착지 존재 지도
    function getMap(x1, y1, x2, y2) {


        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(x1, y1), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 마커를 표시할 위치와 title 객체 배열입니다
        var positions = [
            {
                title: '출발지',
                latlng: new kakao.maps.LatLng(x1, y1)
            },
            {
                title: '도착지',
                latlng: new kakao.maps.LatLng(x2, y2)
            }
        ];

        // 마커 이미지의 이미지 주소입니다
        var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

        for (var i = 0; i < positions.length; i++) {

            // 마커 이미지의 이미지 크기 입니다
            var imageSize = new kakao.maps.Size(24, 35);

            // 마커 이미지를 생성합니다
            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: positions[i].latlng, // 마커를 표시할 위치
                title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                image: markerImage // 마커 이미지
            });
        }
    }


    // 도착지 존재 X 지도

    function getStartMap(x1, y1) {

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(x1,y1), // 지도의 중심좌표
                level: 2 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 마커가 표시될 위치입니다
        var markerPosition  = new kakao.maps.LatLng(x1,y1);

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            position: markerPosition
        });

        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);

    };

    //--------------------------- 공유하기 api----------------------------------

    // SDK를 초기화 합니다. 사용할 앱의 JavaScript 키를 설정해 주세요.
    Kakao.init('a976ec1bd79664fdd82edd1c18835ef7');

    // SDK 초기화 여부를 판단합니다.
    function kakaoShare() {

        Kakao.Link.sendDefault({
            objectType: 'feed',
            content: {
                title: '주방용품', //카카오공유하기 시 타이틀
                description: '초록색이 좋아 고무장갑', //카카오공유하기 시 설명
                imageUrl: 'http://127.0.0.1:5500/src/main/resources/static/images/5.jpg', //카카오공유하기 시 썸네일 이미지 경로
                link: {
                    mobileWebUrl: 'http://127.0.0.1:5500/src/main/resources/templates/product/pickitupStoreDetail.html', //카카오공유하기 시 클릭 후 이동 경로
                    webUrl: 'http://127.0.0.1:5500/src/main/resources/templates/product/pickitupStoreDetail.html', //카카오공유하기 시 클릭 후 이동 경로
                },
            },
            buttons: [
                {
                    title: '웹으로 보기',
                    link: {
                        mobileWebUrl: 'http://127.0.0.1:5500/src/main/resources/templates/product/pickitupStoreDetail.html', //카카오공유하기 시 클릭 후 이동 경로
                        webUrl: 'http://127.0.0.1:5500/src/main/resources/templates/product/pickitupStoreDetail.html', //카카오공유하기 시 클릭 후 이동 경로
                    },
                },
            ],
            // 카카오톡 미설치 시 카카오톡 설치 경로이동
            installTalk: true,

        })
        $('.share_container').css("display","none");
    }


    //  클립보드 복사하기
    function clipboardShare() {
        // 1. 새로운 element 생성
        var tmpTextarea = document.createElement('textarea');

        // 2. 해당 element에 복사하고자 하는 value 저장
        tmpTextarea.value = window.location.href; //현재 url

        // 3. 해당 element를 화면에 안보이는 곳에 위치
        tmpTextarea.setAttribute('readonly', '');
        tmpTextarea.style.position = 'absolute';
        tmpTextarea.style.left = '-9999px';
        document.body.appendChild(tmpTextarea);

        // 4. 해당 element의 value를 시스템 함수를 호출하여 복사
        tmpTextarea.select();
        tmpTextarea.setSelectionRange(0, 9999);  // 셀렉트 범위 설정
        var successChk = document.execCommand('copy');

        // 5. 해당 element 삭제
        document.body.removeChild(tmpTextarea);

        // 클립보드 성공여부 확인
        if (!successChk) {
            alert("클립보드 복사에 실패하였습니다.");
        } else {
            alert("클립보드에 복사가 완료되었습니다.");
        }
        $('.share_container').css("display", "none");
    };



    //
    // $.ajax({
    //     url: "/project/qnaList/" + projectNum,
    //     type: "get",
    //     dataType: "json",
    //     success: function(qnaVO){
    //         let str = "";
    //         if(qnaVO.length==0){
    //             str += "현재 문의가 없습니다.";
    //             $('.ProductQnas').html(str);
    //             return;
    //         }
    //         $.each(qnaVO, function(i, qna){
    //             str += "<div class=\"qnas\">";
    //             str += "<div class=\"flex\" style=\"align-items: center;\">";
    //             str += "<div class=\"profile_img\"><img src=\"/images/1.jpg\" style=\"width: 100%; height: 100%;\"></div>";
    //             str += "<div class=\"id_and_date\" style=\"flex-direction: column;\">";
    //             str += "<div class=\"admin_id\" style=\"color: black;\">"+qna.userNum+"</div>";
    //             str += "<div class=\"admin_date\">"+qna.updateDate+"</div>";
    //             str += "</div>";
    //             str += "</div>";
    //             str += "<div class=\"space\"></div>";
    //             str += "<div class=\"small_and_gray\"><p class=\"user_question\">"+qna.content+"</p></div>";
    //             str += "<div class=\"space\"></div>";
    //             str += "<div class=\"qna_replys\">";
    //             str += "<div class=\"qna_reply\">";
    //             str += "<div class=\"flex\" style=\"align-items: center;\">";
    //             str += "<div class=\"admin_profile_img\"><img src=\"/images/4.jpg\"></div>";
    //             str += "<div class=\"flex id_and_date\">";
    //             str += "<div class=\"admin_id\">관리자 아이디 &nbsp;</div>";
    //             str += "<div class=\"admin_date\">2022.06.11</div>";
    //             str += "</div>";
    //             str += "</div>";
    //             str += "<div class=\"small_and_gray\" style=\"color: black;\">";
    //             str += "<p class=\"admin_comment\"> 네 고객님 초록색 고무장갑 특 엑스 라지가 없으셔서 많이 당황하셨죠? 금방 재고가 들어올 예정이니 구독과 알람설정 부탁드려요!</p>";
    //             str += "</div>";
    //             str += "<div class=\"space\"></div>";
    //             str += "</div>";
    //             str += "</div>";
    //             str += "<div class=\"flex\" style=\"position: relative; align-items: center; height: 48px;\">";
    //             str += "<div class=\"do_admin_comment\">";
    //             str += "<div class=\"flex\">";
    //             str += "<input class=\"doComment\" type=\"text\" placeholder=\"관리자만 입력할 수 있습니다\">";
    //             str += "<div class=\"send_plane\" style=\"width: 20px; height: 20px;\"><span class=\"material-symbols-outlined\">";
    //             str += "send";
    //             str += " </span></div>";
    //             str += "</div>";
    //             str += "</div>";
    //             str += "</div>";
    //             str += "</div>";
    //         });
    //         $('.ProductQnas').html(str);
    //         // $.each(reviewVO, function(i, review){
    //         // });
    //         // $('.ProductReviews').html(str);
    //     }
    // });


</script>
</html>