<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/Header.css"/>
    <link rel="stylesheet" href="/assets/css/Main.css"/>
    <link rel="stylesheet" href="/assets/css/Footer.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
</head>
<body>
<!--여기까지가 헤더 입니다-->
<div th:replace="~{/main/Header :: HeaderImport}"></div>
<!--여기까지가 헤더 입니다-->


<!--여기서부터 메인 컨텐츠-->

<div class="plogging-wrapper">
    <div>
        <div class="plogging-margin">
            <section>
                <div class="hot-plogging-text">
                    <a href=#>
                        <div class="hot-plogging-text1">
                            <img src="fire.png" style="width:25px"> <h2 class="hot-plogging-text2">플로깅 프로젝트 전체 목록</h2>
                        </div>
                    </a>
                </div>
                <div>
                    <table >
                        <tr >
                            <td>
                                <div style="width:100%; height:100%;">
                                    <div class="plogging-thumbnail-wrap">
                                        <img src="poster2.jpg">
                                    </div>
                                    <div class="deadline"><span class="material-symbols-outlined" style= "font-size: 14px; margin-left: 5px;">
                        alarm
                        </span><div class="deadline-text">프로젝트 시작까지</div><div class="d-day">D-3</div></div>
                                    <div class = "plogging-location-text">강남구청</div>
                                    <div class = "plogging-msg-text">강남구청과 함께하는 대모산 클린 하이킹</div>
                                    <!-- <div class="jjims-and-likes" ><div class="last-wrap"></div>12312</div> -->
                                    <div class="jjims-and-likes">
                                        <div class="last-wrap">
                                            <div class="heart-icon">
                                                <div class="heart-svg">
                                                    <svg class="hearts" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z" fill="#d7d7d7"></path></svg>
                                                </div>
                                                14919
                                            </div>
                                            <div class="likes-wrap">
                                                <div class="likes-svg">
                                                    <svg class="likes" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M2 10.68c0-.691.503-1.251 1.135-1.251h2.273V22H3.135C2.508 22 2 21.427 2 20.749V10.68zm11.361-2.508h6.366c1.255 0 2.272 1.126 2.272 2.514 0 .151-.012.301-.037.45l-1.616 9.832C20.25 21.566 19.779 22 19.23 22H7.681V9.429L11.089 0c1.704 0 2.84 1.257 2.84 3.143 0 1.257-.189 2.933-.568 5.029z" fill="#d7d7d7"></path>
                                                    </svg>
                                                </div>
                                                99%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div style="width:100%; height:100%;">
                                    <div class="plogging-thumbnail-wrap">
                                        <img src="poster2.jpg">
                                    </div>
                                    <div class="deadline"><span class="material-symbols-outlined" style= "font-size: 14px; margin-left: 5px;">
                            alarm
                            </span><div class="deadline-text">프로젝트 시작까지</div><div class="d-day">D-3</div></div>
                                    <div class = "plogging-location-text">강남구청</div>
                                    <div class = "plogging-msg-text">강남구청과 함께하는 대모산 클린 하이킹</div>
                                    <!-- <div class="jjims-and-likes" ><div class="last-wrap"></div>12312</div> -->
                                    <div class="jjims-and-likes">
                                        <div class="last-wrap">
                                            <div class="heart-icon">
                                                <div class="heart-svg">
                                                    <svg class="hearts" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z" fill="#d7d7d7"></path></svg>
                                                </div>
                                                14919
                                            </div>
                                            <div class="likes-wrap">
                                                <div class="likes-svg">
                                                    <svg class="likes" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M2 10.68c0-.691.503-1.251 1.135-1.251h2.273V22H3.135C2.508 22 2 21.427 2 20.749V10.68zm11.361-2.508h6.366c1.255 0 2.272 1.126 2.272 2.514 0 .151-.012.301-.037.45l-1.616 9.832C20.25 21.566 19.779 22 19.23 22H7.681V9.429L11.089 0c1.704 0 2.84 1.257 2.84 3.143 0 1.257-.189 2.933-.568 5.029z" fill="#d7d7d7"></path>
                                                    </svg>
                                                </div>
                                                99%
                                            </div>
                                        </div>
                                    </div>
                                </div></td>
                            <td>
                                <div style="width:100%; height:100%;">
                                    <div class="plogging-thumbnail-wrap">
                                        <img src="poster2.jpg">
                                    </div>
                                    <div class="deadline"><span class="material-symbols-outlined" style= "font-size: 14px; margin-left: 5px;">
                                alarm
                                </span><div class="deadline-text">프로젝트 시작까지</div><div class="d-day">D-3</div></div>
                                    <div class = "plogging-location-text">강남구청</div>
                                    <div class = "plogging-msg-text">강남구청과 함께하는 대모산 클린 하이킹</div>
                                    <!-- <div class="jjims-and-likes" ><div class="last-wrap"></div>12312</div> -->
                                    <div class="jjims-and-likes">
                                        <div class="last-wrap">
                                            <div class="heart-icon">
                                                <div class="heart-svg">
                                                    <svg class="hearts" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z" fill="#d7d7d7"></path></svg>
                                                </div>
                                                14919
                                            </div>
                                            <div class="likes-wrap">
                                                <div class="likes-svg">
                                                    <svg class="likes" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M2 10.68c0-.691.503-1.251 1.135-1.251h2.273V22H3.135C2.508 22 2 21.427 2 20.749V10.68zm11.361-2.508h6.366c1.255 0 2.272 1.126 2.272 2.514 0 .151-.012.301-.037.45l-1.616 9.832C20.25 21.566 19.779 22 19.23 22H7.681V9.429L11.089 0c1.704 0 2.84 1.257 2.84 3.143 0 1.257-.189 2.933-.568 5.029z" fill="#d7d7d7"></path>
                                                    </svg>
                                                </div>
                                                99%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div style="width:100%; height:100%;">
                                    <div class="plogging-thumbnail-wrap">
                                        <img src="poster2.jpg">
                                    </div>
                                    <div class="deadline"><span class="material-symbols-outlined" style= "font-size: 14px; margin-left: 5px;">
                                    alarm
                                    </span><div class="deadline-text">프로젝트 시작까지</div><div class="d-day">D-3</div></div>
                                    <div class = "plogging-location-text">강남구청</div>
                                    <div class = "plogging-msg-text">강남구청과 함께하는 대모산 클린 하이킹</div>
                                    <!-- <div class="jjims-and-likes" ><div class="last-wrap"></div>12312</div> -->
                                    <div class="jjims-and-likes">
                                        <div class="last-wrap">
                                            <div class="heart-icon">
                                                <div class="heart-svg">
                                                    <svg class="hearts" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z" fill="#d7d7d7"></path></svg>
                                                </div>
                                                14919
                                            </div>
                                            <div class="likes-wrap">
                                                <div class="likes-svg">
                                                    <svg class="likes" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M2 10.68c0-.691.503-1.251 1.135-1.251h2.273V22H3.135C2.508 22 2 21.427 2 20.749V10.68zm11.361-2.508h6.366c1.255 0 2.272 1.126 2.272 2.514 0 .151-.012.301-.037.45l-1.616 9.832C20.25 21.566 19.779 22 19.23 22H7.681V9.429L11.089 0c1.704 0 2.84 1.257 2.84 3.143 0 1.257-.189 2.933-.568 5.029z" fill="#d7d7d7"></path>
                                                    </svg>
                                                </div>
                                                99%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="width:100%; height:100%;">
                                    <div class="plogging-thumbnail-wrap">
                                        <img src="poster2.jpg">
                                    </div>
                                    <div class="deadline"><span class="material-symbols-outlined" style= "font-size: 14px; margin-left: 5px;">
                                        alarm
                                        </span><div class="deadline-text">프로젝트 시작까지</div><div class="d-day">D-3</div></div>
                                    <div class = "plogging-location-text">강남구청</div>
                                    <div class = "plogging-msg-text">강남구청과 함께하는 대모산 클린 하이킹</div>
                                    <!-- <div class="jjims-and-likes" ><div class="last-wrap"></div>12312</div> -->
                                    <div class="jjims-and-likes">
                                        <div class="last-wrap">
                                            <div class="heart-icon">
                                                <div class="heart-svg">
                                                    <svg class="hearts" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z" fill="#d7d7d7"></path></svg>
                                                </div>
                                                14919
                                            </div>
                                            <div class="likes-wrap">
                                                <div class="likes-svg">
                                                    <svg class="likes" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M2 10.68c0-.691.503-1.251 1.135-1.251h2.273V22H3.135C2.508 22 2 21.427 2 20.749V10.68zm11.361-2.508h6.366c1.255 0 2.272 1.126 2.272 2.514 0 .151-.012.301-.037.45l-1.616 9.832C20.25 21.566 19.779 22 19.23 22H7.681V9.429L11.089 0c1.704 0 2.84 1.257 2.84 3.143 0 1.257-.189 2.933-.568 5.029z" fill="#d7d7d7"></path>
                                                    </svg>
                                                </div>
                                                99%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div style="width:100%; height:100%;">
                                    <div class="plogging-thumbnail-wrap">
                                        <img src="poster2.jpg">
                                    </div>
                                    <div class="deadline"><span class="material-symbols-outlined" style= "font-size: 14px; margin-left: 5px;">
                                            alarm
                                            </span><div class="deadline-text">프로젝트 시작까지</div><div class="d-day">D-3</div></div>
                                    <div class = "plogging-location-text">강남구청</div>
                                    <div class = "plogging-msg-text">강남구청과 함께하는 대모산 클린 하이킹</div>
                                    <!-- <div class="jjims-and-likes" ><div class="last-wrap"></div>12312</div> -->
                                    <div class="jjims-and-likes">
                                        <div class="last-wrap">
                                            <div class="heart-icon">
                                                <div class="heart-svg">
                                                    <svg class="hearts" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z" fill="#d7d7d7"></path></svg>
                                                </div>
                                                14919
                                            </div>
                                            <div class="likes-wrap">
                                                <div class="likes-svg">
                                                    <svg class="likes" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M2 10.68c0-.691.503-1.251 1.135-1.251h2.273V22H3.135C2.508 22 2 21.427 2 20.749V10.68zm11.361-2.508h6.366c1.255 0 2.272 1.126 2.272 2.514 0 .151-.012.301-.037.45l-1.616 9.832C20.25 21.566 19.779 22 19.23 22H7.681V9.429L11.089 0c1.704 0 2.84 1.257 2.84 3.143 0 1.257-.189 2.933-.568 5.029z" fill="#d7d7d7"></path>
                                                    </svg>
                                                </div>
                                                99%
                                            </div>
                                        </div>
                                    </div>
                                </div></td>
                            <td>
                                <div style="width:100%; height:100%;">
                                    <div class="plogging-thumbnail-wrap">
                                        <img src="poster2.jpg">
                                    </div>
                                    <div class="deadline"><span class="material-symbols-outlined" style= "font-size: 14px; margin-left: 5px;">
                                                alarm
                                                </span><div class="deadline-text">프로젝트 시작까지</div><div class="d-day">D-3</div></div>
                                    <div class = "plogging-location-text">강남구청</div>
                                    <div class = "plogging-msg-text">강남구청과 함께하는 대모산 클린 하이킹</div>
                                    <!-- <div class="jjims-and-likes" ><div class="last-wrap"></div>12312</div> -->
                                    <div class="jjims-and-likes">
                                        <div class="last-wrap">
                                            <div class="heart-icon">
                                                <div class="heart-svg">
                                                    <svg class="hearts" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z" fill="#d7d7d7"></path></svg>
                                                </div>
                                                14919
                                            </div>
                                            <div class="likes-wrap">
                                                <div class="likes-svg">
                                                    <svg class="likes" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M2 10.68c0-.691.503-1.251 1.135-1.251h2.273V22H3.135C2.508 22 2 21.427 2 20.749V10.68zm11.361-2.508h6.366c1.255 0 2.272 1.126 2.272 2.514 0 .151-.012.301-.037.45l-1.616 9.832C20.25 21.566 19.779 22 19.23 22H7.681V9.429L11.089 0c1.704 0 2.84 1.257 2.84 3.143 0 1.257-.189 2.933-.568 5.029z" fill="#d7d7d7"></path>
                                                    </svg>
                                                </div>
                                                99%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div style="width:100%; height:100%;">
                                    <div class="plogging-thumbnail-wrap">
                                        <img src="poster2.jpg">
                                    </div>
                                    <div class="deadline"><span class="material-symbols-outlined" style= "font-size: 14px; margin-left: 5px;">
                                                    alarm
                                                    </span><div class="deadline-text">프로젝트 시작까지</div><div class="d-day">D-3</div></div>
                                    <div class = "plogging-location-text">강남구청</div>
                                    <div class = "plogging-msg-text">강남구청과 함께하는 대모산 클린 하이킹</div>
                                    <!-- <div class="jjims-and-likes" ><div class="last-wrap"></div>12312</div> -->
                                    <div class="jjims-and-likes">
                                        <div class="last-wrap">
                                            <div class="heart-icon">
                                                <div class="heart-svg">
                                                    <svg class="hearts" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z" fill="#d7d7d7"></path></svg>
                                                </div>
                                                14919
                                            </div>
                                            <div class="likes-wrap">
                                                <div class="likes-svg">
                                                    <svg class="likes" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M2 10.68c0-.691.503-1.251 1.135-1.251h2.273V22H3.135C2.508 22 2 21.427 2 20.749V10.68zm11.361-2.508h6.366c1.255 0 2.272 1.126 2.272 2.514 0 .151-.012.301-.037.45l-1.616 9.832C20.25 21.566 19.779 22 19.23 22H7.681V9.429L11.089 0c1.704 0 2.84 1.257 2.84 3.143 0 1.257-.189 2.933-.568 5.029z" fill="#d7d7d7"></path>
                                                    </svg>
                                                </div>
                                                99%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>                    <tr>
                        <td>
                            <div style="width:100%; height:100%;">
                                <div class="plogging-thumbnail-wrap">
                                    <img src="poster2.jpg">
                                </div>
                                <div class="deadline"><span class="material-symbols-outlined" style= "font-size: 14px; margin-left: 5px;">
                                                        alarm
                                                        </span><div class="deadline-text">프로젝트 시작까지</div><div class="d-day">D-3</div></div>
                                <div class = "plogging-location-text">강남구청</div>
                                <div class = "plogging-msg-text">강남구청과 함께하는 대모산 클린 하이킹</div>
                                <!-- <div class="jjims-and-likes" ><div class="last-wrap"></div>12312</div> -->
                                <div class="jjims-and-likes">
                                    <div class="last-wrap">
                                        <div class="heart-icon">
                                            <div class="heart-svg">
                                                <svg class="hearts" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z" fill="#d7d7d7"></path></svg>
                                            </div>
                                            14919
                                        </div>
                                        <div class="likes-wrap">
                                            <div class="likes-svg">
                                                <svg class="likes" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M2 10.68c0-.691.503-1.251 1.135-1.251h2.273V22H3.135C2.508 22 2 21.427 2 20.749V10.68zm11.361-2.508h6.366c1.255 0 2.272 1.126 2.272 2.514 0 .151-.012.301-.037.45l-1.616 9.832C20.25 21.566 19.779 22 19.23 22H7.681V9.429L11.089 0c1.704 0 2.84 1.257 2.84 3.143 0 1.257-.189 2.933-.568 5.029z" fill="#d7d7d7"></path>
                                                </svg>
                                            </div>
                                            99%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div style="width:100%; height:100%;">
                                <div class="plogging-thumbnail-wrap">
                                    <img src="poster2.jpg">
                                </div>
                                <div class="deadline"><span class="material-symbols-outlined" style= "font-size: 14px; margin-left: 5px;">
                                                            alarm
                                                            </span><div class="deadline-text">프로젝트 시작까지</div><div class="d-day">D-3</div></div>
                                <div class = "plogging-location-text">강남구청</div>
                                <div class = "plogging-msg-text">강남구청과 함께하는 대모산 클린 하이킹</div>
                                <!-- <div class="jjims-and-likes" ><div class="last-wrap"></div>12312</div> -->
                                <div class="jjims-and-likes">
                                    <div class="last-wrap">
                                        <div class="heart-icon">
                                            <div class="heart-svg">
                                                <svg class="hearts" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z" fill="#d7d7d7"></path></svg>
                                            </div>
                                            14919
                                        </div>
                                        <div class="likes-wrap">
                                            <div class="likes-svg">
                                                <svg class="likes" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M2 10.68c0-.691.503-1.251 1.135-1.251h2.273V22H3.135C2.508 22 2 21.427 2 20.749V10.68zm11.361-2.508h6.366c1.255 0 2.272 1.126 2.272 2.514 0 .151-.012.301-.037.45l-1.616 9.832C20.25 21.566 19.779 22 19.23 22H7.681V9.429L11.089 0c1.704 0 2.84 1.257 2.84 3.143 0 1.257-.189 2.933-.568 5.029z" fill="#d7d7d7"></path>
                                                </svg>
                                            </div>
                                            99%
                                        </div>
                                    </div>
                                </div>
                            </div></td>
                        <td>
                            <div style="width:100%; height:100%;">
                                <div class="plogging-thumbnail-wrap">
                                    <img src="poster2.jpg">
                                </div>
                                <div class="deadline"><span class="material-symbols-outlined" style= "font-size: 14px; margin-left: 5px;">
                                                                alarm
                                                                </span><div class="deadline-text">프로젝트 시작까지</div><div class="d-day">D-3</div></div>
                                <div class = "plogging-location-text">강남구청</div>
                                <div class = "plogging-msg-text">강남구청과 함께하는 대모산 클린 하이킹</div>
                                <!-- <div class="jjims-and-likes" ><div class="last-wrap"></div>12312</div> -->
                                <div class="jjims-and-likes">
                                    <div class="last-wrap">
                                        <div class="heart-icon">
                                            <div class="heart-svg">
                                                <svg class="hearts" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z" fill="#d7d7d7"></path></svg>
                                            </div>
                                            14919
                                        </div>
                                        <div class="likes-wrap">
                                            <div class="likes-svg">
                                                <svg class="likes" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M2 10.68c0-.691.503-1.251 1.135-1.251h2.273V22H3.135C2.508 22 2 21.427 2 20.749V10.68zm11.361-2.508h6.366c1.255 0 2.272 1.126 2.272 2.514 0 .151-.012.301-.037.45l-1.616 9.832C20.25 21.566 19.779 22 19.23 22H7.681V9.429L11.089 0c1.704 0 2.84 1.257 2.84 3.143 0 1.257-.189 2.933-.568 5.029z" fill="#d7d7d7"></path>
                                                </svg>
                                            </div>
                                            99%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div style="width:100%; height:100%;">
                                <div class="plogging-thumbnail-wrap">
                                    <img src="poster2.jpg">
                                </div>
                                <div class="deadline"><span class="material-symbols-outlined" style= "font-size: 14px; margin-left: 5px;">
                                                                    alarm
                                                                    </span><div class="deadline-text">프로젝트 시작까지</div><div class="d-day">D-3</div></div>
                                <div class = "plogging-location-text">강남구청</div>
                                <div class = "plogging-msg-text">강남구청과 함께하는 대모산 클린 하이킹</div>
                                <!-- <div class="jjims-and-likes" ><div class="last-wrap"></div>12312</div> -->
                                <div class="jjims-and-likes">
                                    <div class="last-wrap">
                                        <div class="heart-icon">
                                            <div class="heart-svg">
                                                <svg class="hearts" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z" fill="#d7d7d7"></path></svg>
                                            </div>
                                            14919
                                        </div>
                                        <div class="likes-wrap">
                                            <div class="likes-svg">
                                                <svg class="likes" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M2 10.68c0-.691.503-1.251 1.135-1.251h2.273V22H3.135C2.508 22 2 21.427 2 20.749V10.68zm11.361-2.508h6.366c1.255 0 2.272 1.126 2.272 2.514 0 .151-.012.301-.037.45l-1.616 9.832C20.25 21.566 19.779 22 19.23 22H7.681V9.429L11.089 0c1.704 0 2.84 1.257 2.84 3.143 0 1.257-.189 2.933-.568 5.029z" fill="#d7d7d7"></path>
                                                </svg>
                                            </div>
                                            99%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </table>
                    <!--여기까지 메인 컨텐츠-->


                    <!--여기부터 푸터-->
                    <div th:replace="~{/main/Footer :: FooterImport}"></div>
</body>

<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
    $('.filter-btn').click(function(){
        var filterVal = $(this).val();
        $.ajax({
            url: "",
            type: "post",
            data: filterVal,
            success: function(){
            }
        });
    });


    (function() {
        const table = document.querySelector('table');
        console.log(table);
        console.log(table.firstChild);
        console.log(table.firstChild.childNodes);
        let count = table.rows.length;
        console.log(count);
        const template = function() {
            const table = document.querySelector('table');
            var row = table.insertRow();
            str="";
            for(var i =0; i<4;i++){
                str+=    '<td>';
                str+=        '<div style="width:100%; height:100%;">';
                str+=        '<div class="plogging-thumbnail-wrap">';
                str+=        '<img src="poster2.jpg">';
                str+=    '</div>';
                str+=        '<div class="deadline"><span class="material-symbols-outlined" style= "font-size: 14px; margin-left: 5px;">';
                str+='alarm';
                str+='</span><div class="deadline-text">프로젝트 시작까지</div><div class="d-day">D-3</div></div>';
                str+=       '<div class = "plogging-location-text">강남구청</div>';
                str+=        '<div class = "plogging-msg-text">강남구청과 함께하는 대모산 클린 하이킹</div>'
                str+=        '<div class="jjims-and-likes">';
                str+=            '<div class="last-wrap">';
                str+=                '<div class="heart-icon">';
                str+=                     '<div class="heart-svg">';
                str+=             '<svg class="hearts" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z" fill="#d7d7d7"></path></svg>';
                str+=           '</div> ';
                str+=            ' 14919';
                str+=           '</div>';
                str+=           '<div class="likes-wrap">';
                str+=                '<div class="likes-svg">';
                str+=     '<svg class="likes" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M2 10.68c0-.691.503-1.251 1.135-1.251h2.273V22H3.135C2.508 22 2 21.427 2 20.749V10.68zm11.361-2.508h6.366c1.255 0 2.272 1.126 2.272 2.514 0 .151-.012.301-.037.45l-1.616 9.832C20.25 21.566 19.779 22 19.23 22H7.681V9.429L11.089 0c1.704 0 2.84 1.257 2.84 3.143 0 1.257-.189 2.933-.568 5.029z" fill="#d7d7d7"></path>';
                str+=                 '</svg>';
                str+=            '</div>';
                str+=                '99%';
                str+=            '</div>';
                str+=         '</div>';
                str+=      '</div>';
                str+=   '</div>';
                str+= '</td>';
            }
            row.innerHTML=str;

        };

        //스크롤 바닥 감지
        window.onscroll = function(e) {
            //window height + window scrollY 값이 document height보다 클 경우
            if((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                count++;
                template(count);  //콘텐츠 추가
            }
        };
    })();
</script>
</html>



