<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/assets/css/buyProductDetail.css"/>
<body style="background-color: #f8f8f9;">
<div class="root">
    <div class="wrapper-1">
        <div class="wrapper-product">
            <div class="title-wrapper">
                <h1 class="font-check">주문이 완료되었습니다</h1>
                <div style="margin-bottom: 20px;" th:text="*{product.itemname}"></div>
            </div>
            <div class="title-wrapper">
                <div class="title-category">
                    <div class="title-category-detail"><a href="/user/마이페이지.html" target="_self" class="to_mypage">마이페이지</a></div>
                    <div class="title-divide"></div>
                    <div class="title-category-detail" aria-disabled="false"><a href="/user/주문리스트.html" target="_self" class="to_prodectList">주문 및 배송</a></div>
                    <div class="title-divide"></div>
                    <div class="title-category-detail" aria-disabled="false"><a class="to_prodectList_detail" style="color: rgb(26, 26, 26); cursor:default">주문 상세</a></div>
                </div>
                <h3 class="font-check"><div id="current_date"></div></h3>
            </div>
            <div class="divide"></div>
            <div class="product-bill-wrapper">
                <h4 class="font-check">결제 성공</h4>
                <!-- <div class="bill-divide"></div> -->
                <div class="bill-way-title">
                    <div class="bill-way-wrapper">
                        <p class="bill-wrapper-left">결제 수단</p>
                        <p class="bill-wrapper-right">마이포인트</p>
                    </div>
                </div>
                <div class =bill-divide></div>
                <div class="bill-way-detail-wrapper">
                    <div class="bill-way-detail">

                        <div class="bill-way-wrapper" id="bill-price-wrpper">
                            <p class="bill-wrapper-left">상품 금액</p>
                            <p class="bill-wrapper-right" id="product-price" th:text="|*{product.ogprice}P|"></p>
                        </div>
                        <div class="bill-way-wrapper" id="bill-count-wrpper">
                            <p class="bill-wrapper-left">상품 갯수</p>
                            <p class="bill-wrapper-right" id="product-count" th:text="|*{product.totalitems}개|"></p>
                        </div>

                        <div class="bill-way-wrapper" id="bill-deliver">
                            <p class="bill-wrapper-left">배송비</p>
                            <p class="bill-wrapper-right">무료</p>
                        </div>
                        <div class =bill-divide></div>

                        <div class="bill-way-wrapper" id="bill-total">
                            <p class="bill-wrapper-left">총 결제 금액</p>
                            <p class="bill-wrapper-right" id="product-detail-total" th:text="|*{product.totalpayment}P|"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divide"></div>
            <div class="product-buyer-wrapper">
                <h4 class="font-check">배송 정보</h4>
                <div class="bill-way-detail-wrapper">
                    <div class="bill-way-wrapper" id="bill-price-wrpper">
                        <p class="bill-wrapper-left">받는분</p>
                        <p class="bill-wrapper-right" id="userName" th:text="*{orderinfo.nickName}"></p>
                    </div>
                    <div class="bill-way-wrapper" id="bill-price-wrpper">
                        <p class="bill-wrapper-left">연락처</p>
                        <p class="bill-wrapper-right" id="userPhone" th:text="*{orderinfo.phone}"></p>
                    </div>
                    <div class="bill-way-wrapper" id="bill-price-wrpper">
                        <p class="bill-wrapper-left">주소</p>
                        <p class="bill-wrapper-right" id="userState" th:text="|*{orderinfo.address} *{orderinfo.addressDetail}|"></p>
                    </div>
                    <div class="bill-way-wrapper" id="bill-price-wrpper">
                        <p class="bill-wrapper-left">배송 요청사항</p>
                        <p class="bill-wrapper-right" id="userState" th:text="|${addressComment}|"></p>
                    </div>
                </div>
            </div>
            <div class="button_wrapper" style="padding: 24px;">
                <div id="go_to_new_product"><a href="/store/main" target="_self">다른 상품 보러가기</a></div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    date = new Date();
    year = date.getFullYear();
    month = date.getMonth() + 1;
    day = date.getDate();
    document.getElementById("current_date").innerHTML = year + "." + month + "." + day + "&nbsp 주문 상세 내역";
</script>
</html>