<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/Header.css" />
    <link rel="stylesheet" href="/assets/css/Footer.css" />
    <link rel="stylesheet" href="/assets/css/pickitupStore.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>
<body style="font-family: Noto Sans KR; background-color: #f8f8f9;">
<!--헤더  -->

<div th:replace="~{/main/Header :: HeaderImport}"></div>
<!--헤더 -->
<form action="/store/buyProductDetail" method="post" th:object="${productinfo}">
    <div class="payment_main">
        <div class="black_line flex">
            <div><h3 class="_pay_header">결제하기</h3></div>
            <div class="flex" style="align-items: center;">
                <div><img src="/images/encryption.jpg">&nbsp;</div>
                <div style="color: orange ;margin-bottom: 5px; font-size: 1rem;">암호화중</div>
            </div>
        </div>
        <div style="padding: 24px;">
            <div>
                <div class="order_info">주문 정보</div>
                <div class="space"></div>
                <div class="selected_item" style="font-weight: bold;">선택한 구성품</div>
                <div class="flex" style="border-bottom: 1px solid rgba(209, 208, 208, 0.187); padding-bottom: 30px; margin-bottom: 30px;">
                    <div class="order_img"><img src="/images/5.jpg"></div>
                    <div style="margin-left: 10px;">
                        <div class="item_title" th:text="*{itemname}"></div>
                        <input type="hidden" name="itemname" th:value="*{itemname}">
                        <div class="small_and_gray">수량 <span id="total_items" th:text="|*{totalitems}개|"></span></div>
                        <input type="hidden" name="totalitems" th:value="*{totalitems}">
                        <input type="hidden" name="ogprice" th:value="*{ogprice}">
                    </div>
                </div>
            </div>

            <div class="shipment">
                <div class="order_info">배송정보</div>
                <div class="receiver">받으시는 분</div>
                <div class="ship_input"><input type="text" id="personname" name="nickName"  required></div>
                <div class="checkValid" id="personname_check"></div>
                <div class="valid" style="margin-bottom: 10px;">정확한 배송을 위해 실명을 입력하세요</div>
                <div class="receiver">휴대폰번호</div>
                <div class="phone_input"><input type="text" name="phone" id="personphone"  placeholder=" '-'없이 입력해주세요" required></div>
                <div class="checkValid" id="personphone_check"></div>
                <div class="receiver">배송주소</div>
                <div class="flex" style="width: 102%;">
                    <input id="personaddr" name="address"  class="addr_input" type="text" required readonly>
                    <button type="button" id="personaddrbtn" class="personaddrbtn">주소 검색</button>
                </div>
                <div class="checkValid" style="margin-bottom: 10px;">필수입력입니다.</div>
                <div class="phone_input"><input id="addr_detail"  name="addressDetail" type="text" placeholder="상세주소"></div>
                <div class="receiver">배송요청사항</div>
                <div class="phone_input"><input type="text" name="addressComment"  placeholder=" 예) 부재시 경비실에 맡겨주세요"></div>
            </div>
            <div class="order_info" style="margin-top: 50px;">결제금액</div>
            <div class="space"></div>
            <div class="flex small_and_gray" style="justify-content: space-between;">
                <div>총금액</div>
                <div th:text="|*{totalpayment}P|"></div>
                <input type="hidden" name="totalpayment" th:value="*{totalpayment}">
            </div>
            <div class="flex small_and_gray" style="justify-content: space-between; margin-bottom: 10px;">
                <div>배송비</div>
                <div>무료</div>
            </div>
            <div class="flex" style="justify-content: space-between; border-top: 1px solid rgba(128, 128, 128, 0.11); padding-top: 10px;">
                <div>최종가격</div>
                <div th:text="|*{totalpayment}P|"></div>
            </div>
            <div class="flex" style="border-top: 1px solid  rgba(128, 128, 128, 0.11); padding-top: 10px; margin-top: 10px; align-items: center;">
                <div class="flex" style="align-items: center;"> <input class="checkBox" type="checkbox" name="agree" id="agree" required><label for="agree" style="cursor: pointer; font-size: 14px ; margin-bottom: 4px;">(필수)개인정보 제3자 제공 동의 &nbsp;&nbsp;</label></div>
                <div id="agree_detail" class="small_and_gray" style="align-items: center; border-bottom: 1px solid gray; cursor: pointer; margin-bottom: 4px;">상세보기</div>
            </div>
            <button id="order_finish" type="submit" class="toBuy" style="margin-bottom: 10px; font-weight: 900;">주문 완료</button>
        </div>
    </div>
</form>



<div class="gototop">
        <span class="material-symbols-outlined toTop" style="font-size: 35px;">
            vertical_align_top
        </span>
</div>

<!-- ----------------모달창--------------------- -->
<div id="agree_modal" class="agree_modal">
    <div class="agree_modal_box">
        <div class="flex" style="justify-content: space-between;">
            <div class="agree_title">개인정보 제 3자 제공 동의</div>
            <button class="close">&times;</button>
        </div>


        <div class="flex mt-20" style="justify-content: space-between;">
            <table class="modal_table">
                <tbody>
                <tr>
                    <th>제공받는 자</th>
                    <td>픽잇업(피끼럽)컴페니</td>
                </tr>
                <tr>
                    <th>제공 목적</th>
                    <td>주문 상품의 배송, 고객상담 및 불만 처리</td>
                </tr>
                <tr>
                    <th>제공 항목</th>
                    <th>수취인 정보(이름, 휴대폰 번호, 주소)</th>
                </tr>
                <tr>
                    <th>보유 및 이용 기간</th>
                    <td>구매 확정 1개월 후 지체 없이 파기</td>
                </tr>
                </tbody>
            </table>

        </div>
        <div style="margin-top: 8px;">
            <button id="modal_close_btn" class="modal_close_btn">동의합니다</button>
        </div>

    </div>
</div>
<div th:replace="~{/main/Footer :: FooterImport}"></div>
</body>
<!-- jquery -->
<!--<script src="https://code.jquery.com/jquery-3.5.0.js"></script>-->
<!-- 다음주소 API -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<!--<script src="/assets/js/store.js"></script>-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    let productNum = [[${product.num}]];
    $.ajax({
        url: "/productFile/list/"+productNum,
        type : "get",
        success : function (files) {
            // let str = "<img src='/productFile/display?fileName=" + files[0].uploadPath + "/s_" + files[0].uuid + "_"  + files[0].fileName + "'>";
            // $(".mainImage").html(str);
            $(".order_img img").attr("src", "/productFile/display?fileName=" + files[0].uploadPath + "/" + files[0].uuid + "_"  + files[0].fileName )
        }
    })

    //개인정보 동의 모달
    let modal = document.getElementById("agree_modal");
    let agreebtn = document.getElementById("agree_detail");
    var span = document.getElementsByClassName("close")[0];
    let modal_close = document.getElementById("modal_close_btn");

    agreebtn.onclick = function(){
        modal.style.display = "block";
    }
    span.onclick = function() {
        modal.style.display = "none";
    }
    modal_close.onclick = function(){
        modal.style.display = "none";
    }


    // 배송정보 받는사람 유효성
    $('#personname').blur(function(){
        $("#personname_check").show();
        let $personname = $('#personname').val();
        if(!$personname){
            $("#personname_check").empty().text("주문자 명을 입력해주세요");
        }else{
            $("#personname_check").hide();
        }
    });

    //배송정보 받는사람 휴대폰 번호 유효성
    $('#personphone').blur(function(){
        $("#personphone_check").show();
        let $personphone = $('#personphone').val();
        if(!$personphone || $personphone.length!=11 || !$.isNumeric($personphone) ){
            $("#personphone_check").empty().text("정확한 전화번호를 입력하세요");
        }else{
            $("#personphone_check").hide();
        }
    });


    //주소검색
    window.onload = function(){
        document.getElementById("personaddrbtn").addEventListener("click", function(){ //주소입력칸을 클릭하면
            //카카오 지도 발생
            new daum.Postcode({
                oncomplete: function(data) { //선택시 입력값 세팅
                    document.getElementById("personaddr").value = data.address; // 주소 넣기
                    document.querySelector("input#addr_detail").focus(); //상세입력 포커싱
                }
            }).open();
        });
    }


    //개인정보 동의(모달창에서)
    $('#modal_close_btn').click(function(){
        $('#agree').prop("checked", true);
    })

</script>

</html>