<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/Header.css">
    <link rel="stylesheet" href="/assets/css/Footer.css">
    <link rel="stylesheet" href="/assets/css/pickitupStore.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body style="font-family: 'Noto Sans KR'; background-color: rgb(248, 248, 249) !important;">
<div class="review-container"> <!--전체 컨테이너-->
    <div class="reviews-wrap"> <!--헤더 컨테이너-->
        <div class="flex review_header" > <!--header 컨테이너-->
            <div class="review-header-left"><a class="goBackToDetail"><span class="material-symbols-outlined review-header-left" style="font-weight: 700; font-size: 20px; margin-top: 5px;">
                    arrow_back_ios
                    </span></a>
            </div>
            <div style="width: 100%;">
                <h5>실제 구매 후기</h5>
            </div>
        </div>
    </div>
    <div class="space"></div>
    <div style="width: 640px; position: relative; margin: 0 auto;">
        <div class="All_review_header" style="padding: 10px 0  0 24px;">
            전체 리뷰
        </div>
    </div>
    <div class="review-wrapper" th:object="${reviews}">
        <!-- 댓글 한개 -->
        <div th:each="review,index : ${reviews}">
            <!--갯수제한 조건 js의 standard 랑 맞춰줘야함 -->
            <th:block th:if="${index.index} < 2">
                <section class="allreveiws" th:object="${review}"> <!--실제 후기 컨테이너-->
                    <div class="p-24">
                        <div class="flex">
                            <div class="profile_img">
                                <!--                            유저 프로필 사진 넣을곳-->

                            </div>
                            <div class="review_id_and_date">
                                <div class="review_id" th:id="*{num}" th:name="*{userNum}"></div>
                                <input type="hidden" class="reviewNumber" th:value="*{num}">
                                <div class="review_date" th:text="|${#strings.substring(review.updateDate,0,10)}|" ></div>
                            </div>
                            <div class="flex" style="margin-left: 10px; width: 100%; justify-content: flex-end; align-items: center;">
                                <div class="review_modify" th:if="${userNum} == *{userNum}" th:id="*{num}"><a href="#"><img src="/images/modify.png"></a></div>
                                <div class="review_delete" th:if="${userNum} == *{userNum}" th:id="*{num}"><a href="#"><img src="/images/delete.png"></a></div>
                            </div>
                        </div>
                        <div style="margin-top: 10px;"></div>
                        <div style="margin-bottom: 12px;">
                            <div class="review_item_name" th:text="|[${products.category}] &nbsp ${products.name}|">
                            </div>
                        </div>
                        <div class="review_content_container">
                            <p class="review_content" th:text="|*{content}|">
                            <div style="margin-top:8px;" th:class="*{num}">
                                <!--                            여기에 사진 넣을자리-->
                            </div>
                        </div>
                    </div>
                    <div style="width: 100%; justify-content: center; display: flex;">
                        <div class="border_bottom_line"></div>
                    </div>
                </section>
            </th:block>
        </div>
        <div class="reviewPlus"></div>

    </div>


</div>

<div class="gototop">
        <span class="material-symbols-outlined toTop" style="font-size: 35px;">
            vertical_align_top
            </span>
</div>
<div th:replace="~{/main/Footer :: FooterImport}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="/assets/js/storeQna.js"></script>
<script src="/assets/js/storeMain.js"></script>
<script src="/assets/js/storeReview.js"></script>
<script th:inline="javascript">
    let userNum = [[${userNum}]];
    console.log(userNum)
    let productNum = [[${productNum}]];
    let reviews = [[${reviews}]] //리뷰 리스트
    ///-----------------------------------------------------------------------------------------------
    ///--------------------------------리뷰 가져오기--------------------------------
    ///--------------------------------리뷰 작성자 가져오기--------------------------------------------------
    let step = 2;
    let start = 0;
    let end = start+step;
    let total = reviews.length;
    let possible = true;
    reviewWriter();
    function reviewWriter(){
        for (let i = start; i < total; i++){  //0 , 1 인덱스 >> 0부터 2까지
            let userNum = reviews[i].userNum;
            qnaService.getUserinfo(userNum,function (user) {
                $(".review_id#"+reviews[i].num+"").text(user.nickname);
                insertImg(user);
            })
        }
    }
    ///-----------------------------------------------------------------------------------------------
    function insertImg(user){
        setTimeout(function () {
            let ps = $(".profile_img");
            $(ps[0]).attr("class","profile_img"+user.nickname);
        },50)

        // =======================================유저 사진 받아와서 뿌릴예정=========================================================
        let profileImg = "<img src='/userFile/display?fileName=" + user.profileUploadPath + "/"  + user.profileFileName + "' style='width: 34px; height: 34px; border-radius: 50%; margin-right: 5px;'>";
        setTimeout(function () {
            $(".profile_img"+user.nickname).html(profileImg);
        },100)
    }
    ///-----------------------------------------------------------------------------------------------

    //scroll top
    $('.gototop').click(function(){
        $('html, body').animate({scrollTop : 0},300);
    });

    //각 리뷰의 사진 받아오기
    reviewFiles();
    function reviewFiles(){
        $('.reviewNumber').each(function (i, review) {
            let cla = $(this).val();
            reviewService.getReviewFiles(cla,function (files) {
                let text = "";
                $(files).each(function (i, file) {
                    text += "<img src='/productReviewFile/display?fileName=" + file.uploadPath + "/" + file.uuid + "_" + file.fileName + "'>";
                })
                $("."+cla+"").html(text);
            })
        })
    }


    $('.goBackToDetail').click(function (e) {
        e.preventDefault();
        location.href = "/store/detail?num="+productNum;
    })

    // 리뷰 수정
    $(".review_modify").on("click",function (e) {
        e.preventDefault();
        location.href = "/store/reviewModify?num=" +$(this).attr("id");
    })

    // 리뷰 삭제
    $(".review_delete").on("click",function (e) {
        e.preventDefault();
        reviewService.reviewDelete($(this).attr("id"),function () {
            // location.href = "/store/goReviewList/"+productNum;
        })
    })


    //무한스크롤
    $(window).on("scroll", function() {
        var scrollHeight = $(document).height();
        var scrollPosition = $(window).height() + $(window).scrollTop();

        $("#scrollHeight").text(scrollHeight);
        $("#scrollPosition").text(scrollPosition);
        $("#bottom").text(scrollHeight - scrollPosition);

        if(possible){
            if (scrollPosition > scrollHeight - 1) {
                let str = "";

                start = end;
                end = end + step;

                if(end >= total){
                    end=total;
                    possible = false;
                }

                for (let i = start; i < end; i++) {
                    str += "<section class=\"allreveiws\"> <!--실제 후기 컨테이너-->";
                    str += "<div class=\"p-24\">";
                    str += "<div class=\"flex\">";
                    str += "<div class=\"profile_img\">";
                    str += "</div>";
                    str += "<div class=\"review_id_and_date\">";
                    str += "<div class=\"review_id\" id=\"" + reviews[i].num + "\" name=\"" + reviews[i].userNum + "\"></div>";
                    str += "<input type=\"hidden\" class=\"reviewNumber\" value=\"" + reviews[i].num + "\">";
                    str += "<div class=\"review_date\" >" + reviews[i].updateDate.substring(0, 10) + "</div>";
                    str += "</div>";
                    str += "<div class=\"flex\" style=\"margin-left: 10px; width: 100%; justify-content: flex-end; align-items: center;\">";
                    if(userNum == reviews[i].userNum){
                        str += "<div class=\"review_modify\" id=\"" + reviews[i].num + "\"><a href=\"#\"><img src=\"/images/modify.png\"></a></div>";
                        str += "<div class=\"review_delete\" id=\"" + reviews[i].num + "\"><a href=\"#\"><img src=\"/images/delete.png\"></a></div>";
                    }
                    str += "</div>";
                    str += "</div>";
                    str += "<div style=\"margin-top: 10px;\"></div>";
                    str += "<div style=\"margin-bottom: 12px;\">";
                    str += "<div class=\"review_item_name\">[" + [[${products.category}]] + "] &nbsp; " + [[${products.name}]] + "</div>";
                    str += "</div>";
                    str += "<div class=\"review_content_container\">";
                    str += "<p class=\"review_content\">" + reviews[i].content + "</p>";
                    str += "<div style=\"margin-top:8px;\" class=\"" + reviews[i].num + "\">";
                    str += "</div>";
                    str += "</div>";
                    str += "</div>";
                    str += "<div style=\"width: 100%; justify-content: center; display: flex;\">";
                    str += "<div class=\"border_bottom_line\"></div>";
                    str += "</div>";
                    str += "</section>";
                }
                $(".reviewPlus").append(str);
                reviewWriter();
                reviewFiles();
            }
        }
    });





</script>
</html>