<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.pickitup.domain.vo.user.AdminBoardVO" alias="adminBoardVO"/>
        <typeAlias type="com.example.pickitup.domain.vo.adminVO.AdminVO" alias="adminVO"/>
        <typeAlias type="com.example.pickitup.domain.vo.user.ApplyVO" alias="applyVO"/>
        <typeAlias type="com.example.pickitup.domain.vo.user.CompanyVO" alias="companyVO"/>
        <typeAlias type="com.example.pickitup.domain.vo.user.JjimVO" alias="jjimVO"/>
        <typeAlias type="com.example.pickitup.domain.vo.user.LatestVO" alias="latestVO"/>
        <typeAlias type="com.example.pickitup.domain.vo.user.OrderVO" alias="orderVO"/>
        <typeAlias type="com.example.pickitup.domain.vo.user.UserVO" alias="userVO"/>
        <typeAlias type="com.example.pickitup.domain.vo.product.productFile.ProductFileVO" alias="productFileVO"/>
        <typeAlias type="com.example.pickitup.domain.vo.product.productFile.ProductVO" alias="productVO"/>
        <typeAlias type="com.example.pickitup.domain.vo.product.productQna.ProductQnaCommentVO" alias="productQnaCommentVO"/>
        <typeAlias type="com.example.pickitup.domain.vo.product.productQna.ProductQnaVO" alias="productQnaVO"/>
        <typeAlias type="com.example.pickitup.domain.vo.product.productReview.ProductReviewFileVO" alias="productReviewFileVO"/>
        <typeAlias type="com.example.pickitup.domain.vo.product.productReview.ProductReviewVO" alias="productReviewVO"/>
        <typeAlias type="com.example.pickitup.domain.vo.project.projectFile.ProjectFileVO" alias="projectFileVO"/>
        <typeAlias type="com.example.pickitup.domain.vo.project.projectFile.ProjectVO" alias="projectVO"/>
        <typeAlias type="com.example.pickitup.domain.vo.project.projectQna.ProjectQnaCommentVO" alias="projectQnaCommentVO"/>
        <typeAlias type="com.example.pickitup.domain.vo.project.projectQna.ProjectQnaVO" alias="projectQnaVO"/>
        <typeAlias type="com.example.pickitup.domain.vo.project.projectReview.ProjectReviewFileVO" alias="projectReviewFileVO"/>
        <typeAlias type="com.example.pickitup.domain.vo.project.projectReview.ProjectReviewVO" alias="projectReviewVO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.UserDTO" alias="userDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.PageDTO" alias="pageDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.ApplyDTO" alias="applyDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.QrDTO" alias="qrDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.OrderDTO" alias="orderDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.ProjectDTO" alias="projectDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.ProjectDTO" alias="projectDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.OrderDTO" alias="orderDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.AdminBoardPageDTO" alias="adminboardDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.PointDTO" alias="pointDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.AdminQnaCommentDTO" alias="adminQnaCommentDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.AdminQnaDTO" alias="adminQnaDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.MyOrderDTO" alias="myOrderDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.MyReviewDTO" alias="myReviewDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.ProductPageDTO" alias="productPageDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.ProductDTO" alias="productDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.ReviewDTO" alias="reviewDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.ApplyDTO" alias="applyDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.ReviewDTO" alias="reviewDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.ProjectMainDTO" alias="projectMainDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.SearchDTO" alias="searchDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.UserDTO" alias="userDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.QnaPageDTO" alias="qnaPageDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.ProjectPageDTO" alias="ProjectPageDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.ProductReviewUserDTO" alias="productReviewUserDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.ProductQnaUserDTO" alias="productQnaUserDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.ProductQnaPageDTO" alias="productQnaPageDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.ProductQnaDTO" alias="productQnaDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.OrderPageDTO" alias="orderPageDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.AdminQnaDTO" alias="adminQnaDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.AdminQnaCommentDTO" alias="adminQnaCommentDTO"/>
        <typeAlias type="com.example.pickitup.domain.vo.dto.AdminBoardPageDTO" alias="adminBoardPageDTO"/>

        <typeAlias type="com.example.pickitup.domain.vo.dto.OrderUserDTO" alias="orderUserDTO"/>
    </typeAliases>
</configuration>
