<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/main/main}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>main</title>
    <!--  css  -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!--  jquery  -->
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!--  header,footer  -->
    <link rel="stylesheet" href="/assets/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/request_detail.css">
    <link rel="stylesheet" href="/assets/css/footer.css" />
    <!--  slick  -->
    <script type="text/javascript" src="/assets/lib/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/lib/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/assets/lib/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>
<body>
<!--  header start  -->
<div th:replace="~{/header/header :: headerFragment}"></div>
<!--  header end  -->
<main id="content">
    <!--   여행 다이어리 작성 안내 start     -->
    <section class="teaser">
        <div class="teaser_content">
            <div class="section1">
                <div class="f_teaser">
                    <h2>여행으로 삶을 바꾸다!</h2>
                    <p>
                        Koinonia Familly와 함께하는 여행스토리 나만의 이야기가 아닌 모두의 이야기로!
                        <br>
                        작은 변화로 큰 행복을 누려보세요.
                    </p>
                </div>
                <div class="diary_btn">
                    <a th:href="@{/board/register}">다이어리 작성하기</a>
                </div>
            </div>
            <div class="f_teaser_pt">
                <ul>
                    <li>
                        <img src="/images/image7.PNG">
                    </li>
                    <li>
                        <img src="/images/image8.PNG">
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--   여행 다이어리 작성 안내 end     -->
    <!--    다이어리 section start   -->
    <div class="story_st">
        <h2>여행 다이어리</h2>
        <div class="diary_btn">
            <a th:href="@{/board/list}">다이어리 더보기</a>
        </div>
    </div>
    <section class="story_slide">
        <th:block th:each="idx:${#numbers.sequence(0,5)}">
            <!--       sample start         -->
            <div class="story1">
                <a th:href="@{/board/detail(bno = ${boardList[idx].bno})}">
                    <img th:src="${boardThumfileUrlList[idx]}">
                </a>
            </div>
            <!--       sample end         -->
        </th:block>
    </section>
    <!--    다이어리 section start   -->
    <!--   여행 기념품 목록 start     -->
    <div class="goods_int">
        <h2>여행자 기념품</h2>
    </div>
    <!--     part 1       -->
    <section class="goods_slide2 goods">
        <div class="goods_total">
            <div class="goods1" >
                <img th:src="${productThumfileUrlList[0]}">
            </div>
            <div class="goods_2">
                <div class="goods2">
                    <img th:src="${productThumfileUrlList[1]}" >
                </div>
                <div class="goods3">
                    <img th:src="${productThumfileUrlList[2]}" >
                </div>
            </div>
            <div class="goods_4">
                <div class="goods4">
                    <img th:src="${productThumfileUrlList[3]}" >
                </div>
                <div class="goods5">
                    <img th:src="${productThumfileUrlList[4]}" >
                </div>
            </div>
        </div>
    </section>
    <!--     part 2       -->
    <section class="goods_slide goods">
        <th:block th:each="num:${#numbers.sequence(5,14)}">
            <div>
                <a th:href="@{/product/detail(pno = ${productList[num].pno})}">
                    <div>
                        <img th:src="${productThumfileUrlList[num]}">
                        <div class="goods_name">
                            <p th:text="${productList[num].title}"></p>
                        </div>
                    </div>
                </a>
            </div>
        </th:block>
    </section>
    <!--   여행 기념품 목록 end     -->
    <!--   koinonia contents 안내 start     -->
    <section class="function_slide">
        <div class="function_int">
            <h2>Koinonia 서비스</h2>
            <div class="service_slide">
                <div class="service1 service_part">
                    <div class="service">
                        <img src="/images/image2.png" >
                    </div>
                    <div class="service_img">
                        <h3>여행자들의 기념품</h3>
                        <p>해외 여행을 다녀온 여행자들의 기념품들을 구경하고 거래해보자! </p>
                    </div>
                </div>
                <div class="service2 service_part">
                    <div>
                        <img src="/images/image3.png" >
                    </div>
                    <div class="service_img">
                        <h3>원하는 기념품 요청</h3>
                        <p>해외의 원하는 기념품이 있으면 여행자들에게 요청해보자!</p>
                    </div>
                </div>
                <div class="service3 service_part">
                    <div>
                        <img src="/images/image4.png" >
                    </div>
                    <div class="service_img">
                        <h3>나라별 유명한 기념품</h3>
                        <p>각나라마다 기념품들은 어떤것이 있을까?</p>
                    </div>
                </div>
                <div class="service4 service_part">
                    <div>
                        <img src="/images/image6.png" >
                    </div>
                    <div class="service_img">
                        <h3>여행자 다이어리</h3>
                        <p>수많은 여행자들의 여행 스토리를 들어보자!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--   koinonia contents 안내 end     -->
</main>
<!--  footer start  -->
<div th:replace="~{/footer/footer :: footerFragment}"></div>
<!--  footer end  -->
</body>
<script>
    // 슬라이드 생성
    $(function (){
        $('.service_slide').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            arrows: true,
            dots: true
        });
    })
    $(function (){
        $('.goods_slide').slick({
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 1,
            arrows: true,
            dots: true
        });
    })
    $(function (){
        $('.story_slide').slick({
            infinite: true,
            slidesToShow: 2,
            slidesToScroll: 1,
            arrows: true,
            dots: true
        });
    })
</script>
<!-- header,footer -->
<script src="/assets/js/header.js"></script>
</html>