<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="/assets/css/admin_style.css">
<link rel="stylesheet" href="/assets/css/sideBarStyle.css">

<body>
<div th:fragment="AdminSideBarImport">
<div id="sideBar">
    <ul>
        <li class="sideBarCategory">
            <a href="/admin/main">
                <div>
                        <span class="material-symbols-outlined">
                            home
                        </span>
                    <span class="sideBarTitle" style="margin-left: 12px;">홈</span>
                </div>

            </a>

        </li>

        <li class="sideBarCategory" id="user">
            <a href="/admin/userList" class="user">
                <div><span class="material-symbols-outlined icon">person
                        </span>
                    <span class="sideBarTitle">유저 관리</span>
                </div>
            </a>




        </li>
        <li class="sideBarCategory" id="product">
            <a>
                <div><span class="material-symbols-outlined icon">
                            storefront
                        </span><span class="sideBarTitle">상품 관리</span>
                </div><span class="material-symbols-outlined more">
                        expand_more
                    </span>
            </a>
            <!-- onClick 시 노출 -->
            <ul class="sideBarDetail product">
                <li><a class="sideBarDetail" href="/admin/productRegister">상품 등록</a></li>
                <li><a class="sideBarDetail" href="/admin/productList">상품 목록</a></li>
            </ul>
        </li>

        <li class="sideBarCategory" id="order">
            <a href="#">
                <div>
                        <span class="material-symbols-outlined icon">
                            shopping_cart
                        </span><span class="sideBarTitle">주문 관리</span>
                </div>
                <span class="material-symbols-outlined more">
                        expand_more
                    </span>
            </a>
            <!-- onClick 시 노출 -->
            <ul class="sideBarDetail order">
                <li><a class="sideBarDetail" href="/admin/orderList">전체주문목록</a></li>
                <!-- <li><a class="sideBarDetail" href="#">배송 관리</a></li>
                <li><a class="sideBarDetail" href="#">취소 관리</a></li> -->
            </ul>
        </li>
        <li class="sideBarCategory" id="project">
            <a href="#">
                <div>
                        <span class="material-symbols-outlined icon">
                            public
                        </span>
                    <span class="sideBarTitle">프로젝트 관리</span>
                </div>
                <span class="material-symbols-outlined more">
                        expand_more
                    </span>
            </a>
            <!-- onClick 시 노출 -->
            <ul class="sideBarDetail project">
                <li><a class="sideBarDetail" href="/admin/projectCreate">프로젝트 생성</a></li>
                <li><a class="sideBarDetail" href="/admin/projectList">프로젝트 목록</a></li>
                <!-- <li><a class="sideBarDetail" href="adminProjectList.html">프로젝트 목록</a></li>
                <li><a class="sideBarDetail" href="#">QR코드</a></li> -->
            </ul>
        </li>
        <li class="sideBarCategory" id="board">
            <a href="#" >
                <div>
                        <span class="material-symbols-outlined icon">
                            assignment
                        </span>
                    <span class="sideBarTitle">게시물 관리</span>
                </div>
                <span class="material-symbols-outlined more">
                        expand_more
                    </span>
            </a>
            <!-- onClick 시 노출 -->
            <ul class="sideBarDetail board">
                <li><a class="sideBarDetail" href="/admin/boardWrite">게시글 작성</a></li>
                <li><a class="sideBarDetail" href="/admin/boardList">게시글목록</a></li>
                <!-- <li><a class="sideBarDetail" href="#">QR코드</a></li> -->
            </ul>
        </li>

    </ul>
</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:fragment="AdminSideBarJSImport">
    $('li.sideBarCategory').on("click", function () {
        let category = $(this).attr('id');
        $('.' + category).toggle();
        //    $(this).children('a:eq(0)').toggleClass('active');

    });
</script>


</html>