<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/admin_style.css">

    <title>게시물 목록</title>
</head>
<link rel="stylesheet" href="/assets/css/admin_style.css">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
<!--
1. 검색명(상품명, 상품번호, )
2. 카테고리
3. 상품 등록일
4. 진열상태
5. 재고상태

 -->

<body>
<div th:replace="~{/admin/adminSideBar :: AdminSideBarImport}"></div>

<div class="root">
    <!-- content -->
    <div id="container">
        <div>
            <h2>게시물 목록</h2>
        </div>
        <div class="searchBox" id="boardSearchBox">
            <form id="boardSearchForm" action="/admin/boardList/" method="get" >
                <table>
                    <tr>
                        <th>기간</th>
                        <td>
                            <div id="my_calen">
                                <div class="main-cal">
                                    <div class="calen" >

                                        <!-- search -->
                                        <table class="searchBoxCal">
                                            <colgroup>
                                                <col width="123px">
                                                <col width="*">
                                            </colgroup>
                                            <div class="calcal" >
                                                <ul class="searchDate" style="margin: 0; padding: 0; margin-bottom: 10px; display: flex; ">
                                                    <li>
                                                <span class="chkbox2">
                                                    <input type="radio"  name= "dataType" id="dateType1" onclick="setSearchDate('0d')"/>
                                                    <label for="dateType1">당일</label>
                                                </span>
                                                    </li>
                                                    <li>
                                                <span class="chkbox2">
                                                    <input type="radio"  name= "dataType" id="dateType3" onclick="setSearchDate('1w')"/>
                                                    <label for="dateType3">1주</label>
                                                </span>
                                                    </li>
                                                    <li>
                                                <span class="chkbox2">
                                                    <input type="radio"  name= "dataType" id="dateType4" onclick="setSearchDate('2w')"/>
                                                    <label for="dateType4">2주</label>
                                                </span>
                                                    </li>
                                                    <li>
                                                <span class="chkbox2">
                                                    <input type="radio"  name= "dataType" id="dateType5" onclick="setSearchDate('1m')"/>
                                                    <label for="dateType5">1개월</label>
                                                </span>
                                                    </li>
                                                    <li>
                                                <span class="chkbox2">
                                                    <input type="radio"  name= "dataType" id="dateType6" onclick="setSearchDate('3m')"/>
                                                    <label for="dateType6">3개월</label>
                                                </span>
                                                    </li>
                                                    <li>
                                                <span class="chkbox2">
                                                    <input type="radio"  name= "dataType" id="dateType7" onclick="setSearchDate('6m')"/>
                                                    <label for="dateType7">6개월</label>
                                                </span>
                                                    </li>
                                                    <li>
                                                <span class="chkbox2">
                                                    <input type="radio"  name= "dataType" id="dateType8" onclick="setSearchDate('1y')"/>
                                                    <label for="dateType8">1년</label>
                                                </span>
                                                    </li>
                                                </ul>

                                                <div class="clearfix">
                                                    <!-- 시작일 -->
                                                    <span class="dset">
                                                <input type="text" class="datepicker inpType" name="startDate" id="startDate" style="width: 140px;">
                                            </span>
                                                    <span class="demi">~</span>
                                                    <!-- 종료일 -->
                                                    <span class="dset">
                                                <input type="text" class="datepicker inpType" name="endDate" id="endDate" style="width: 140px;">
                                            </span>
                                                </div>
                                            </div>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr th:object="${adminCriteria}">
                        <th>게시판 선택</th>
                        <td>
                            <select name="type3" id="type3">
                                <option value="all" th:selected="*{type3} == 'all'">전체</option>
                                <option value="notice" th:selected="*{type3} == 'notice'">공지사항</option>
                                <option value="productQna" th:selected="*{type3} == 'productQna'">스토어 문의</option>
                                <option value="projectQna" th:selected="*{type3} == 'projectQna'">프로젝트 문의</option>
                            </select>
                        </td>
                    </tr>
                    <tr th:object="${adminCriteria}">
                        <th>게시글 찾기</th>
                        <td>
                            <select name="type2">
                                <option value="title" th:selected="*{type2} == 'title'">제목</option>
                                <option value="content" th:selected="*{type2} == 'content'">내용</option>
                                <option value="writer" th:selected="*{type2} == 'writer'">작성자</option>
                            </select>
                            <input type="text" value="" name="keyword" th:value="*{keyword}">
                        </td>
                    </tr>
                    <tr th:object="${adminCriteria}" id="answer-tr">
                        <th>답변상태</th>
                        <td>
                            <span>전체</span><input name="type1"  type="radio" value="all" th:checked="*{type1} == 'all'" id="all" checked>
                            <span>답변 대기</span><input name="type1"   value="noAnswer" th:checked="*{type1} == 'noAnswer'" type="radio"  id="noAnswer">
                            <span>답변 완료</span><input name="type1"  value="answer" th:checked="*{type1} == 'answer'" type="radio"  id="answer">
                        </td>
                    </tr>
                </table>
                <div class="btnBox">
                    <button type="button" id="orderSearchBtn">검색</button>
                </div>
            </form>
        </div>

        <!-- 클래스명 변경 -->
        <div class="listBox">
            <table id="orderTbl">
                <tr>
                    <div class="listTitle" th:object="${adminBoardPageDTO}">
                            <span>[총
                                <strong th:text="*{adminBoardCount}"></strong>개]
                                </span>


                        <td colspan="12">
                            <div class="listTitle">
                                <a href="javascript:void(0);" class="listBtn" id="adminBoardDelete" onclick="deleteValue();">삭제</a>
                                <a href="javascript:void(0);" class="listBtn" id="noticeFix" onclick="noticeConfirm();">공지지정</a>
                                <a href="javascript:void(0);" class="listBtn" id="noticeOut" onclick="noticeCancel();">공지해제</a>

                            </div>
                        </td>


                    </div>

                </tr>


                <tr th:object="${adminCriteria}">
                    <!-- 생활, 주방, 욕실, 반려동물, 화장품, 식품, 문구, 원예  -->

                    <th scope="col">선택</th>
                    <th scope="col">번호</th>
                    <th scope="col">분류</th>
                    <th scope="col" th:value="type3">
                        <span th:if="*{type3} == 'notice'">공지사항</span>
                        <span th:if="*{type3} == 'createrQna'">크리에이터</span>
                        <span th:if="*{type3} == 'projectQna'">프로젝트</span>
                        <span th:if="*{type3} == 'productQna'">상품</span>
                        <span th:if="*{type3} == 'all'"></span>
                        <span th:unless="*{type3} == 'nothing'">제목</span>
                    </th>
                    <th scope="col">작성자</th>
                    <th scope="col">작성일</th>
                    <th scope="col">비 고</th>
                    <th scope="col">상세보기</th>
                </tr>
                <th:block th:each="adminboard, adminboardStat:${adminboardList}">
                    <tr th:object="${adminboard}">
                        <td><input name="delList" type="checkbox" th:value="*{num}"></td>
                        <td th:text="${adminboardStat.index}+1"></td>
                        <td th:value="*{category}"><span th:if="*{category == '2'}">상품문의</span>
                            <span th:if="*{category == '1'}">프로젝트문의</span>
                            <span th:if="*{category == '3'}">크리에이터문의</span>
                            <span th:if="*{category == '4'}">공지사항</span>
                        </td>
                        <td th:text="*{title}" th:value="*{title}"></td>
                        <td th:text="*{nickname}" th:value="*{nickname}"></td>
                        <td th:text="*{#temporals.createDate(registDate, 'yyyy-MM-dd HH:mm:ss')}" th:value="*{registDate}"></td>
                        <td >
                            <span th:if="*{category != '4' and answerStatus == '1'}" th:style="${'color:blue;'}">답변 대기</span>
                            <span th:if="*{category != '4' and answerStatus == '2'}" th:style="${'color:red;'}">답변 완료</span>
                            <span th:if="*{category == '4' and status == '1'}" th:style="${'color:blue;'}">공지 지정</span>
                            <span th:if="*{category == '4' and status == '2'}" th:style="${'color:red;'}">공지 해제</span>
                        </td>
                        <!-- 상품 상세보기로 이동 -->
                        <input type="hidden" id="projectQnaNum" name="projectQnaNum" th:value="*{projectQnaNum}">
                        <input type="hidden" id="productQnaNum" name="productQnaNum" th:value="*{productQnaNum}">
                        <td>
                            <a th:if="*{category == '4'}" CLASS="getNoticeDetail" th:href="*{num}">상세보기</a>
                            <a th:if="*{category != '4'}" CLASS="getDetail" th:href="*{num}">상세보기</a>
                        </td>
                    </tr>
                </th:block>
            </table>
            <div th:object="${adminBoardPageDTO}" class="paging" style="text-align: center">
                <a class="changePage" th:href="*{startPage - 1}" th:if="*{prev}">&lt;</a>
                <th:block th:each="num:${#numbers.sequence(adminBoardPageDTO.startPage, adminBoardPageDTO.endPage)}">
                    <a class= "changePages"  href="javascript:void(0);" th:if="${num == adminBoardPageDTO.adminCriteria.pageNum}" th:text="${num}"></a>
                    <a class="changePage" th:href="${num}" th:unless="${num == adminBoardPageDTO.adminCriteria.pageNum}" th:text="${num}"></a>
                </th:block>
                <a class="changePage" th:href="*{endPage + 1}" th:if="*{next}">&gt;</a>
                <a class="changePage" th:href="*{adminCriteria.pageNum + 1}" th:if="*{adminCriteria.pageNum < realEnd}">&gt;</a>
            </div>


        </div>
        <!-- 페이징 처리 -->


        <form action="/admin/boardList" name="pageForm" th:object="${adminCriteria}">
            <input type="hidden" th:field="*{pageNum}">
            <input type="hidden" th:field="*{amount}">
            <input type="hidden" th:field="*{startDate}">
            <input type="hidden" th:field="*{endDate}">
            <input type="hidden" th:field="*{keyword}">
            <input type="hidden" th:field="*{type1}">
            <input type="hidden" th:field="*{type2}">
            <input type="hidden" th:field="*{type3}">
        </form>
    </div>


</div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!-- datepicker 한국어로 -->
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/datepicker-ko.js"></script>
<script>
    $('#type3').change(function() {
        var state = $('#type3 option:selected').val();
        if ( state == 'notice' ) {
            $('#all').attr('disabled', true);
            $('#noAnswer').attr('disabled', true);
            $('#answer').attr('disabled', true);
        } else {
            $('#all').attr('disabled', false);
            $('#noAnswer').attr('disabled', false);
            $('#answer').attr('disabled', false);
        }

    });

    $(document).ready(function () {
        var state = $('#type3 option:selected').val();
        if ( state == 'notice' ) {
            $('#all').attr('disabled', true);
            $('#noAnswer').attr('disabled', true);
            $('#answer').attr('disabled', true);

        } else {
            $('#all').attr('disabled', false);
            $('#noAnswer').attr('disabled', false);
            $('#answer').attr('disabled', false);
        }
    });


</script>

<script th:inline="javascript">
    let num = [[${num}]];
    let paging = [[${adminCriteria.listLink}]];

    $("a.getDetail").click(function(e){
        e.preventDefault();
        location.href = "/admin/userQnA" + paging + "&num="+$(this).attr('href');
        console.log("들어옴");
    });

    $("a.getNoticeDetail").click(function(e){
        e.preventDefault();
        location.href = "/admin/adminNoticeDetail" + paging + "&num="+$(this).attr('href');
        console.log("들어옴");
    });


    //타임리프에서 필드값으로 해당 유저의 번호 뿌려줄것
    $("a.changePage").click(function(e){
        e.preventDefault();
        $(pageForm).find("input[name='pageNum']").val($(this).attr("href"));
        $(pageForm).submit();
    });


    $('#orderSearchBtn').on("click", function (e) {
        $("#boardSearchForm").submit();
    });




</script>


<script>
    $(document).ready(function() {
        //datepicker 한국어로 사용하기 위한 언어설정
        $.datepicker.setDefaults($.datepicker.regional['ko']);
        // Datepicker
        $(".datepicker").datepicker({
            showButtonPanel: false,
            dateFormat: "yy-mm-dd",
            // onClose : function ( selectedDate ) {
            //     var eleId = $(this).attr("id");
            //     var optionName = "";
            //     if(eleId.indexOf("StartDate") > 0) {
            //         eleId = eleId.replace("StartDate", "EndDate");
            //         optionName = "minDate";
            //     } else {
            //         eleId = eleId.replace("EndDate", "StartDate");
            //         optionName = "maxDate";
            //     }
            //     $("#"+eleId).datepicker( "option", optionName, selectedDate );
            //     $(".searchDate").find(".chkbox2").removeClass("on");
            // }
        });
        //시작일.
        $('#startDate').datepicker("option","onClose", function( selectedDate ) {
            // 시작일 datepicker가 닫힐때
            // 종료일의 선택할수있는 최소 날짜(minDate)를 선택한 시작일로 지정
            $("#endDate").datepicker( "option", "minDate", selectedDate );
            $(".searchDate").find(".chkbox2").removeClass("on");
        });
        //종료일.
        $('#endDate').datepicker("option","onClose", function( selectedDate ) {
            // 종료일 datepicker가 닫힐때
            // 시작일의 선택할수있는 최대 날짜(maxDate)를 선택한 종료일로 지정
            $("#startDate").datepicker( "option", "maxDate", selectedDate );
            $(".searchDate").find(".chkbox2").removeClass("on");
        });
        $(".dateclick").dateclick();    // DateClick
        $(".searchDate").schDate();        // searchDate
    });
    // Search Date
    jQuery.fn.schDate = function(){
        var $obj = $(this);
        var $chk = $obj.find("input[type=radio]");
        $chk.click(function(){
            $('input:not(:checked)').parent(".chkbox2").removeClass("on");
            $('input:checked').parent(".chkbox2").addClass("on");
        });
    };
    // DateClick
    jQuery.fn.dateclick = function(){
        var $obj = $(this);
        $obj.click(function(){
            $(this).parent().find("input").focus();
        });
    }
    function setSearchDate(start){
        var num = start.substring(0,1);
        var str = start.substring(1,2);
        var today = new Date();
        var year = today.getFullYear();
        var month = today.getMonth() + 1;
        var day = today.getDate();
        var endDate = $.datepicker.formatDate('yy-mm-dd', today);
        $('#endDate').val(endDate);
        if(str == 'd'){
            today.setDate(today.getDate() - num);
        }else if (str == 'w'){
            today.setDate(today.getDate() - (num*7));
        }else if (str == 'y'){
            today.setDate(today.getDate() -(num*364));
        }else if (str == 'm'){
            today.setMonth(today.getMonth() - num);
            today.setDate(today.getDate() + 1);
        }
        var startDate = $.datepicker.formatDate('yy-mm-dd', today);
        $('#startDate').val(startDate);
        // 종료일은 시작일 이전 날짜 선택하지 못하도록 비활성화
        $("#endDate").datepicker( "option", "minDate", startDate );
        // 시작일은 종료일 이후 날짜 선택하지 못하도록 비활성화
        $("#startDate").datepicker( "option", "maxDate", endDate );
    }
</script>

<script>

    //삭제버튼 클릭시
    function deleteValue() {
        var url = "/admin/deleteById";
        var valueArr =new Array();
        let list = $("input[name='delList']:checked");
        for(let i=0; i<list.length; i++){
            console.log('list.length : ' + list.length);
            console.log(("list[i] : " + list[i].value));
            valueArr.push(list[i].value);            }
        console.log(valueArr);
        if (valueArr.length == 0) {
            alert("삭제할 항목을 선택해 주세요.");
        }
        else {
            var chk = confirm("정말 삭제하시겠습니까?");
            if(chk){
                $.ajax({
                    url: url,
                    type: 'post',
                    traditional: true,
                    data: {
                        valueArr: valueArr
                    },
                    success: function () {
                        alert("삭제 성공");
                        // location.replace("/admin/boardList")
                        location.href = "/admin/boardList" + paging;
                    }
                });
            }
        }
    }
    //공지 해제 버튼 클릭시
    function noticeCancel() {
        var url = "/admin/noticeCancel";
        var valueArr =new Array();
        let list = $("input[name='delList']:checked");
        for(let i=0; i<list.length; i++){
            console.log('list.length : ' + list.length);
            console.log(("list[i] : " + list[i].value));
            valueArr.push(list[i].value);            }

        console.log(valueArr);
        if (valueArr.length == 0) {
            alert("공지 해제할 항목을 선택하세요.");
        }
        else {
            var chk = confirm("정말 공지 해제 합니까?");
            if(chk){
                $.ajax({
                    url: url,
                    type: 'post',
                    traditional: true,
                    data: {
                        valueArr: valueArr
                    },
                    success: function () {
                        alert("공지 해제 했습니다");
                        location.href = "/admin/boardList" + paging;
                        // location.replace("/admin/boardList")
                    }
                });}


            // 공지 지정 버튼 클릭시
            $('#noticeFix').on("click", function (e) {
                e.preventDefault();
                if (confirm("해당 게시글을 공지사항으로 지정합니까?")) {

                    // 게시글 삭제 처리
                    $.ajax({
                        url: "",
                        type: "post",
                        data: {adminboardVO: adminboardVO},
                        success: function () {

                        }
                    });


                } else {

                }
            });
        }
    }

    //공지 지정 버튼 클릭시
    function noticeConfirm() {
        var url = "/admin/noticeConfirm";
        var valueArr =new Array();
        let list = $("input[name='delList']:checked");
        for(let i=0; i<list.length; i++){
            console.log('list.length : ' + list.length);
            console.log(("list[i] : " + list[i].value));
            valueArr.push(list[i].value);            }

        console.log(valueArr);
        if (valueArr.length == 0) {
            alert("공지 지정할 항목을 선택하세요.");
        }
        else {
            var chk = confirm("정말 공지 지정 합니까?");
            if(chk){
                $.ajax({
                    url: url,
                    type: 'post',
                    traditional: true,
                    data: {
                        valueArr: valueArr
                    },
                    success: function () {
                        alert("공지 지정 했습니다");
                        // location.replace("/admin/boardList")
                        location.href = "/admin/boardList" + paging;
                    }
                });}


            // 공지 지정 버튼 클릭시
            $('#noticeFix').on("click", function (e) {
                e.preventDefault();
                if (confirm("해당 게시글을 공지사항으로 지정합니까?")) {

                    // 게시글 삭제 처리
                    $.ajax({
                        url: "",
                        type: "post",
                        data: {adminboardVO: adminboardVO},
                        success: function () {

                        }
                    });


                } else {

                }
            });
        }
    }

    // 공지 해제 버튼 클릭시
    /*        $('#noticeOut').on("click", function (e) {
                e.preventDefault();
                if (confirm("해당 게시글을 공지사항에서 해제합니까?")) {

                    // 게시글 삭제 처리
                    $.ajax({
                        url: "",
                        type: "post",
                        data: {adminboardVO: adminboardVO},
                        success: function () {

                        }
                    });
*/



</script>
<script th:replace="~{/admin/adminSideBar :: AdminSideBarJSImport}"></script>
</html>