<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pickitup.mapper.user.ApplyMapper">

    <!-- 포인트 획득한 플로깅 목록 -->
    <select id="successProject" resultType="applyVO">
        SELECT NUM, APPROACH, REGIST_DATE, PROJECT_NUM, USER_NUM
        FROM TBL_APPLY
        WHERE USER_NUM = #{userNum} AND APPROACH ='2'
    </select>

    <!-- 프로젝트별 신청자 수 확인  -->
    <select id="countApply" resultType="long">
        SELECT COUNT(NUM)
        FROM TBL_APPLY app
        WHERE app.PROJECT_NUM = #{projectNum}
    </select>

    <!--  지급완료 (관리자용) -->
    <update id="setApproach">
        UPDATE TBL_APPLY
        SET APPROACH='4'
        WHERE NUM=#{applynum}
    </update>


    <!-- 프로젝트 진행중 (관리자용) -->
    <update id="setApproachToContinue">
        UPDATE TBL_APPLY
        SET APPROACH='2'
        WHERE NUM=#{applynum}
    </update>

    <!-- 프로젝트 지원  -->
    <insert id="insert">
        INSERT INTO TBL_APPLY
        (NUM, REGIST_DATE, APPROACH, PROJECT_NUM, USER_NUM)
        VALUES(SEQ_APPLY.NEXTVAL, SYSDATE,NULL, #{projectNum}, #{userNum})
    </insert>



    <!-- 신청한 유저정보 불러오기 -->
    <select id="getApplyUser" resultType="applyDTO">
        SELECT TBL_PROJECT.POINT AS POINT,TBL_USER.NICKNAME AS NICKNAME,TBL_PROJECT.NUM AS PROJECTNUM,TBL_APPLY.NUM AS NUM,TBL_APPLY.APPROACH AS APPROACH,TBL_USER.NUM AS userNum,TBL_PROJECT.STARTTIME AS startTime ,TBL_PROJECT.ENDTIME AS endTime, TBL_USER.PHONE AS PHONE,TBL_PROJECT.TERRAIN AS TERRAIN,TBL_PROJECT.COURSE AS COURSE,TBL_PROJECT.REGIST_DATE AS REGIST_DATE
        FROM TBL_PROJECT,TBL_APPLY,TBL_USER
        WHERE TBL_PROJECT.NUM = TBL_APPLY.PROJECT_NUM
        AND TBL_USER.NUM = TBL_APPLY.USER_NUM
        AND TBL_PROJECT.NUM =#{projectNum}
    </select>



    <!-- 유저 플로깅 시작  -->
    <update id="userStart">
        UPDATE TBL_APPLY
        SET APPROACH='1', START_TIME= SYSDATE
        WHERE USER_NUM = #{userNum} AND PROJECT_NUM = #{projectNum}
    </update>

    <!-- 유저 플로깅 종료   -->
    <update id="userEnd">
        UPDATE TBL_APPLY
        SET APPROACH='2', END_TIME = SYSDATE
        WHERE USER_NUM = #{userNum} AND PROJECT_NUM = #{projectNum}
    </update>

    <!-- 유저 플로깅 완료   -->
    <update id="userFinish">
        UPDATE TBL_APPLY
        SET APPROACH='4'
        WHERE NUM = #{num}
    </update>


</mapper>


















