<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pickitup.mapper.user.CompanyMapper">


    <!--회원 가입-->
    <insert id="insert">
        INSERT INTO TBL_COMPANY
        (NUM, EMAIL, PASSWORD,  NICKNAME, PHONE, BUSINESS_PHONE, ADDRESS,ADDRESS_DETAIL, BUSINESS_NUMBER, REGIST_DATE, PROFILE_FILE_NAME, PROFILE_UPLOAD_PATH)
        VALUES(SEQ_COMPANY.NEXTVAL, #{email}, #{password}, #{nickname}, #{phone}, #{businessPhone}, #{address},#{addressDetail}, #{businessNumber} , SYSDATE, #{profileFileName}, #{profileUploadPath})
    </insert>

    <!-- 유저 정보 상세보기   -->
    <select id="getDetail" resultType="companyVO">
        SELECT NUM, EMAIL, PASSWORD, NICKNAME, PHONE, BUSINESS_PHONE, ADDRESS, BUSINESS_NUMBER, REGIST_DATE, PROFILE_FILE_NAME, PROFILE_UPLOAD_PATH,CATEGORY,STATUS,APPROVAL
        FROM TBL_COMPANY
        WHERE NUM=#{num}
    </select>

    <!-- 로그인   -->
    <select id="login" resultType="_int">
        SELECT NUM, NICKNAME
        FROM TBL_COMPANY
        WHERE EMAIL=#{email} AND PASSWORD=#{password}
    </select>

    <!-- (관리자용) 비밀번호 변경   -->
    <update id="adminCompanyPwUpdate">
        UPDATE TBL_COMPANY
        SET PASSWORD=#{password}
        WHERE NUM=#{num}
    </update>

    <!--    관리자용 유저 활성/비화성화 업데이트-->
    <update id="companyStatusEnable">
        UPDATE TBL_COMPANY
        SET STATUS = '1'
        WHERE NUM=#{num}
    </update>

    <update id="companyStatusDisable">
        UPDATE TBL_COMPANY
        SET STATUS = '0'
        WHERE NUM=#{num}
    </update>

    <!--    관리자용 승인/거절상태 업데이트-->
    <update id="companyApprovalEnable">
        UPDATE TBL_COMPANY
        SET APPROVAL = '1'
        WHERE NUM=#{num}
    </update>

    <update id="companyApprovalDisable">
        UPDATE TBL_COMPANY
        SET APPROVAL = '0'
        WHERE NUM=#{num}
    </update>
</mapper>


















