<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pickitup.mapper.user.JjimMapper">
    <select id="getProjectList" resultType="projectVO">
        <![CDATA[
        SELECT proj.NUM, proj.TITLE, proj.CONTENT, proj.COURSE, proj.TERRAIN, proj.POINT, proj.APPROVAL, proj.STARTTIME, proj.ENDTIME, proj.START_ADDRESS, proj.END_ADDRESS, proj.DISTANCE, proj.START_QR, proj.REGIST_DATE, proj.UPDATE_DATE, proj.STATUS, proj.COMPANY_NUM, proj.JJIM_COUNT, proj.PROJECT_DATE
	        FROM TBL_JJIM jj
	            INNER JOIN TBL_PROJECT proj ON jj.PROJECT_NUM = proj.NUM
	            INNER JOIN TBL_USER u ON jj.USER_NUM = u.NUM
            WHERE jj.USER_NUM = #{userNum} AND ROWNUM < 10
        ORDER BY jj.NUM DESC
        ]]>
    </select>

    <select id="getProductList" resultType="productVO">
        <![CDATA[
        SELECT prod.NUM, prod.NAME, prod.CONTENT, prod.CATEGORY, prod.PRICE, prod.STOCK, prod.ORIGIN, prod.MANUFACTURER, prod.SUPPLIER, prod.REGIST_DATE, prod.STATUS, prod.JJIM_COUNT
	        FROM TBL_JJIM jj
	            INNER JOIN TBL_PRODUCT prod ON jj.PRODUCT_NUM = prod.NUM
	            INNER JOIN TBL_USER u ON jj.USER_NUM = u.NUM
            WHERE jj.USER_NUM = #{userNum} AND ROWNUM < 10
        ORDER BY jj.NUM DESC
        ]]>
    </select>

    <select id="getList" resultType="jjimVO">
        SELECT NUM, CATEGORY, REGIST_DATE, USER_NUM, PROJECT_NUM, PRODUCT_NUM
        FROM TBL_JJIM
    </select>

    <insert id="insert">
        INSERT INTO TBL_JJIM
        (NUM, CATEGORY, REGIST_DATE, USER_NUM, PRODUCT_NUM)
        VALUES(SEQ_JJIM.NEXTVAL, #{category}, SYSDATE , #{userNum}, #{productNum})
    </insert>

    <delete id="delete">
        DELETE FROM TBL_JJIM
        WHERE USER_NUM = #{userNum} AND PRODUCT_NUM = #{productNum}
    </delete>

    <select id="count" resultType="_int">
        SELECT COUNT(NUM) FROM TBL_JJIM
        WHERE PRODUCT_NUM =#{productNum}
    </select>

    <insert id="myProjectJjimInsert">
        INSERT INTO TBL_JJIM
        (NUM, CATEGORY, REGIST_DATE, USER_NUM, PROJECT_NUM)
        VALUES(SEQ_JJIM.NEXTVAL, #{category}, SYSDATE, #{userNum}, #{projectNum})
    </insert>

    <select id="myProjectJjimCount" resultType="_int">
        SELECT JJIM_COUNT FROM TBL_PROJECT
        WHERE NUM = #{projectNum}
    </select>

    <delete id="myProjectJjimDelete">
        DELETE FROM TBL_JJIM
        WHERE USER_NUM = #{userNum} AND PROJECT_NUM = #{projectNum}
    </delete>

</mapper>