<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pickitup.mapper.product.productQna.ProductQnaMapper">
<!--    <select id="getList" resultType="productQnaVO">-->
<!--    SELECT-->
<!--        NUM, CONTENT, REGIST_DATE, UPDATE_DATE,-->
<!--        USER_NUM, PRODUCT_NUM-->
<!--    FROM TBL_PRODUCT_QNA-->
<!--    WHERE PRODUCT_NUM=#{productNum}-->
<!--    ORDER BY UPDATE_DATE DESC-->
<!--    </select>-->

<!--    ======================criteria 완성시======================-->
    <select id="getList" resultType="productQnaVO">
        <![CDATA[
        SELECT  NUM, CONTENT, REGIST_DATE, UPDATE_DATE, USER_NUM, PRODUCT_NUM
        FROM
            (
                SELECT /*+ INDEX_DESC(TBL_PRODUCT_REVIEW SYS_C007137) */ROWNUM RN, NUM, CONTENT, REGIST_DATE, UPDATE_DATE, USER_NUM, PRODUCT_NUM
                FROM (
                        SELECT NUM, CONTENT, REGIST_DATE, UPDATE_DATE,USER_NUM, PRODUCT_NUM
                        FROM TBL_PRODUCT_QNA
                        ORDER BY UPDATE_DATE DESC
                     )
                WHERE ROWNUM <= #{productQnaCriteria.pageNum}*#{productQnaCriteria.amount} AND PRODUCT_NUM = #{productNum}
            )
        WHERE RN > (#{productQnaCriteria.pageNum}-1) * #{productQnaCriteria.amount}
        ORDER BY UPDATE_DATE DESC
        ]]>
    </select>
<!--    ======================criteria 완성시======================-->

    <select id="getDetail" resultType="productQnaVO">
    SELECT
        NUM, CONTENT, REGIST_DATE, UPDATE_DATE,
        USER_NUM, PRODUCT_NUM
    FROM TBL_PRODUCT_QNA
    WHERE NUM=#{num}
    ORDER BY UPDATE_DATE DESC
    </select>

    <insert id="insert">
    INSERT INTO TBL_PRODUCT_QNA
        (
            NUM, CONTENT, REGIST_DATE, UPDATE_DATE,
            USER_NUM, PRODUCT_NUM
        )
    VALUES
        (
            SEQ_PRODUCT_QNA.NEXTVAL, #{content},
            SYSDATE, SYSDATE, #{userNum}, #{productNum}
        )
    </insert>
    <update id="update">
    UPDATE TBL_PRODUCT_QNA
    SET
    CONTENT=#{content},
    UPDATE_DATE=SYSDATE
    WHERE NUM=#{num}
    </update>
    <delete id="delete">
    DELETE FROM TBL_PRODUCT_QNA
    WHERE NUM=#{num}
    </delete>

    <select id="count" resultType="_int">
    SELECT count(NUM)
    FROM TBL_PRODUCT_QNA
    WHERE PRODUCT_NUM = #{productNum}
    </select>


</mapper>


















